::-webkit-scrollbar {
  display: none;
}

#aboutMain #sect1 {
  width: 100%;
  height: 100vh;
}

#aboutMain #sect1 .about__s1_person, #aboutMain #sect1 .about__s1_bg, #aboutMain #sect1 .about_s1_person {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#aboutMain #sect1 .about__s1_bg {
  background-image: url(/common/image/about_s1_bg.png);
}

#aboutMain #sect1 .about__s1_person {
  background-image: url(/common/image/about_s1_person.png);
}

#aboutMain #sect1 .about__s1_text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#aboutMain #sect1 .about__s1_tit {
  text-align: center;
}

#aboutMain #sect1 .about__s1_tit span {
  display: inline-block;
  -webkit-transform: rotateX(-90deg) translateZ(120px);
          transform: rotateX(-90deg) translateZ(120px);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #ffffff;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  font-size: 180px;
  line-height: 0.7;
}

#aboutMain #sect1 .about__s1_tit span:nth-of-type(1), #aboutMain #sect1 .about__s1_tit span:nth-of-type(3) {
  opacity: 0.3;
}

#aboutMain #sect1.on-view .about__s1_tit span {
  -webkit-transform: rotateX(0deg) translateZ(40px);
          transform: rotateX(0deg) translateZ(40px);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

#aboutMain #sect1 .about__s1_text2 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  bottom: 12px;
  top: unset;
  opacity: 0.5;
  text-align: center;
}

#aboutMain #sect1 .about__s1_sub {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Helvetica Neue";
}

@media all and (max-width: 768px) {
  #aboutMain #sect1 .about__s1_tit span {
    font-size: 90px;
    line-height: 0.7;
  }
  #aboutMain #sect1 .about__s1_text2 {
    display: none;
  }
}

#aboutMain #sect2 {
  padding-top: 160px;
  padding-bottom: 40px;
  overflow: hidden;
}

#aboutMain #sect2 .line {
  top: 160px;
}

#aboutMain #sect2 .s2__c1_title {
  color: #ffffff;
  margin-left: 40px;
}

#aboutMain #sect2 .s2__c2 {
  max-width: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
}

#aboutMain #sect2 .s2__c2_figure {
  width: 1220px;
}

#aboutMain #sect2 .s2__c2 p {
  color: #ffffff;
  font-size: 3.5vw;
  display: inline-block;
}

#aboutMain #sect2 .s2__c2 .margin {
  color: #ffffff;
  margin-right: 40px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  font-size: 16px;
  display: inline-block;
  text-align: left;
}

#aboutMain #sect2 .s2__c2 p.open-text-child span {
  display: inline-block;
  -webkit-transform: rotateX(-90deg) translateZ(80px);
          transform: rotateX(-90deg) translateZ(80px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#aboutMain #sect2 .s2__c2.on-view p.open-text-child span {
  -webkit-transform: rotateX(0deg) translateZ(20px);
          transform: rotateX(0deg) translateZ(20px);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

#aboutMain #sect2 .s2__c3 {
  margin-top: 260px;
}

#aboutMain #sect2 .s2__c3 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutMain #sect2 .s2__c3 .row:nth-of-type(1) {
  margin-bottom: 245px;
}

#aboutMain #sect2 .s2__c3_fig {
  color: #ffffff;
}

#aboutMain #sect2 .s2__c3_fig .small {
  line-height: 1.66;
  font-size: 22px;
  margin-bottom: 16px;
}

#aboutMain #sect2 .s2__c3_fig .big {
  font-size: 60px;
  margin-top: 12px;
}

#aboutMain #sect2 .s2__c3_fig.s2__c3_f1 .small {
  margin-bottom: 0;
  margin-top: 16px;
}

#aboutMain #sect2 .s2__c3_fig.s2__c3_f3 .small {
  margin-bottom: 0;
  margin-top: 16px;
}

#aboutMain #sect2 .s2__c3_fig.s2__c3_f4 .small {
  margin-bottom: 4px;
  margin-top: 0px;
}

#aboutMain #sect2 .s2__c3_f1 {
  width: 445px;
  margin-left: 40px;
  margin-top: 15%;
}

#aboutMain #sect2 .s2__c3_f2 {
  width: 1220px;
  margin-right: 40px;
}

#aboutMain #sect2 .s2__c3_f3 {
  width: 600px;
  margin-left: 155px;
}

#aboutMain #sect2 .s2__c3_f4 {
  width: 290px;
  margin-right: 195px;
}

#aboutMain #sect2 .s2__c4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 12.5vw;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
  margin-top: 180px;
}

#aboutMain #sect2 .s2__c4.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#aboutMain #sect2 .s2__c4 .persWrap {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
          transform: rotateX(-90deg) translateZ(300px);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

#aboutMain #sect2 .s2__c4.on-view .persWrap {
  opacity: 1;
  -webkit-transform: rotateX(0deg) translateZ(80px);
          transform: rotateX(0deg) translateZ(80px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#aboutMain #sect2 .s2__c4_wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutMain #sect2 .s2__c4_belt {
  display: inline-block;
  font-size: 12.5vw;
  line-height: 1;
}

#aboutMain #sect2 .s2__c4_belt p {
  white-space: nowrap;
  display: inline-block;
  color: #ffffff;
}

#aboutMain #sect2 .s2__c4_belt b {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

@media all and (max-width: 768px) {
  #aboutMain #sect2 .s2__c1_title {
    margin-left: 20px;
  }
  #aboutMain #sect2 .s2__c2 {
    max-width: calc(100% - 40px);
    margin-top: 76px;
  }
  #aboutMain #sect2 .s2__c2 p {
    font-size: 32px;
    display: inline-block;
  }
  #aboutMain #sect2 .s2__c2 .margin {
    font-size: 16px;
    margin-right: 20px;
  }
  #aboutMain #sect2 .s2__c3 {
    margin: 40px 20px 0;
  }
  #aboutMain #sect2 .s2__c3 .row:nth-of-type(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  #aboutMain #sect2 .s2__c3 .row:nth-of-type(2) {
    display: block;
  }
  #aboutMain #sect2 .s2__c3_fig {
    margin: unset;
    font-size: 16px;
  }
  #aboutMain #sect2 .s2__c3_fig .big {
    margin-top: 12px;
  }
  #aboutMain #sect2 .s2__c3_fig .small {
    margin-top: 12px;
  }
  #aboutMain #sect2 .s2__c3_fig .big * {
    font-size: 16px;
  }
  #aboutMain #sect2 .s2__c3_fig img {
    width: 100%;
  }
  #aboutMain #sect2 .s2__c3_f1 {
    width: 75%;
    margin-top: 80px;
  }
  #aboutMain #sect2 .s2__c3_f2 {
    width: 100%;
  }
  #aboutMain #sect2 .s2__c3_f2 .small {
    margin-bottom: 60px;
  }
  #aboutMain #sect2 .s2__c3_f3 {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 80px;
  }
  #aboutMain #sect2 .s2__c3_f4 {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  #aboutMain #sect2 .s2__c3_f4 img {
    width: 45%;
  }
  #aboutMain #sect2 .s2__c4 {
    height: 120px;
    margin-top: 70px;
  }
  #aboutMain #sect2 .s2__c4_belt {
    font-size: 120px;
  }
}

#aboutMain #sect3 {
  width: 100%;
}

#aboutMain #sect3 .s3_container {
  width: 100%;
  height: 1000vh;
  position: relative;
}

#aboutMain #sect3 .s3_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

#aboutMain #sect3 .s3__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-image: url(/common/image/about_s3_bg.png);
  background-size: cover;
  background-position: center center;
}

#aboutMain #sect3 .s3__bg.on-view {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#aboutMain #sect3 .s3__logo {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#aboutMain #sect3 .s3__logo svg {
  fill: #ffffff;
  position: absolute;
  width: 32px;
  height: 32px;
}

#aboutMain #sect3 .s3__logo.on-view {
  opacity: 1;
}

#aboutMain #sect3 .s3__text {
  width: 100%;
  height: 100%;
}

#aboutMain #sect3 .s3__text_list {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

#aboutMain #sect3 .s3__text_listitem {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#aboutMain #sect3 .s3__text_listitem .big, #aboutMain #sect3 .s3__text_listitem .small {
  color: #ffffff;
}

#aboutMain #sect3 .s3__text_listitem .big {
  font-size: 60px;
  line-height: 1.33;
}

#aboutMain #sect3 .s3__text_listitem .big span {
  display: inline-block;
  -webkit-transform: rotateX(-90deg) translateZ(80px);
          transform: rotateX(-90deg) translateZ(80px);
}

#aboutMain #sect3 .s3__text_listitem.on-view .big span {
  -webkit-transform: rotateX(0deg) translateZ(20px);
          transform: rotateX(0deg) translateZ(20px);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

#aboutMain #sect3 .s3__text_listitem .small {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  font-size: 22px;
  margin-top: 24px;
  line-height: 1.66;
}

#aboutMain #sect3 .s3__text_listitem.on-view .small {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#aboutMain #sect3 .s3__text_listitem p.manual span {
  letter-spacing: -15.5px;
}

#aboutMain #sect3 .s3__text_listitem:nth-child(1) p.split_space2:nth-child(2) span:nth-child(5),
#aboutMain #sect3 .s3__text_listitem:nth-child(1) p.split_space2:nth-child(2) span:nth-child(6),
#aboutMain #sect3 .s3__text_listitem:nth-child(1) p.split_space2:nth-child(3) span:nth-child(2),
#aboutMain #sect3 .s3__text_listitem:nth-child(1) p.split_space2:nth-child(3) span:nth-child(3),
#aboutMain #sect3 .s3__text_listitem:nth-child(2) p.split_space2:nth-child(2) span:nth-child(5),
#aboutMain #sect3 .s3__text_listitem:nth-child(2) p.split_space2:nth-child(2) span:nth-child(6),
#aboutMain #sect3 .s3__text_listitem:nth-child(2) p.split_space2:nth-child(2) span:nth-child(7),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(1),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(2),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(3),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(4),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(5),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(6),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(7),
#aboutMain #sect3 .s3__text_listitem:nth-child(3) p.split_space2:nth-child(1) span:nth-child(8),
#aboutMain #sect3 .s3__text_listitem:nth-child(4) p.split_space2:nth-child(4) span:nth-child(4),
#aboutMain #sect3 .s3__text_listitem:nth-child(4) p.split_space2:nth-child(4) span:nth-child(5),
#aboutMain #sect3 .s3__text_listitem:nth-child(4) p.split_space2:nth-child(4) span:nth-child(6) {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

@media all and (max-width: 768px) {
  #aboutMain #sect3 .s3__text_listitem {
    padding: 0 20px;
  }
  #aboutMain #sect3 .s3__text_listitem .big {
    font-size: 32px;
    margin-top: 0px;
    line-height: 1.2;
  }
  #aboutMain #sect3 .s3__text_listitem p.manual span {
    letter-spacing: -8.5px;
  }
  #aboutMain #sect3 .s3__logo {
    top: 20%;
  }
}

#aboutMain #sect4 {
  padding-top: 120px;
}

#aboutMain #sect4 .line {
  position: static;
}

#aboutMain #sect4 .s4__c1 {
  font-size: 180px;
}

#aboutMain #sect4 .s4__c1_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-weight: 500;
}

#aboutMain #sect4 .s4__c1_col:nth-child(3) {
  font-weight: 100;
}

#aboutMain #sect4 .s4__c1_col span {
  white-space: nowrap;
  line-height: 1;
}

#aboutMain #sect4 .s4__c1_col span b {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#aboutMain #sect4 .s4__c1_padding {
  width: 0;
  overflow: hidden;
  border-radius: 40px;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#aboutMain #sect4 .s4__c1_imgBox {
  border-radius: 40px;
  height: 80%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#aboutMain #sect4 .s4__c1_col:nth-of-type(1) .s4__c1_imgBox {
  width: clamp(20px, 20vw, 365px);
  background-image: url(/common/image/s4c1img1.png);
}

#aboutMain #sect4 .s4__c1_col:nth-of-type(3) .s4__c1_imgBox {
  width: clamp(25px, 20vw, 365px);
  background-image: url(/common/image/s4c1img2.png);
}

#aboutMain #sect4 .s4__c2 {
  text-align: center;
  margin-top: 48px;
}

#aboutMain #sect4 .s4__c2_text1 {
  font-size: 40px;
  font-weight: bold;
}

#aboutMain #sect4 .s4__c2_text2 {
  font-size: 22px;
  margin-top: 22px;
  line-height: 1.66;
}

@media all and (max-width: 768px) {
  #aboutMain #sect4 {
    padding-top: 100px;
  }
  #aboutMain #sect4 .s4__c1 {
    margin-top: 70px;
  }
  #aboutMain #sect4 .s4__c1_col {
    margin-bottom: 6px;
  }
  #aboutMain #sect4 .s4__c1 {
    font-size: 50px;
  }
  #aboutMain #sect4 .s4__c2 {
    margin-top: 28px;
  }
  #aboutMain #sect4 .s4__c2_text1 {
    font-size: 20px;
  }
  #aboutMain #sect4 .s4__c2_text2 {
    font-size: 14px;
    margin-top: 12px;
    font-family: "AppleSD";
    font-weight: 300;
    line-height: 1.66;
  }
  #aboutMain #sect4 .s4__c1_col .font2 {
    -webkit-transform: translate(0, -4px);
            transform: translate(0, -4px);
  }
  #aboutMain #sect4 .s4__c1_padding {
    border-radius: 10px;
  }
  #aboutMain #sect4 .s4__c1_imgBox {
    height: 80%;
    margin-top: 10%;
  }
  #aboutMain #sect4 .s4__c1_col:nth-of-type(1) .s4__c1_imgBox,
  #aboutMain #sect4 .s4__c1_col:nth-of-type(3) .s4__c1_imgBox {
    width: 102px;
  }
}

#aboutMain #sect5 {
  padding: 260px 0 230px 0;
}

#aboutMain #sect5 .s5__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 80px);
  max-width: 1530px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutMain #sect5 .s5__container2 {
  width: calc(50% - 40px);
}

#aboutMain #sect5 .s5__container3 {
  margin-bottom: 120px;
}

#aboutMain #sect5 .s5__tit {
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
}

#aboutMain #sect5 .s5__tit p {
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  display: inline-block;
  padding: 14px 26px;
  border-radius: 24px;
}

#aboutMain #sect5 .s5__sub {
  padding-top: 26px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.8;
}

#aboutMain #sect5 .sub_col {
  margin-bottom: 24px;
}

#aboutMain #sect5 .sub_col:nth-of-type(1) {
  width: 60%;
}

#aboutMain #sect5 .sub_col:nth-of-type(2) {
  width: 40%;
}

@media all and (max-width: 768px) {
  #aboutMain #sect5 {
    padding-top: 76px;
    padding-bottom: 80px;
  }
  #aboutMain #sect5 .s5__container1 {
    display: block;
  }
  #aboutMain #sect5 .s5__container2 {
    width: 100%;
  }
  #aboutMain #sect5 .s5__container3 {
    margin-bottom: 34px;
  }
  #aboutMain #sect5 .s5__tit {
    padding-bottom: 14px;
  }
  #aboutMain #sect5 .s5__tit p {
    font-size: 14px;
    padding: 4px 10px;
    height: 22px;
  }
  #aboutMain #sect5 .s5__sub {
    font-size: 16px;
    display: block;
    padding-top: 12px;
  }
  #aboutMain #sect5 .sub_col {
    margin-bottom: unset;
    line-height: 1.5;
    font-weight: 300;
  }
  #aboutMain #sect5 .sub_col:nth-of-type(1),
  #aboutMain #sect5 .sub_col:nth-of-type(2) {
    width: 100%;
  }
}

#aboutMain #sect6 .line {
  top: 0px;
}

#aboutMain #sect6 .text1 {
  font-family: "Helvetica Neue";
  font-weight: 500;
}

#aboutMain #sect6 .text2 {
  font-family: "Playfair Display", serif;
}

#aboutMain #sect6 .s6__container {
  width: 100%;
  height: 1000vh;
  position: relative;
}

#aboutMain #sect6 .s6__sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  padding: 0 40px;
}

#aboutMain #sect6 .s6__text {
  width: 930px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: unset;
  right: unset;
}

#aboutMain #sect6 .s6__text.right {
  left: unset;
  right: 0;
}

#aboutMain #sect6 .s6__text p {
  display: inline-block;
  color: #000000;
}

#aboutMain #sect6 .s6__text p:not(.small) {
  font-size: 120px;
}

#aboutMain #sect6 .s6__text p {
  opacity: 1;
  -webkit-transform: scale(1) translate(0, -4px);
          transform: scale(1) translate(0, -4px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#aboutMain #sect6 .s6__text.init p {
  opacity: 0;
  -webkit-transform: scale(0.98) translate(0, 0);
          transform: scale(0.98) translate(0, 0);
}

#aboutMain #sect6 .s6__text.init p:nth-child(1) {
  -webkit-transition-delay: 0.05s !important;
          transition-delay: 0.05s !important;
}

#aboutMain #sect6 .s6__text.init p:nth-child(2) {
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;
}

#aboutMain #sect6 .s6__text.init p:nth-child(3) {
  -webkit-transition-delay: 0.15s !important;
          transition-delay: 0.15s !important;
}

#aboutMain #sect6 .s6__text.init p:nth-child(4) {
  -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
}

#aboutMain #sect6 .s6__text.init p:nth-child(5) {
  -webkit-transition-delay: 0.25s !important;
          transition-delay: 0.25s !important;
}

#aboutMain #sect6 .s6__list {
  height: 100%;
  padding-left: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#aboutMain #sect6 .s6__listitem {
  height: 600px;
  width: 600px;
  position: relative;
}

#aboutMain #sect6 .s6__listitem img {
  width: 100%;
}

#aboutMain #sect6 .listitem_bg {
  width: 100%;
  height: 100%;
}

#aboutMain #sect6 .listitem_cha {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 768px) {
  #aboutMain #sect6 .s6__text {
    top: unset;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
    padding-top: 80px;
    margin-bottom: 40px;
  }
  #aboutMain #sect6 .s6__text p {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  #aboutMain #sect6 .s6__text p:not(.small) {
    font-size: 32px;
  }
  #aboutMain #sect6 .s6__text p.small {
    font-size: 16px;
    margin-top: 40px;
  }
  #aboutMain #sect6 .s6__list {
    padding-left: 0;
    height: unset;
  }
  #aboutMain #sect6 .s6__listitem {
    width: 300px;
    height: 300px;
  }
  #aboutMain #sect6 .s6__text.init p {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

#aboutMain #sect7 {
  padding-top: 240px;
}

#aboutMain #sect7 .s7__container {
  width: 100%;
  height: 300vh;
  position: relative;
}

#aboutMain #sect7 .s7__sticky {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#aboutMain #sect7 .s7__bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#aboutMain #sect7 .s7__bg_scale {
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#aboutMain #sect7 .s7__bg_scale img {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#aboutMain #sect7 #s7bgScaleMob {
  opacity: 0;
}

#aboutMain #sect7 #s7bgScale {
  opacity: 1;
}

@media all and (max-width: 768px) {
  #aboutMain #sect7 #s7bgScale {
    opacity: 0;
  }
  #aboutMain #sect7 #s7bgScaleMob {
    opacity: 1;
  }
}

#aboutMain #sect8 .s8__text {
  font-size: 3.5vw;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

#aboutMain #sect8 .s8__text .small_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.66;
  font-weight: 200;
  font-family: "AppleSD";
}

#aboutMain #sect8 .s8__text p:not(.small) {
  display: inline-block;
  line-height: 1;
}

#aboutMain #sect8 .s8__text p.small {
  font-size: 22px;
  margin-top: 8px;
  font-family: "AppleSD";
  display: inline-block;
}

#aboutMain #sect8 .s8__text .text1 {
  font-weight: 500;
}

#aboutMain #sect8 .s8__text .text2 {
  font-family: "Playfair Display", serif;
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

#aboutMain #sect8 .contact__title {
  position: relative;
}

#aboutMain #sect8 .contact__title .title_text {
  color: #ffffff;
}

#aboutMain #sect8 .s8__logo {
  width: 450px;
  margin: 360px auto 260px;
}

#aboutMain #sect8 .s8__logo img {
  width: 100%;
}

#aboutMain #sect8 .line {
  top: 0;
  position: static;
}

#aboutMain #sect8 .split_text span {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

#aboutMain #sect8 .on-view .split_text span {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media all and (max-width: 768px) {
  #aboutMain #sect8 {
    margin-top: -120px;
  }
  #aboutMain #sect8 .s8__text {
    font-size: 32px;
    margin-bottom: 80px;
    margin-top: 0px;
  }
  #aboutMain #sect8 .s8__text p:not(.small) {
    margin: 0;
  }
  #aboutMain #sect8 .s8__text p.small {
    font-size: 16px;
    margin-top: 0;
  }
  #aboutMain #sect8 .s8__text .small_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 34px;
  }
  #aboutMain #sect8 .s8__logo {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */