$font1 :  Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
$font2 : 'Playfair Display', serif;
$black : #000000;
$white : #ffffff;
$--gw : 40px;//외곽
$--gc : 135px;//컬럼
$--gg : 20px;//갭
$--g : 155px;//컬럼+갭
@mixin absCenter {position: absolute;transform:translate(-50%,-50%);left: 50%;top: 50%;};
@mixin beltContainer {position: relative;overflow-x: hidden;width: 100%;};
@mixin persParent{transform-style: preserve-3d; overflow: hidden;}

#aboutMain{
#sect1{width: 100%;height: 100vh;}
.about__s1_person, .about__s1_bg, .about_s1_person{width: 100%;height: 100%;background-size: cover;background-position: center center;background-repeat: no-repeat;position: absolute;@include absCenter;}
.about__s1_bg{background-image: url(/common/image/about_s1_bg.png);}
.about__s1_person{background-image: url(/common/image/about_s1_person.png);}
.about__s1_text{@include absCenter;}
.about__s1_tit{text-align: center;}
.about__s1_tit span{display: inline-block;transform: rotateX(-90deg) translateZ(120px);transition-duration: 0.1s;transition-property: transform;color: $white;transition-delay: 0s;font-size: 180px;line-height: 0.7;}
.about__s1_tit span:nth-of-type(1),.about__s1_tit span:nth-of-type(3){opacity: 0.3;}
.on-view .about__s1_tit span{transform: rotateX(0deg) translateZ(40px);transition-duration: 0.9s;}

#sect2{}
.s2__c2{color: $white;font-size: clamp(60px, 3.15vw, 80px);}
.s2__c2 .margin{margin-right: 70px;transform: translateY(-12px);font-size: 16px;display: inline-block;text-align: left;}
.s2__c2 span.split_space span{display:inline-block;transform: rotateX(-90deg) translateZ(80px);transition-duration: 0.3s;}
.s2__c2.on-view span.split_space span{transform: rotateX(0deg) translateZ(20px);transition-duration: 0.9s;}
.s2__c3 .row{display: flex;width: 100%;}
.s2__c3_fig{border: 1px solid #fff;height: 300px;color: $white;}
.s2__c3_fig .small *{font-size: 16px;}
.s2__c3_fig .big *{font-size: 60px;transform: rotateX(-90deg)translateZ(40px);transition-duration: 0.3s;}
.s2__c3_fig.on-view .big *{font-size: 60px;transform: rotateX(0deg)translateZ(20px);transition-duration: 0.6s;}
.s2__c3_fig .img{height: 80%;border: 1px solid #f0f;}
.s2__c3_f1{width: $--gc * 3 + $--gg * 2;}
.s2__c3_f2{width: $--gc * 8 + $--gg * 7;margin-left: $--gc + $--gg * 2;}
.s2__c3_f3{width: $--gc * 4 + $--gg * 3;margin-left: $--gc + $--gg;}
.s2__c3_f4{width: $--gc *2 + $--gg;margin-left: $--gc * 4 + $--gg * 5;}
#sect3{width: 100%;}
#s3c{width:100%;height: 600vh;border: 1px solid #f00;}
.s3_container{width: 100%;border: 10px solid #ff0;}
.s3_sticky{width: 100%;height: 100vh;}
}
