$font1 :  'Helvetica Neue';
$font2 : 'Playfair Display', serif;
$font3 : 'AppleSD';

$black : #000000;
$white : #ffffff;
$--gw : 40px;//외곽
$--gc : 135px;//컬럼
$--gg : 20px;//갭
$--g : 155px;//컬럼+갭
@mixin absCenter {position: absolute;transform:translate(-50%,-50%);left: 50%;top: 50%;};
@mixin beltContainer {position: relative;overflow-x: hidden;width: 100%;};
@mixin persParent{transform-style: preserve-3d; overflow: hidden;}
::-webkit-scrollbar { display: none; }
#aboutMain{

    #sect1{width: 100%;height: 100vh;
        .about__s1_person, .about__s1_bg, .about_s1_person{width: 100%;height: 100%;background-size: cover;background-position: center center;background-repeat: no-repeat;position: absolute;@include absCenter;pointer-events: none;}
        .about__s1_bg{background-image: url(/common/image/about_s1_bg.png);}
        .about__s1_person{background-image: url(/common/image/about_s1_person.png);}
        .about__s1_text{@include absCenter;}
        .about__s1_tit{text-align: center;}
        .about__s1_tit span{display: inline-block;transform: rotateX(-90deg) translateZ(120px);transition-duration: 0.1s;transition-property: transform;color: $white;transition-delay: 0s;font-size: 180px;line-height: 0.7;font-weight: 500;}
        .about__s1_tit span:nth-of-type(1),.about__s1_tit span:nth-of-type(3){opacity: 0.3;}
        &.on-view .about__s1_tit span{transform: rotateX(0deg) translateZ(40px);transition-duration: 0.9s;}
        
        .about__s1_text2{@include absCenter;bottom: 12px;top: unset;opacity: 0.5;text-align: center;}
        .about__s1_text2{display: none;}
        .about__s1_sub{font-size: 14px;color: $white;font-weight: 400;font-family: $font1;}
    }
    @media all and(max-width:768px){
        #sect1{
            .about__s1_tit span{font-size: 90px;line-height: 0.7;}
            .about__s1_text2{display: none;}
        }
    }
    #sect2{padding-top: 0px;padding-bottom: 40px; overflow: hidden;margin-top:160px;
        .s2__c1_title{color: $white;margin-left: $--gw;}
        .s2__c2{max-width:calc(100% - 80px);display: flex;justify-content: flex-end;margin: auto;}
        .s2__c2_figure{width:70%;}
        .s2__c2 p{color: $white;font-size: 3.3vw;display: inline-block;font-weight: 500;overflow: hidden;}
        .s2__c2 .margin{color:$white;margin-right: 40px;transform: translateY(-12px);font-size: 16px;display: inline-block;text-align: left;}
        .s2__c2 p.open-text-child span:not(.s2_on_mobile){display:inline-block;transform: rotateX(-90deg) translateZ(80px);transition-duration: 0.3s;}
        .s2__c2.on-view p.open-text-child span:not(.s2_on_mobile){transform: rotateX(0deg) translateZ(10px);transition-duration: 0.9s;}
        .s2_on_mobile{font-size: 14px !important;display: none;}
        
        .s2__c3_fig img{width: 100%;}
        .s2__c3{margin-top: 260px;}
        .s2__c3 .row{display: flex;width:100%;justify-content: space-between;}
        .s2__c3 .row:nth-of-type(1){margin-bottom: 245px;}
        .s2__c3_fig{color: $white;}
        .s2__c3_fig .small{line-height: 1.66;font-size: 22px;margin-bottom: 16px;}
        .s2__c3_fig .big{font-size: 60px;margin-top: 12px;}
        .s2__c3_fig.s2__c3_f1 .small{margin-bottom: 0;margin-top: 16px;}
        .s2__c3_fig.s2__c3_f3 .small{margin-bottom: 0;margin-top: 16px;}
        .s2__c3_fig.s2__c3_f4 .small{margin-bottom: 4px;margin-top: 6px;}
        .s2__c3_f1{width:23.17%;margin-left:40px;margin-top: 15%;}
        .s2__c3_f2{width:63.54%;margin-right: 40px;}
        .s2__c3_f3{width:31%;margin-left: calc(40px + 8%)}
        .s2__c3_f4{width:15.1%; margin-right: calc(40px + 8%)}

        .s2__c4{position: relative;overflow: hidden;width: 100%;height: 12.5vw; @include beltContainer;@include persParent;margin-top: 180px;}
        .s2__c4.on-view{transform: translate(0,0);}
        .s2__c4 .persWrap{transform:rotateX(-90deg) translateZ(300px);transition-duration: 0.9s;}
        .s2__c4.on-view .persWrap{opacity: 1;transform: rotateX(0deg) translateZ(80px);transition-duration: 1s;}
        .s2__c4_wrap{position: absolute;display: flex;}
        .s2__c4_belt{display: flex;font-size:12.5vw;line-height: 1;font-weight: 500;}
        .s2__c4_belt p{white-space: nowrap;display: inline-block;color: $white;}
        .s2__c4_belt b{font-family: $font2;font-weight: 400;font-style: italic;}
    }
    @media all and(max-width:768px){
        #sect2{margin-top:100px;
            .s2__c1_title{margin-left: 20px;}
            .s2__c2{max-width: calc(100% - 40px);margin-top: 76px;}
            .s2__c2 p{font-size: 28px;display: inline-block;}
            .s2__c2 .margin{font-size: 16px;margin-right: 0px;}
            .s2__c2_figure{width:100%;}
            .s2_on_mobile{display: inline-block;}

            .s2__c3{margin: 20px 20px 0;}
            .s2__c3 .row:nth-of-type(1){flex-direction: column-reverse;margin-bottom: 80px;}
            .s2__c3 .row:nth-of-type(2){display: block;}
            .s2__c3_fig{margin: unset;}
            .s2__c3_fig .big{margin-top: 12px;font-size: 16px;}
            .s2__c3_fig .small{margin-top: 12px;font-size: 16px;line-height: 1.5;}
            .s2__c3_fig .big *{font-size: 16px;}
            .s2__c3_fig img{width: 100%;}
            .s2__c3_fig.s2__c3_f4 .small{margin-bottom: 4px;margin-top: 16px;}
            .s2__c3_f1{width: 66%;margin-top: 80px;}
            .s2__c3_f1 .small{font-family: $font3;font-size: 16px;}
            .s2__c3_f2{width: 100%;}
            .s2__c3_f2 .small{margin-bottom: 60px;}
            .s2__c3_f3{width: 90%;margin-left: 10%;margin-bottom: 80px;}
            .s2__c3_f4{width: 80%;margin: auto;display: flex;flex-direction: column-reverse;text-align: center;}
            .s2__c3_f4 img{width: 55%;}

            .s2__c4{height: 120px;margin-top: 70px;}
            .s2__c4_belt{font-size: 120px;}
        }
    }
    #sect3{width: 100%;
        .s3_container{width: 100%;height: 1000vh;position: relative;}
        .s3_sticky{position: sticky;top: 0;height: 100vh;width: 100%;}
        .s3__bg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;overflow: hidden;opacity: 0;transform: scale(0.95);transition-duration: 1s;background-image: url(/common/image/about_s3_bg.png);background-size: cover;background-position: center center;}
        .s3__bg.on-view{opacity: 1;transform: scale(1);}
        .s3__logo{width: 32px;height:32px;position:absolute;top:0%;left:50%;transform:translate(-50%,0%);opacity:0;transition-duration:0.6s;transition-delay:0s;}
        .s3__logo svg{fill: #ffffff;position: absolute;width: 32px;height: 32px;top: 50%;left:50%;transform: translate(-50%,-150%);}
        .s3__text{width: 100%;height: 100%;}
        .s3__text_list{position: relative;text-align: center;width: 100%;height: 100%;}
        .s3__text_listitem{position: absolute;width: 100%;top: 50%;left: 50%;transform: translate(-50%,-50%);}
        .s3__text_listitem.on-view .s3__logo{opacity: 1;transform: translate(-50%,-100%);transition-delay: 0.2s;}
        .s3__text_listitem .big, .s3__text_listitem .small{color: $white;}
        .s3__text_listitem .big{font-size: 60px;line-height: 1.33;overflow: hidden;}
        .s3__text_listitem .big span{display: inline-block;transform: rotateX(-90deg) translateZ(80px);transition-duration: 1s;}
        .s3__text_listitem.on-view .big span{transform: rotateX(0deg) translateZ(20px);}
        .s3__text_listitem .small{transition-duration: 0.3s;opacity: 0;font-size: 22px;margin-top: 24px;line-height: 1.66;}
        .s3__text_listitem.on-view .small{opacity: 1;transition-duration: 1s;transition-delay: 0.5s;}

        .s3__text_listitem p.manual span{letter-spacing: -15.5px;}

        .s3__text_listitem:nth-child(1) span:nth-child(2),
        .s3__text_listitem:nth-child(2) span:nth-child(4),
        .s3__text_listitem:nth-child(3) span:nth-child(2)
        {font-family: $font2;font-weight: 100;}
    }
    @media all and(max-width:768px){
        #sect3{
            .s3__text_listitem{padding: 0 20px;}
            .s3__text_listitem .big{font-size: 32px;margin-top:0px;line-height: 1.2;}
            .s3__text_listitem p.manual span{letter-spacing: -8.5px;}
            .s3__text_listitem .small{font-size: 16px;}
            .s3__logo{top: 20%;}
        }
    }
    #sect4{padding-top: 120px;width:100%;
        .line{position: static;}
        .s4__c1{font-size: 180px;padding: 0 40px;width: 100%;}
        .s4__c1_col{width: 100%;display: flex;justify-content: center;margin-bottom: 6px;transition-duration: 0.3s;font-weight: 500;flex-wrap: wrap;}
        .s4__c1_col:nth-child(3){font-weight: 100;}
        .s4__c1_col span{white-space: nowrap;line-height: 1;}
        .s4__c1_col span b{font-family: $font2;font-weight: 400;}
        .s4__c1_imgBox{border-radius: 0px;height: 80%;background-repeat: no-repeat;background-size: cover;transform: translate(0,20%);}
        .s4__c1_col:nth-of-type(1) .s4__c1_imgBox{width: 365px;background-image: url(/common/image/s4c1img1.png);}
        .s4__c1_col:nth-of-type(3) .s4__c1_imgBox{width: 365px;background-image: url(/common/image/s4c1img2.png);}

        .s4__c2{text-align: center;margin-top: 48px;}
        .s4__c2_text1{font-size: 40px;font-weight: bold;}
        .s4__c2_text2{font-size: 22px;margin-top: 22px;line-height: 1.66;}
    }
    @media all and(max-width:768px){
        #sect4{padding-top: 100px;
            .s4__c1{margin-top: 70px;}
            .s4__c1_col{margin-bottom: 6px;}
            .s4__c1{font-size: 50px;}
            .s4__c1_col .font2{transform: translate(0,-4px);}
            .s4__c1_padding{border-radius: 10px;}
            .s4__c1_imgBox{height: 80%;margin-top: 10%;}
            .s4__c1_col:nth-of-type(1) .s4__c1_imgBox,
            .s4__c1_col:nth-of-type(3) .s4__c1_imgBox{width: 102px;}

            .s4__c2{margin-top: 28px;}
            .s4__c2_text1{font-size: 20px;}
            .s4__c2_text2{font-size: 14px;margin-top: 12px;font-family: $font3;font-weight: 300;line-height: 1.66;}
        }
    }
    #sect5{padding:260px 0 230px 0;
        .s5__container1{display: flex;width: calc(100% - 80px);max-width: 1530px;margin: auto;justify-content: space-between;}
        .s5__container2{width: calc(50% - 40px);}
        .s5__container3{margin-bottom: 120px;}
        .s5__tit{padding-bottom:28px;border-bottom: 1px solid #e5e5e5;}
        .s5__tit p{font-size: 18px;color: $white;background-color: $black;display: inline-block;padding: 14px 26px;border-radius: 24px;}
        .s5__sub{padding-top: 26px;font-size: 20px;display: flex;justify-content: space-between;line-height: 1.8;}
        .sub_col{margin-bottom: 24px;}
        .sub_col:nth-of-type(1){width: 60%;}
        .sub_col:nth-of-type(2){width: 40%;}
    }
    @media all and(max-width:768px){
        #sect5{padding-top: 76px;padding-bottom:80px;
            .s5__container1{display: block;}
            .s5__container2{width: 100%;}
            .s5__container3{margin-bottom: 34px;}

            .s5__tit{padding-bottom: 14px;}
            .s5__tit p{font-size: 14px;padding: 4px 10px;height: 22px;}
            .s5__sub{font-size: 16px;display: block;padding-top: 12px;}
            .sub_col{margin-bottom: unset;line-height: 1.5;font-weight: 300;}
            .sub_col:nth-of-type(1),
            .sub_col:nth-of-type(2){width: 100%;}
        }
    }
    #sect6{
        .line{top: 0px;}
        .text1{font-family: $font1;font-weight: 500;}
        .text2{font-family: $font2;}
        .s6__container{width: 100%;height: 1000vh;position: relative;}
        .s6__sticky{position: sticky;top: 0;height: 100vh;overflow: hidden;padding: 0 $--gw;}
        .s6__text{width: $--g*6;position: absolute;top: 50%;transform: translate(-100%,-50%);left: unset;right: unset;}
        .s6__text.right{left: unset;right: 0;}
        .s6__text p{display: inline-block;color: $black;}
        .s6__text p:not(.small){font-size: 120px;}
        .s6__text p{opacity: 1;transform: scale(1) translate(0,-4px);transition-duration: 0.3s;}
        .s6mobile{display: none;}
        @for $i from 1 through 5{
            .s6__text.init p:nth-child(#{$i}){
                transition-delay: #{$i/20}s !important;
            }
        }

        .s6__list{height: 100%;padding-left: $--g*6;display: flex;align-items: center;position: absolute;}
        .s6swiper{display: none;padding-bottom: 70px;}
        .s6__listitem{height: $--g*3 + $--gc; width: $--g*3 + $--gc;position: relative;}
        .s6__listitem img{width: 100%;}
        .listitem_bg{width: 100%;height: 100%;}
        .listitem_cha{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
    }
    @media all and(max-width:768px){
        #sect6{
            .s6__container{height: unset;}
            .s6pc{display: none;}
            .s6mobile{display: block;}
            .s6__sticky{padding: 0;}
            .s6__text{top: unset;position: static;transform: translate(0,0);width: 100%;padding:80px 40px 0;margin-bottom: 40px;}
            .s6__text p{transform:scale(1) translate(0,0);}
            .s6__text p:not(.small){font-size: 32px;}
            .s6__text p.small{font-size: 16px;margin-top: 40px;}
            .s6__list{padding-left: 0;height: unset;}
            .s6__list_horizontal{display: none;}
            .s6swiper{display: block;}
            .s6__listitem{width: 300px;height: 300px;}
            .s6__text.init p{opacity: 1;transform: scale(1)translate(0,0);}
        }
    }
    #sect7{height: 300vh;
        .s7sticky{width: 100%;position: absolute;top: 0;transform: translateY(0%);}
        .s7__bg_scale{width: 100vw;position: relative;top: 50%;left: 50%;transform: translateX(-50%);margin: unset;}
        .fixed{position: fixed;top: 50%;transform: translateY(-50%);}
        .end{bottom: 0%;top: unset;transform: translateY(0%);}
    }
    @media all and(max-width:768px){
        #sect7{
            .s7__bg_scale{width: 200vw;position: relative;top: 50%;left: 50%;transform: translateX(-50%);margin: unset;}
        }
    }
    #sect8{
        .s8__text{font-size: 60px;color: $white;text-align: center;margin-top: 60px;}
        .s8__text .small_text{display: flex;justify-content: center;line-height: 1.66;font-weight: 200;font-family: $font3;}
        .s8__text p:not(.small){display: inline-block;line-height: 1;overflow: hidden;}
        .s8__text p.small{font-size: 22px;margin-top: 8px;font-family: $font3;display: inline-block;}
        .s8__text .text1{font-weight: 500;}
        .s8__text .text2{font-family: $font2;transform: translate(0,-4px);}
        .s8__logo{width: 450px;margin: 360px auto 260px ;}
        .s8__logo img{width: 100%;}

        .contact__title{position: relative;}
        .contact__title .title_text{color: $white;}
        .line{top: 0;position: static;}
        .split_text span{transform:rotateX(-90deg) translate(0,100%) translateZ(40px);}
        .on-view .split_text span{transform:rotateX(0deg) translate(0,-15%) translateZ(10px);}
    }
    @media all and(max-width:768px){
        #sect8{
            .s8__text{font-size: 32px;margin-bottom: 60px;margin-top: 40px;}
            .s8__text p:not(.small){margin: 0;}
            .s8__text p.small{font-size: 16px;margin-top: 0;}
            .s8__text .small_text{flex-direction: column;justify-content: center;margin-top: 20px;}
            .s8__logo{display: none;}
        }
    }
}