@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./font.css");
@mixin transform($sec){transition-duration: #{$sec}s;transition-property: transform opacity;}
@mixin onView{transform: translate(0,0);opacity: 1;}
$font1 : 'Helvetica Neue';
$font2 : 'Roboto';
$font3 : 'AppleSD';
$font4 : 'NotoSansKR';
$keyColor : #f8b62d;

.font1{font-family: $font1;}
.font2{font-family: $font2;}
.font3{font-family: $font3;}
.font4{font-family: $font4;}
.font-weight-100{font-weight: 100;}
.font-weight-200{font-weight: 200;}
.font-weight-300{font-weight: 300;}
.font-weight-400{font-weight: 400;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}
.font-weight-700{font-weight: 700;}
.font-weight-800{font-weight: 800;}
.font-weight-900{font-weight: 900;}
.bold{font-weight: bold;}
*{margin: 0;padding: 0;box-sizing: border-box;word-break: keep-all;}
img{width: 100%;}
.over-hidden{overflow: hidden;position: relative;}
:root{height: -webkit-fill-available;}
::-webkit-scrollbar { display: none; }

.grid-box{max-width: 1480px;width: 100%;padding: 0 40px;margin: auto;}
.grid-box2{max-width: 1250px;width: 100%;padding: 0 40px;margin: auto;}
body{font-size: 16px;color: #333333;}
@media all and(max-width:1300px){
    .over1300{display: none;}
}
@media all and(max-width:1024px){
    body{font-size: 14px;}
    .over1024{display: none;}
}
@media all and(max-width:767px){
    .over767{display: none;}
}
@media all and(max-width:480px){
    .grid-box{padding: 0 20px;}
    .grid-box2{padding: 0 20px;}
}
#sect1{width: 100%;height: 100vh;background-image: url(/common/image/project/ch_s1_bg.png);position:relative;background-size: cover;background-position: top center;}
#sect1{
    .s1__container{width: 100%;height: 100%;position: relative;}
    .s1__tit,.s1__footer{position: absolute;left: 50%;}
    .s1__tit{top: 50%;transform: translate(-50%,-50%);}
    .s1__footer{bottom: 80px;transform: translate(-50%,0%);color: #ffffff;display: flex;justify-content: space-between;}
    .w{display: flex; @include transform(1);opacity: 0;}
    .s1__tit .w1{justify-content: flex-start;transform: translate(10%,0);}
    .s1__tit .w2{justify-content: center;margin: 20px 0;}
    .s1__tit .w3{justify-content: flex-end;transform: translate(-10%,0);}
    .s1__tit .w1 img{max-width: 123px;width: 30%;}
    .s1__tit .w3 img{max-width: 300px;width: 50%;}

    .s1__footer .w{flex-direction: column;}
    .s1__cheese{height: 100%;width: 100%;position: relative;}
    .s1__cheese img{width: unset;display: block;margin: auto;width: 70%;@include transform(1.5);opacity: 0;}
    .s1__cheese .s1__fig{position: absolute;width: 50%;top: 50%;}
    .s1__cheese .s1__fig1{left: 0;top: 50%;transform: translate(0,-50%);}
    .s1__cheese .s1__fig2{right: 0;transform: translate(0,-50%);}
    .init{
        .w{@include onView}
        .s1__cheese .s1__fig img{opacity: 1;transform: translate(0,0%);}
    }
    @media all and(max-width:1024px){
        .s1__footer{display: block;bottom: 60px;}
        .s1__footer .w{margin-top: 12px;}
    }
    @media all and(max-width:480px){
        .s1__footer{padding: 0 20px;}
    }
}
#sect2{position: relative;width: 100%;padding:280px 0;background: #ffffff;}
#sect2{
    .s2__span1,.s2__span2,.s2__span3{border-radius: 50%;position: absolute;}
    .s2__span1{left: 140px;top: 120px;background-color: #fff1e4;width: 30vw;height: 30vw;max-width: 520px;max-height: 520px;}
    .s2__span2{background-color: #f7ffe8;width: 25vw;height: 25vw;max-width: 400px;max-height: 400px;}
    .s2__span2,.s2__span3{right: 180px;bottom: 50%;transform: translate(0,50%);}
    .s2__span3{background-color: #fffdc3;transform: translate(0,-20%);width: 15vw;height: 15vw;max-width: 160px;max-height: 160px;opacity: 0.5;}

    .s2__container{position: relative;display: flex;@include transform(1);opacity: 0;transform: translate(0.20px);}
    .s2__container.on-view{opacity: 1;transform: translate(0,0);}
    .s2__main{line-height: 1.8;}
    .w{display: flex;width: 100%;}
    .w2{justify-content: space-between;}
    .s2__w1{width: 100%;max-width: 120px;}
    .center{margin: 60px 0;}
    @media all and(max-width:1300px){
        padding:250px 0;
    }
    @media all and(max-width:1024px){
        padding:220px 0;
        .s2__container{display: block;}
        .s2__w1{margin-bottom: 60px;}
        .center{margin: 40px 0;}
    }
    @media all and(max-width:767px){
        padding:180px 0;
    }
    @media all and(max-width:480px){
        padding:140px 0;
        .w2{display: block;}
        .w_box{display: flex;justify-content: space-between;}
        .s2__w1{margin-bottom: 40px;}
    }
}
#sect3{background-color: #f7f7f7;padding: 300px 0 250px;}
#sect3{
    .s3__row1{position: relative;display: flex;justify-content: space-between;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .s3__row1.on-view{opacity: 1;transform: translate(0,0);}
    .s3__main{line-height: 1.8;}
    .w{display: flex;width: 100%;}
    .w2{justify-content: space-between;}
    .s3__w1{width: 100%;max-width: 120px;}
    .center{margin: 60px 0;}
    
    .s3__row2{margin-top: 200px;@include transform(1);transform: translate(-20px,0);opacity: 0;}
    .s3__row2.on-view{opacity: 1;transform: translate(0,0);}
    .s3__row2_p1{font-size: 36px;}
    .s3__row2_p2{font-size: 60px;margin-top: 60px;}

    .s3__row3{justify-content: space-between;margin-top: 130px;}
    .s3__row3_box1{width: 66.7%;flex-direction: column;}
    .s3__row3_box2{width: 25%;flex-direction: column;justify-content: center;}
    .s3__row3_box1 .s3__fig:nth-child(2){padding-left: 13%;padding-right: 5%;margin-top: 120px;}
    .s3__fig{@include transform(1);transform: translate(0,20px);opacity: 0;}
    .s3__fig.on-view{opacity: 1;transform: translate(0,0);}
    @media all and(max-width:1300px){
        padding: 250px 0 200px;
    }
    @media all and(max-width:1024px){
        .s3__row1{display: block;}
        .s3__w1{margin-bottom: 40px;}
        .center{margin: 40px 0 0;}
        .s3__row2{margin-top: 150px;}
        .s3__row2_p1{font-size: 24px;}
        .s3__row2_p2{font-size: 48px;margin-top: 48px;}
        .s3__row3{display: block;margin-top: 100px;}
        .s3__row3_box1{width: 100%;}
        .s3__row3_box1 .s3__fig:nth-child(2){padding-left: 0;padding-right: 0;margin-top: 100px;}
        .s3__row3_box2{width: 50%;margin:120px auto 0;}
    }
    @media all and(max-width:767px){
        padding: 200px 0 160px;
    }
    @media all and(max-width:480px){
        padding: 150px 0 120px;
        .w2{display: block;}
        .s3__row2{margin-top: 100px;}
        .s3__row2_p2{font-size: 32px;margin-top: 32px;}
        .s3__row2_p1{font-size: 16px;}
        .s3__row3{margin-top: 60px;}
        .s3__row3_box2{width: 100%;margin:120px auto 0;}
        .s3__row3_box1 .s3__fig:nth-child(2){margin-top: 60px;}
        .s3__row3_box2{margin:60px auto 0;}
    }
}
#sect4{background-color: #ffffff;padding: 280px 0;}
#sect4{
    .w{display: flex;}
    .s4__title{display: flex;color: #333333;}
    .s4__title p:nth-child(1){margin-right: 40px;}

    .s4__content{position: relative;margin-top: 120px;}
    .s4__line_wrapper{width: 100%;height: 100%;position: absolute;}
    .s4__line_wrapper span{position: absolute;background-color: #dddddd;transition-duration: 0.3s;}
    span{
        &.horizontal{width: 100%;height: 1px;}
        &.horizontal1{top: 33.7%;}
        &.horizontal2{top: 50%;}
        &.horizontal3{top: 66.3%;}
        &.vertical{width: 1px;height: 100%;}
        &.vertical2{left: 16%;}
        &.vertical3{left: 23.85%;}
        &.vertical4{left: 31.8%;}
        &.vertical5{left: 48.5%;}
        &.vertical6{left: 50%;}
        &.vertical7{right: 48.5%;}
        &.vertical8{right: 31.8%;}
        &.vertical9{right: 23.85%;}
        &.vertical10{right: 16%;}
        &.vertical11{right: 0;}
    }
    .s4__line_wrapper span.horizontal{transform: scaleX(0);}
    .s4__line_wrapper span.vertical{transform: scaleY(0);}
    .s4__line_wrapper.on-view span{transition-delay: 0.6s;transition-duration: 1s;}
    .s4__line_wrapper.on-view span.horizontal{transform: scaleX(1);}
    .s4__line_wrapper.on-view span.vertical{transform: scaleY(1);}
    .s4__wrapper{position: relative;display: flex;justify-content: space-between;}
    .s4__wrapper img{width: calc(50% - 30px);position: relative;@include transform(1);opacity: 0;transform: scale(0.9);}
    .s4__weight,.s4__type{line-height: 1.5;padding: 0 24px;position: absolute;width: 100%;left: 0;}
    .s4__type{top: 40px;justify-content: space-between;@include transform(0.6);opacity:0;}
    .s4__weight_box:nth-child(2),.s4__type_box:nth-child(2){text-align: right;}
    .s4__type_exp{color: #797979;margin-top: 40px;}
    .s4__weight{justify-content: space-between;bottom: 40px;@include transform(0.3);opacity:0;}
    .dummy{display: none;}

    .on-view .s4__wrapper img{opacity: 1;transform: scale(1);}
    .on-view .s4__type{opacity: 1;}
    .on-view .s4__weight{opacity: 1;}

    .s4__row2{margin-top: 300px;}
    .s4__color{display: flex;margin-top: 80px;opacity: 0;transition-duration: 0.6s;}
    .s4__color.on-view{opacity: 1;}
    .s4__color > div{width: 50%;}
    .s4__color_class{margin-bottom: 30px;}
    .s4__color_box_item{height: 240px;padding: 28px;display: flex;flex-direction: column;justify-content: space-between;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .on-view .s4__color_box_item{opacity: 1;transform: translate(0,0);}
    .on-view .s4__color_box_item1{transition-delay: 0.3s;}
    .on-view .s4__color_box_item2{transition-delay: 0.4s;}
    .on-view .s4__color_box_item3{transition-delay: 0.5s;}
    .on-view .s4__color_box_item4{transition-delay: 0.6s;}
    .w .s4__color_box_item{width: calc(100%/3);}
    .s4__color_box_name{font-weight: 500;}
    .s4__color_box_info{font-weight: 300;}

    .yellow{background-color: $keyColor;}
    .black{background-color: #333333;color: #ffffff;}
    .gray{background-color: #dddddd;}
    @media all and(max-width:1300px){
        padding: 250px 0;
        .s4__color{display: block;}
        .s4__color > div{width: 100%;}
        .s4__color_box .w{display: block;}
        .w .s4__color_box_item{width: 100%;}
        .s4__color_box:nth-child(2){margin-top: 60px;}
        span.horizontal1{top: 0;}
        span.horizontal2{top: 50%;}
        span.horizontal3{top: 100%;}
        span.vertical2{left: 38.3%;}
        span.vertical4{left: 33.4%;}
        span.vertical5,
        span.vertical7{display: none;}
        span.vertical8{right: 33.3%;}
        span.vertical10{right: 38.3%;}
        .s4__type_exp{margin-top: 24px;}
        .s4__row2{margin-top: 240px;}
        .s4__content{margin-top: 100px;}
    }
    @media all and(max-width:1024px){
        padding: 220px 0;
        span.vertical3,
        span.vertical9{display: none;}
        .s4__wrapper{display: block;}
        .s4__wrapper img{width: 100%;}
        .s4__type{flex-direction: column;height: 100%;justify-content: space-between;width: unset;text-align: left;}
        .s4__weight{flex-direction: column;height: 100%;justify-content: space-between;width: unset;right: 0;bottom: unset;top: 40px;text-align: right;}
        .s4__type_box:nth-child(2){text-align: left;}
        .dummy{display: block;}
        .s4__row2{margin-top: 200px;}
        .s4__content{margin-top: 80px;}
        .s4__color{margin-top: 80px;}
    }
    @media all and(max-width:767px){
        padding: 180px 0;
        .s4__row2{margin-top: 160px;}
        .s4__type,.s4__weight{top: 20px;padding: 0 20px;}
        .s4__content{margin-top: 70px;}
        .s4__color{margin-top: 70px;}
    }
    @media all and(max-width:480px){
        .s4__title{display: block;}
        .s4__row2{margin-top: 120px;}
        .s4__content{margin-top: 60px;}
        .s4__color{margin-top: 60px;}
        padding: 140px 0;
    }
}
#sect6{background-color: #fffbf3;
    .s6__head{padding: 200px 0 270px;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .s6__head.on-view{opacity: 1;transform: translate(0,0);}
    .s6__head_w{display: flex;justify-content: space-between;}
    .s6__head_box{line-height: 1.5;}
    .s6__head_box:nth-child(1){display: flex;}
    .s6__head_box p:nth-child(1){margin-right: 40px;}

    .s6__body{background-color: #f8b62d;padding-bottom: 280px;}
    .s6__body_w{padding-bottom: 260px;}
    .s6__body_row1{transform: translate(0,-2%);opacity: 0;@include transform(1);}
    .s6__body_row1.on-view{transform: translate(0,-7%);opacity: 1;}
    .s6__body_row2{display: flex;margin-top: 220px;position: relative;}
    .s6__body_row2_box{line-height: 1.5;position: relative;}
    .s6__body_row2_box1{display: flex;width: 75%;justify-content: space-between;}
    .s6__body_row2_box_item{width: calc(50% - 20px);opacity: 0;@include transform(0.6);}
    .s6__body_row2_box_item img{-webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));}
    .s6__body_row2_box_item.on-view{opacity: 1;}
    .s6__body_row2_box_item.on-view img{-webkit-filter: drop-shadow(0px 40px 10px rgba(0,0,0,0.2));transition-delay: 0.3s;transition-duration: 0.6s;}
    .s6__body_row2_box_item:nth-child(2){margin-top: 25%;}
    .s6__body_row2_box2{width: 25%;padding:0 0 0 66px;display: flex;flex-direction: column;justify-content:center;}
    .s6__body_row2_box2 p:nth-child(1){padding-top: 100%;margin-bottom: 40px;}

    .s6__fig6{@include transform(0.6);opacity: 0;}
    .s6__fig6.on-view{opacity: 1;}
    .s6__fig6 img{-webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));transform: translate(0,20px);}
    .s6__fig6.on-view img{-webkit-filter: drop-shadow(0px 40px 10px rgba(0,0,0,0.2));transition-delay: 0.3s;transition-duration: 0.6s;transform: translate(0,0);}
    .s6__body_cheese{position: absolute;}
    .s6__body_cheese:nth-child(1){top: 0;left: 50%;}
    .s6__body_cheese:nth-child(2){bottom: 0;right: 0;}
    @media all and(max-width:1024px){
        .s6__head{padding: 180px 0 240px;}
        .s6__head_w{display: block;}
        .s6__body{padding-bottom: 240px;}
        .s6__body_w{padding-bottom:200px;}
        .s6__head_box:nth-child(1){margin-bottom: 40px;}
        .s6__body_row2{margin-top: 180px;}
        .s6__head_box p:nth-child(1){margin-right: 40px;margin-bottom: 20px;}
    }
    @media all and(max-width:767px){
        .s6__head{padding: 140px 0 200px;}
        .s6__body{padding-bottom: 180px;}
        .s6__body_w{padding-bottom:160px;}
        .s6__body_row2{flex-direction: column-reverse;}
        .s6__body_row2_box2{width: 100%;padding: 0;}
        .s6__body_row2_box1{width: 100%;margin-top: 80px;}
        .s6__body_row2_box_item{width: calc(50% - 10px);}
        .s6__body_row2_box_item:nth-child(2){margin-top: 0%;}
        .s6__body_row2_box2 p:nth-child(1){padding-top: 0%;margin-bottom: 40px;}
        .s6__body_cheese:nth-child(1){top: 0;left: 0%;width: 50%;}
        .s6__body_cheese:nth-child(2){bottom: -10%;right: 0;}
        .s6__body_row2{margin-top: 140px;}
    }
    @media all and(max-width:480px){
        .s6__head{padding: 100px 0 160px;}
        .s6__body{padding-bottom: 140px;}
        .s6__body_w{padding-bottom:120px;}
        .s6__head_box:nth-child(1){display: block;}
        .s6__head_box:nth-child(3){display: none;}
        .s6__body_row2{margin-top: 120px;}
        .s6__body_row2_box1{width: 100%;margin-top: 40px;}
    }
}
#sect8{background-color: #ffffff;padding: 280px 0;}
#sect8{
    .s8__head{display: flex;justify-content: space-between;line-height: 2;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .s8__head.on-view{opacity: 1;transform: translate(0,0);}
    .s8__head_box1{display: flex;}
    .s8__head_box1 p:nth-child(1){margin-right: 40px;}
    .s8__head_box2 p:nth-child(2){margin-top: 40px;}

    .s8__body{margin-top: 120px;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .on-view.s8__body{opacity: 1;transform: translate(0,0);}
    @media all and(max-width:1300px){
        padding: 250px 0;
    }
    @media all and(max-width:1024px){
        padding: 220px 0;
        .s8__head{display: block;}
        .s8__head_box1{margin-bottom: 40px;}
        .s8__head_box2 p:nth-child(2){margin-top: 20px;}
        .s8__head_box:nth-child(3){display: none;}
    }
    @media all and(max-width:767px){
        padding: 180px 0;
    }
    @media all and(max-width:480px){
        padding: 140px 0;
        .s8__head_box1{display: block;}
    }
}
#sect9{background-color: #f7f7f7;padding: 280px 0px;}
#sect9{
    .s9__head{display: flex;justify-content: space-between;line-height: 2;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .s9__head.on-view{opacity: 1;transform: translate(0,0);}
    .s9__head_box1{display: flex;}
    .s9__head_box1 p:nth-child(1){margin-right: 40px;}
    .s9__head_box2 p:nth-child(2){margin-top: 40px;}

    .s9__body{display: flex;justify-content: space-between;margin-top: 160px;@include transform(1);opacity: 0;transform: translate(0,20px);}
    .s9__body.on-view{opacity: 1;transform: translate(0,0);}
    .s9__body_fig{width: calc(50% - 20px);}
    @media all and(max-width:1300px){
        padding: 250px 0;
        .s9__body{margin-top: 140px;}
    }
    @media all and(max-width:1024px){
        padding: 220px 0;
        .s9__head{display: block;}
        .s9__head_box1{margin-bottom: 40px;display: block;}
        .s9__head_box2 p:nth-child(2){margin-top: 20px;}
        .s9__head_box:nth-child(3){display: none;}
        .s9__body{margin-top: 120px;}
    }
    @media all and(max-width:767px){
        padding: 180px 0;
        .s9__body{margin-top: 100px;}
    }
    @media all and(max-width:480px){
        padding: 140px 0;
        .s9__body{margin-top: 80px;}
    }
}