#colorStyle.black .circle__text {
  fill: #ffffff;
}

#colorStyle.black .circle__circle {
  background-color: #ffffff;
}

#colorStyle.black .circle__arrow span {
  background-color: #000000;
}

#colorStyle.white .circle__text {
  fill: #000000;
}

#colorStyle.white .circle__circle {
  background-color: #000000;
}

#colorStyle.white .circle__arrow span {
  background-color: #ffffff;
}

#downCircle {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 120px;
  height: 120px;
}

.circle__container {
  width: 100%;
  height: 100%;
}

.circle__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.circle__text {
  fill: #ffffff;
  font-size: 13.9px;
  font-weight: 400;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
}

.circle__circle {
  width: 75%;
  height: 75%;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.circle__arrow {
  width: 75%;
  height: 75%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.circle__arrow span {
  position: absolute;
}

.circle__arrow span:nth-child(1) {
  width: 1px;
  height: 46px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.circle__arrow span:nth-child(2), .circle__arrow span:nth-child(3) {
  width: 1px;
  height: 25px;
}

.circle__arrow span:nth-child(2) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(calc(-50% - 8.5px), calc(-50% + 15px)) rotate(-45deg);
          transform: translate(calc(-50% - 8.5px), calc(-50% + 15px)) rotate(-45deg);
}

.circle__arrow span:nth-child(3) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(calc(-50% + 8.5px), calc(-50% + 15px)) rotate(45deg);
          transform: translate(calc(-50% + 8.5px), calc(-50% + 15px)) rotate(45deg);
}

@-webkit-keyframes arrowInit {
  0% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  100% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
}

@keyframes arrowInit {
  0% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  100% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
}

.circle__arrow.init {
  -webkit-animation: 0.6s 0s arrowInit infinite alternate;
          animation: 0.6s 0s arrowInit infinite alternate;
}

.circle__arrow.right {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.circle__arrow.up {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

.path {
  fill: transparent;
  stroke: crimson;
  stroke-width: 5;
}
/*# sourceMappingURL=circle.css.map */