@import "_settings";


/* footer */
#footer {padding-top:200px;}
.footer__c2 {display: none;}
.footer__c3 p{color: $black;}
.footer__c3 .p3,.footer__c3 .p1{color:$black;}
.footer__logo .ft_b {display:block;}
.footer__logo .ft_w {display:none;}



.w_inner {width:calc(100% - 40px); max-width:1530px; font-size:0.0521vw; margin-right:auto; margin-left:auto; -webkit-font-smoothing:antialiased;}

@media all and(max-width:1600px){
    .w_inner  {
        font-size:0.0625vw;
    }
}
@media all and(max-width:1080px){
    .w_inner {
        font-size: 0.0926vw;
    }
}
@media all and(max-width:750px){
    .w_inner {
        font-size: 0.2667vw;
    }
}


.contact__main {padding-top:200em;}

.contact__title {
    font-weight: 500;
    margin-bottom:116em;
    .tit {
        font-size: 240em;
        line-height: 0.78em;
        .l {
            font-family: $font2;
            font-style: italic;
            display: inline-block;
        }
    }
    .add{
        margin-top: 80em;
        .add-in{
            display: inline-block;
            font-size:20em;
            line-height: 0.78em;
        }
    }
    .tel{
        margin-top:25em;
        .tel-in{
            font-size:18em;
            font-weight: 400;;
        }
        span{
            display: inline-block;
            width: 1px;
            height: .87em;
            margin:0 .4em;
            background:#000;
            opacity: .6;
        }
    }
}


@media all and(max-width:1080px){
    .contact__title {
        .tit {
            font-size: 160em;
        }
    }
}
@media all and(max-width:768px){
    .contact__title {
        margin-bottom:116em;
        .tit {
            font-size: 64.5em;
            line-height: 0.78em;
        }
        .add{
            margin-top: 50em;
            .add-in{
                font-size:14em;
                line-height: 1.5em;
            }
        }
        .tel{
            margin-top:14.5em;
            .tel-in{
                font-size:13em;
            }
        }
    }

}


.contact__list{
    width:calc(100% - 80px);
    max-width:1140px;
    margin-left:auto;
    margin-right:auto;

    .list_box{
        padding:44em 0 37em 0;
        border-bottom:1px solid #ddd;

        .box__inner{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .box__in{

            }
        }


        .box__text{
            .text_sup{
                margin-bottom: 10em;
                span {
                    font-family: $font3;
                    font-size: 16em;
                    font-weight: 400;
                    text-transform: uppercase;
                    display:inline-block;
                    padding:0.5em 1.25em;
                    background:#000;
                    color:#FFF;
                    border-radius: 50px;
                }

            }
            .text_tit{
                font-weight: 500;
                font-size: 60em;
                line-height: 1.25em;
                word-break: break-all;
                &.underline{
                    text-decoration: underline;
                }
            }
        }

        .box__arrow{
            padding:0 44em;
            .arr{
                display:inline-block;
                width: 30em;
                height: 30em;
                overflow: hidden;
                .arr-in{
                    width:100%;
                    height: 100%;
                    position: relative;
    
                    &::before {
                        content:"";
                        position: absolute;
                        top: 50%;
                        left:50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        width:2px;
                        height: 130%;
                        background:#000;
                    }
                    span {
                        position:absolute;
                        top:0;
                        right:0;
                        background-color: #000;
                        &.t {
                            width:83.3%;
                            height: 2px;
                        }
                        &.r {
                            height:83.3%;
                            width: 2px;
                        }
                    }
                }
            }
    
            .arr-before{
                transform: translate(0, 0);
                opacity: 1;
            }
            .arr-after{
                transform: translate(-100%, 0);
                opacity: 0;
            }
        }


        

        &:hover .arr-before{
            transform: translate(100%, -100%);
            opacity: 0;
            transition-duration: 0.4s;
            transition-property: all;
        }
        &:hover .arr-after{
            transform: translate(0%, -100%);
            opacity: 1;
            transition-duration: 0.6s;
            transition-property: all;
        }
    }

}

@media all and(max-width:1080px){
}

@media all and(max-width:768px){
}




/*****************   HIRING   *****************/

.hiring_main {
    max-width:1220px; 
}
.hiring__title {
    padding-top:260em;
    .title_sup {
        font-size:18em;
        font-weight: 600;
        overflow:hidden;
        
        .star{
            height: 1.335em;
            display:inline-block;
            vertical-align: sub;
        }
    }

    .title_con {
        margin-top:30em;
        overflow:hidden;
        .con__in {
            font-size:80em;
            font-weight: bold;
            line-height: 0.95;
        }
    }

    .in__ani {
        display:inline-block;
        transition:transform 1s;
        transform: translate3d(0, 100%, 0);
        transition-timing-function : cubic-bezier(.165,.84,.44,1);
    }

    &.on .in__ani{
        transform: translate3d(0, 0%, 0);
    }
} 


@media all and(max-width:750px){

    .hiring__title {
        padding-top:160em;
        .title_sup {
            font-size:14em;
            .star{
                height: 1.3em;
            }
        }
    
        .title_con {
            margin-top:20em;
            .con__in {
                font-size:32em;
                line-height: 0.95;
            }
        }
    } 

}



.hiring__contents {
    .content__box {
        padding-top:00em;
        overflow:hidden;
        opacity:0;
        height:0;

        &:first-child {
            display: block;
            opacity: 1;
            height:auto;
            padding-top:160em;
        }
        &.on {
            height:auto;
            opacity: 1;
            padding-top:160em;
        }

        .box__title {
            .num {
                margin-bottom:40em;
                .num__in{
                    font-size:24em;
                    line-height: 0.78em;
                }
            }

            .tit {
                .tit__in {
                    font-size:40em;
                    font-weight:bold;
                }
            }

            .con {
                margin-top:28em;
                .con__in {
                    font-size:16em;
                    opacity:0.5; 
                }
            }

            .mo {display:none;}
        }

        .box__cont {
            margin-top:60em;
        }

        /**/
        .content__box-in {
            display:inline-block;
            transition:transform 1s;
            transform: translate3d(0, 100%, 0);
            transition-timing-function : cubic-bezier(.165,.84,.44,1);
        }
    
        &.on .content__box-in{
            transform: translate3d(0, 0%, 0);
        }
    }
}

@media all and(max-width:750px){
    .hiring__contents {
        .content__box {
            &:first-child {
                padding-top:100em;
            }
            &.on {
                padding-top:80em;
            }
    
            .box__title {
                .num {
                    margin-bottom:20em;
                    .num__in{
                        font-size:12em;
                        line-height: 0.78em;
                    }
                }
                .tit {
                    .tit__in {
                        font-size:20em;
                    }
                }
                .mo {display:block;}
            }
            .box__cont {
                margin-top:40em;
            }
        }
    }
}



.selecttext_balloon__cont {
    display:flex;
    flex-wrap: wrap;
    gap:20em;

    .selecttext_balloon {
        position:relative;
        display:inline-block;
        
        .st_balloon__check {
            position:absolute;
            top:0; 
            left:0;
            width:2px;
            height:2px;
            opacity:0;

            &:checked + .st_balloon__lbe {
                background:#000;
                color:#FFF;
                border-radius: 10em;
                transition: all 0.3s;
                box-sizing: border-box;
            }
        }


        .st_balloon__radio {
            position:absolute;
            top:0; 
            left:0;
            width:2px;
            height:2px;
            opacity:0;
            display:none;
            &:checked + .st_balloon__lbe {
                background:#000;
                color:#FFF;
                border-radius: 10em;
                transition: all 0.3s;
            }
        }


        .st_balloon__lbe {
            display:inline-block;
            padding:18em 22em;
            border: 1px solid #ddd;
            border-radius: 50px;
            transition: all 0.3s;

            &:hover {
                border-radius: 10em;
                border-color:#000;
                transition: all 0.5s;
            }

            .t--kr {
                font-size: 18em;
            }
        }
    }
}


@media all and(max-width:750px){
    .selecttext_balloon__cont {
        gap:10em;
        .selecttext_balloon {
            .st_balloon__lbe {
                padding:11em 14em;
                .t--kr {
                    font-size: 14em;
                }
            }
        }
    }
}


.in-box__container {
    display:flex;
    flex-direction: row;    
    flex-wrap: wrap
}

.in-box__box-wrap {
    flex-basis: calc(50% - 20em);
    position:relative;
    box-sizing: border-box;
    padding:22em;
    border-bottom:1px solid #ddd;
    margin:0 0 20em;
    &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom:-1px; 
        left:0;
        transform: scaleX(0%);
        transform-origin: 0 0;
        transition:all 0.3s;
    }

    &.confirm, &.confirm:focus-within { border-bottom-color:#0aa86c; }
    &.confirm:hover::before, &.confirm:focus::before { background:#0aa86c; }

    &.error, &.error:focus-within { border-bottom-color:#d2330f; }
    &.error:hover::before, &.error:focus::before { background:#d2330f; }
    &.error .in-box__box {color:#d2330f}

    
    &:not(.noAni):hover::before, &:not(.noAni):focus::before {
        background-color: #000;
        transform: scaleX(100%);
        transition:all 0.5s;
    }
    &:not(.noAni):focus-within {
        border-bottom-color: #000;
        transition: all 0.3s 0.5s
    }
    &:hover .in-box__box::placeholder, &:focus .in-box__box::placeholder,
    &:hover #file-label, &:focus #file-label {
        color:#000;
        transition: all 0.3s;
    }

    &:nth-child(odd){
        margin-right:20em;
    }
    &:nth-child(even) {
        margin-left:20em;
    }

    &.in-box__box-wrap-textarea{
        flex-basis: 100%;
        border:1px solid #ddd;
        margin:20em 0;
    }
}




@media all and(max-width:750px){

    .in-box__box-wrap {
        flex-basis: 100%;
        padding:11em;
        margin:20em 0 0em;
        &:nth-child(odd){ margin-right:0em; }
        &:nth-child(even) { margin-left:0em; }
    
        &.in-box__box-wrap-textarea{
            margin:20em 0;
        }
    }

}


.in-box__box{
    font-size:18em;
    border:0; 
    outline: none;
    line-height: 1em;
    width:100%;
    letter-spacing: -0.05em;
    &::placeholder {color:#8d8d8d}
    &:focus {outline: none;}
}



#file-label{color:#8d8d8d}
.in-box__box--file {opacity:0; position:absolute; top:0; left: 0; width: 1px; height: 1px;;}

.in-box__box--long {
    display:inline-block; width:100%; font-family: inherit;
    font-weight: inherit;
    height: 20em;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    resize: none;

}

@media all and(max-width:750px){
    .in-box__box{
        font-size:16em; 
    }
    .in-box__box--long {
        height: 6em;
    }
}


.in-box__box-policy {
    position:relative;

    #policy{
        position:absolute;
        width:2px; 
        height:2px;
        display: none;
        &:checked + .policy-check__label .policy-check__check {
            opacity:1;
            transition:all 0.3s;
        }
    }

    .policy-check__label {
        display:flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 10em;
    
        .policy-check__box {
            border:1px solid #666666;
            width:20em;
            height:20em;
            display: inline-block;
            position: relative;
            box-sizing:Border-box;
            .policy-check__check {
                display:block;
                width:100%;
                height:100%;
                background:#000;
                position:absolute;
                top:0;
                left:0;
                opacity:0;
                transition:all 0.3s;
    
                &::after {
                    content:"";
                    width:50%;
                    height:25%;
                    top:5em; 
                    left:50%;
                    position:absolute;
                    border:2px solid#FFF;
                    border-top:0;
                    border-right:0;
                    transform: rotate(-45deg) translate(-50%, -50%);
                    transform-origin: 25% 25%;
                }
            }
        }
    
        .policy-check__txt {
            font-size:18em;
    
            .policy-check__page {
                border:0;
                background:0;
                padding:0;
                margin:0;
                font-size:1em;
                font-weight: bold;
                border-bottom:1px solid #000;
            }
        }
    }
}


@media all and(max-width:750px){
    .in-box__box-policy {
        .policy-check__label {
            .policy-check__box {
                width:10em;
                height:10em;
                .policy-check__check {
                    &::after {
                        top:2em; 
                    }
                }
            }
            .policy-check__txt {
                font-size:12em;
            }
        }
    }
}



.hiring_submit__button {
    font-size:1em;
    border:0;
    padding:0; 
    margin:0 auto 0;
    display:block;
    background:transparent;
    width:280em;
    height:280em;
    border-radius: 100%;
    background-color:#000;

    .arr{
        display:inline-block;
        width: 60em;
        height: 60em;
        overflow: hidden;
        .arr-in{
            width:100%;
            height: 100%;
            position: relative;

            &::before {
                content:"";
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width:2px;
                height: 130%;
                background:#FFF;
            }
            span {
                position:absolute;
                top:0;
                right:0;
                background-color: #FFF;
                &.t {
                    width:83.3%;
                    height: 2px;
                }
                &.r {
                    height:83.3%;
                    width: 2px;
                }
            }
        }
    }

    .arr-before{
        transform: translate(0, 0);
        opacity: 1;
    }
    .arr-after{
        transform: translate(-100%, 0);
        opacity: 0;
    }

    &:hover .arr-before{
        transform: translate(100%, -100%);
        opacity: 0;
        transition-duration: 0.4s;
        transition-property: all;
    }
    &:hover .arr-after{
        transform: translate(0%, -100%);
        opacity: 1;
        transition-duration: 0.6s;
        transition-property: all;
    }
}


@media all and(max-width:750px){
    .hiring_submit__button {
        width:120em;
        height:120em;
        .arr{
            width: 30em;
            height: 30em;
        }
    }
}