@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./font.css");
@mixin transform($sec){transition-duration: #{$sec}s;transition-property: transform opacity filter margin;}
@mixin onView{transform: translate(0,0);opacity: 1;}
$font1 : 'Helvetica Neue';
$font2 : 'Roboto';
$font3 : 'AppleSD';
$font4 : 'NotoSansKR';
$orange : #ffa010;
$green : #70d076;
$blue : #0b6ffb;
$red : #ff4f15;
$purple : #6d22fe;
$brown : #8b5d18;
$black8 : #888888;
$black3 : #333333;

.font1{font-family: $font1;}
.font2{font-family: $font2;}
.font3{font-family: $font3;}
.font4{font-family: $font4;}
.font-weight-100{font-weight: 100;}
.font-weight-200{font-weight: 200;}
.font-weight-300{font-weight: 300;}
.font-weight-400{font-weight: 400;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}
.font-weight-700{font-weight: 700;}
.font-weight-800{font-weight: 800;}
.font-weight-900{font-weight: 900;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.bold{font-weight: bold;}
*{margin: 0;padding: 0;box-sizing: border-box;word-break: keep-all;}
.over-hidden{overflow: hidden;position: relative;}
:root{height: -webkit-fill-available;}
::-webkit-scrollbar { display: none; }

.small_title{display: flex;justify-content: center;}
.small_title.left{justify-content: flex-start;}
.small_title p{font-family: $font3;font-size: 20px;font-weight: bold;}
.small_title.white{color: #ffffff;}
.double-span{width: 20px;height: 20px;display: flex;margin: 0 20px;flex-direction: column;justify-content: center;}
.double-span span{display: block;width: 10px;height: 10px;border-radius: 100%;}
.double-span.blue span{background-color: $blue;}
.double-span.purple span{background-color: $purple;}
.double-span.orange span{background-color: $orange;}
.double-span-wrap{display: flex;}
b.purple{color: $purple;}

.big_title{margin-top: 40px;}
.big_title p{font-size: 52px;font-weight: 800;line-height: 1.2;}
.big_title.white p{color: #ffffff;}

.big_exp{margin-top: 60px;font-size: 20px;line-height: 1.6;font-family: $font3;color: $black3;letter-spacing: -1px;}
.big_exp.white{color: #ffffff;}
.small_exp{margin-top: 40px;font-size: 15px;line-height: 1.6;font-family: $font1;color: $black8;}

#sect1{background-color: $orange;
    .s1__container{max-width: 1760px;width: 100%;padding: 0 40px;margin: auto;position: relative;}
    .s1__body{width: 100%;position: relative;}
    .s1__img_hand{display: block;margin:0 auto;margin-top: 20px;opacity: 0;@include transform(1);width: 100%;max-width: 1300px;}
    .init .s1__img_hand{opacity: 1;margin-top: 0;}
    .s1__img_fig1{top: 10%;left:60%;transform: translate(0,0);}
    .s1__img_fig2{top: 20%;left:65%;transform: translate(0,0);}
    .s1__img_fig3{top: 55%;left:25%;transform: translate(0,0);}
    .s1__img_grape{top: 10%;left:25%;transform: translate(0,0);}
    .s1__img_person1{top: 15%;left:10%;transform: translate(0,0);}
    .s1__img_person2{top: 25%;left:80%;transform: translate(0,0);}
    .s1__img_person3{bottom: 15%;left:70%;transform: translate(0,0);}
    .absolute:nth-child(2){transition-delay: 0.6s;}
    .absolute:nth-child(3){transition-delay: 0.7s;}
    .absolute:nth-child(4){transition-delay: 0.8s;}
    .absolute:nth-child(5){transition-delay: 0.9s;}
    .absolute:nth-child(6){transition-delay: 1s;}
    .absolute:nth-child(7){transition-delay: 1.1s;}
    .absolute:nth-child(8){transition-delay: 1.2s;}
    .absolute{opacity: 0;margin-top: 10px;@include transform(0.6);position: absolute;}
    .init .absolute{opacity: 1;margin-top: 0px;}
    .shadow{filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));@include transform(0.6)}
    .init .shadow{filter: drop-shadow(40px 40px 20px rgba(0,0,0,0.1));}
    .s1__footer{width: 100%;display: flex;justify-content: space-between;position: absolute;bottom: 60px;left: 0;padding: 0 40px;}
    .s1__footer_box{display:flex;flex-direction:column;}
    .s1__footer_box img{max-width: 126px;}
    .s1__footer_box p{color: #ffffff;margin-top: 20px;}
    .s1__footer_box p.big{font-size: 60px;}
}
#sect2{background-color: $orange;}
#sect2{
    .s2__container{padding-top: 260px;width: 100%;border-radius: 100px 100px 0 0;background-color: #ffffff;}
    .s2__head{max-width: 950px;width: 100%;margin: auto;padding: 0 40px;}
    .s2__body{max-width: 630px;width: 100%;margin: auto;position: relative;margin-top: 160px;}
    .s2__body img{@include transform(0.6);opacity: 0;}
    .s2__body img:not(.fig1){position: absolute;filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.1))}
    .s2__body img.fig1{display: block;margin: auto;max-width: 523px;width: 100%;}
    .s2__body img.fig2{bottom: 0;left: 0;transition-delay: 0.2s;}
    .s2__body img.fig3{top: 25%;right: 0;transition-delay: 0.3s;}
    .s2__body img.fig4{top: 35%;left: 10%;transition-delay: 0.4s;}
    .s2__body img.fig5{bottom: 15%;right: 15%;transition-delay: 0.5s;}
    .on-view img{opacity: 1;}
    .on-view img:not(.fig1){filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.1))}
}
#sect3{background-color: $green;}
#sect3{
    .s3__container{padding-top: 340px;padding-bottom: 170px;width: 100%;background-color: #ffffff;border-radius: 0 0 100px 100px;}
    .s3__head{width: 100%;max-width: 1300px;padding: 0 40px;margin: auto;}
    .s3__head .small_title{justify-content: flex-start;}
    .s3__head .big_title{position: relative;}
    .s3__head .big_title p{position: relative;}
    .s3__head .big_title span{position: absolute;display: block;width: 310px;height: 30px;background-color: orange;bottom: 0;transform: translate(0,10%);}

    .s3__body{max-width: 1140px;padding: 0 40px;width: 100%;margin:160px auto 0;position: relative;}
    .s3__body .absolute{position: absolute;top: 0;}
    .s3__body img{opacity: 0;@include transform(0.3);transform: translate(0,20px);}
    .s3__body.on-view img{opacity: 1;transform: translate(0,0);transition-duration: 1s;}
    .s3__body.on-view img:nth-child(1){transition-delay: 0.1s;}
    .s3__body.on-view img:nth-child(2){transition-delay: 0.3s;}
    .s3__body.on-view img:nth-child(3){transition-delay: 0.4s;}
    .s3__body.on-view img:nth-child(4){transition-delay: 0.2s;}

    .s3__outter{max-width: 1300px;width: 100%;margin: auto;padding: 185px 40px;position: relative;}
    .s3__outter_button{font-size: 20px;border-radius: 100px;background-color: #ffffff;color: $green;display: inline-block;padding:15px 35px;margin-bottom: 40px;}
    .s3__outter_title{font-size: 52px;color: #ffffff;}
    .s3__outter img{position: absolute;opacity: 0;@include transform(0.6)}
    .s3__outter.on-view img{opacity: 1;}
    .s3__outter img.shadow{filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));}
    .s3__outter.on-view img.shadow{filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.2));@include transform(0.6)}
    .s3__outter img.s3_out_fig1{top: 50%;left: 40px;transform:translate(0%,-50%);}
    .s3__outter img.s3_out_fig2{top: 50%;right: 120px;transform: translate(0,-50%);}
    .s3__outter img.s3_out_fig3{top: 50%;right: 40px;transform: translate(0,20%);}
}
#sect4{background-color: $green;}
#sect4{
    .s4__container{width: 100%;border-radius: 100px 100px 0 0;padding-top: 300px;background-color: #efefef;}
    .s4__head{padding: 0 40px;}
    .button_wrap{margin-top: 40px;}
    .button_wrap p{display: inline-block;background-color: $red;color: #ffffff;padding: 15px 30px;border-radius: 50px;}
    .button_wrap p:last-child{margin-left: 10px;}
    .s4__body1{margin-top: 160px;position: relative;}
    .s4__body1 img:not(.s4__phone){position: absolute;width: 30%;opacity: 0;@include transform(0.6)}
    .s4__body1 .s4__phone{max-width: 772px;width: 100%;margin: auto;display: block;position: relative;}
    .s4__body1 .talk1{top: 0;left: 10%;max-width: 540px;}
    .s4__body1 .talk2{top: 0;right: 10%;max-width: 542px;}
    .s4__body1 .talk3{top: 50%;left: 40%;max-width: 500px;transform: translate(-100%,0);}
    .s4__body1 .talk4{top: 50%;right:0%;max-width:525px; transform:translate(0,0);}
    .s4__body1 .talk5{bottom: 0;left: 0;max-width: 494px;}
    .s4__body1 .talk6{bottom: 0;right: 10%;max-width: 542px;}
    .s4__body1 img.on-view{opacity: 1;}

    .s4__body_text .buttons{margin-top: 40px;}
    .s4__body_text .buttons p{font-size: 20px;;display: inline-block;color: #ffffff;background: $blue;border-radius: 50px;padding: 15px 30px;margin-right: 10px;}
    .s4__body2{position: relative;margin-top: 400px;}
    .s4__body_text .big_title,
    .s4__body_text .big_title p{position: relative;}
    .s4__body_text .big_title span{position: absolute;width: 100%;height: 30px;background-color: $orange;display: block;bottom: 0;}
    .s4__body_text .big_title span.half{bottom: 50%;width: 86%;}

    .s4__body2_wrap{max-width: 1300px;width: 100%;margin: auto;padding: 0 40px;display: flex;justify-content: space-between;position: relative;}
    .s4__body2_absolute{position: absolute;top: 50%;display: flex;width: 100%;}
    
    .s4__body2_card{padding: 28px;border-radius: 20px;background-color: #ffffff;font-size: 20px;margin-right: 40px;}
    .s4__body2_card{filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.3));@include transform(0.6);transform: translate(-45%,0);opacity: 0;}
    .on-view .s4__body2_card{filter: drop-shadow(40px 40px 20px rgba(0,0,0,0.1));transform: translate(-35%,0);opacity: 1;}
    .on-view .s4__body2_card:nth-child(1){transition-delay: 0.1s;}
    .on-view .s4__body2_card:nth-child(2){transition-delay: 0.3s;}
    .on-view .s4__body2_card:nth-child(3){transition-delay: 0.5s;}
    .card_name{border-radius: 100px;padding: 10px 15px;color: #ffffff;display: inline-block;}
    .card_name.orange{background-color: $orange;}
    .card_name.green{background-color: $green;}
    .card_name.red{background-color: $red;}
    .card_text_wrap{display: flex;color: $black3;margin-top: 20px;}
    .card_clock_icon{margin-right: 10px;}
    .card_clock_icon img{width: 25px;margin-top: 4px;}
    .card_text_row1{display: flex;line-height: 1.6;margin-bottom: 20px;}
    .card_text_row3{margin-top: 20px;}
    .card_text_row3_list{display: flex;line-height: 1.1;margin-top: 10px;}
    .card_text_row3_list p{color: $black8;text-decoration: underline;}
    .card_text_row3_list img{width: 29px;height: 19px;}

    .s4__body3{display: flex;justify-content: space-between;max-width: 1760px;padding: 0 80px 380px;margin: auto;}
    .s4__body3 .s4__body3_fig img{filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));@include transform(0.6);opacity: 0;}
    .s4__body3.on-view .s4__body3_fig img{filter: drop-shadow(40px 40px 20px rgba(0,0,0,0.1));opacity: 1;}
}
#sect5{background: rgb(239,239,239);background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 48%, rgba(30,30,30,1) 50%, rgba(30,30,30,1) 100%);}
#sect5{
    .s5__container{background-color: #f7f7f7;border-radius: 100px;}
    .s5__wrap{max-width: 1300px;padding: 270px 40px;display: flex;justify-content: space-between;margin: auto;}
    .zepeto_logo{margin-top: 60px;}
    .small_title{justify-content: flex-start;}

    .s5__talkBox{display: flex;padding: 0px 40px;background-color: #ffffff;border-radius: 20px;position: relative;filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));@include transform(0.6);opacity: 0;}
    .s5__talkBox:nth-child(1){transition-delay: 0.1s;}
    .s5__talkBox:nth-child(2){transition-delay: 0.2s;margin-top: 50px;}
    .s5__talkBox:nth-child(3){transition-delay: 0.3s;margin-top: 50px;}
    .on-view .s5__talkBox{filter: drop-shadow(30px 30px 15px rgba(0,0,0,0.1));opacity: 1;}
    .s5__talk_text{display: flex;flex-direction: column;justify-content: center;margin-right: 44px;padding: 40px 0;}
    .talk_title{font-size: 24px;font-weight: bold;}
    .talk_exp{margin-top: 22px;font-size: 18px;color: $black8;}
    .s5__cha{overflow: hidden;}
    .s5__cha img{transform: translate(0, 55px);}
    .s5__talk_balloon{position: absolute;top: 0;left: 55%;transform: translate(-50%,-50%);}
    .s5__talk_balloon p{position: absolute;color: #ffffff;top: 50%;left: 50%;transform: translate(-50%,-60%);width: 100%;text-align: center;@include transform(1);opacity: 0;}
    .s5__talk_balloon img{filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));@include transform(1);opacity: 0;}
    .on-view .s5__talk_balloon img{filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.1));opacity: 1;transition-delay: 0.6s;}
    .on-view .s5__talk_balloon p{opacity: 1;transition-delay: 0.6s;}
}
#sect6{background-color: #1e1e1e;}
#sect6{
    .s6__head{display: flex;justify-content: space-between;max-width: 1300px;padding: 0 40px;margin: auto;}
}
