@mixin beltContainer {position: relative;overflow-x: hidden;width: 100%;}
$font1 :  Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
$font2 : 'Playfair Display', serif;
$black : #000000;
$white : #ffffff;
$--gw : 40px;//외곽
$--gc : 135px;//컬럼
$--gg : 20px;//갭
$--g : 155px;//컬럼+갭
#colorStyle.black{
    .footer__c1_belt p{color: $white;}
    .footer__c1_belt svg{fill: $white;}
}
#colorStyle.white{
    .footer__c1_belt p{color: $black;}
    .footer__c1_belt svg{fill: $white;}
}
#footer{padding-top:270px;padding-bottom: 140px;width: 100%;overflow: hidden;}
.footer__c2{padding-bottom: 100px;position: relative;}
.footer__c2 p{color: $white;font-size: clamp(40px, 15vw, 180px);line-height: 1;text-align: center;}
$stickyR : 400px;
.footer__c2_sticky{position: absolute;width: $stickyR;height: $stickyR;top: 0;left: 50%;transform: translate(-50%,calc(-50% - 14px));border-radius: 50%;}
$stickyCircleR : 280px;
.footer__c2_sticky_circle{width: $stickyCircleR;height: $stickyCircleR;position: absolute;top:($stickyR - $stickyCircleR)/2;left:($stickyR - $stickyCircleR)/2;border-radius: 50%;pointer-events: none;}
$stickyArrowR : 50px; 
.footer__c2_sticky_circle .arrow{width: $stickyArrowR;height: $stickyArrowR;border-top: 3px solid $white;border-right: 3px solid $white;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
$stickySpanR :  84px;
.footer__c2_sticky_circle .arrow span{width:  $stickySpanR;height: 3px;background-color: $white;display: block;position: absolute;top: 50%;left: 50%;transform: translate(calc(-50% - 5px),calc(-50% + 5px))rotate(-45deg) ;}
.footer__c2_sticky_blend{width: 100%;height: 100%;background-color: #fff;border-radius: 50%;transform: scale(0);transition-duration:0.4s;mix-blend-mode: difference;}
.footer__c2_sticky_blend.blended{transform: scale(1);transition-duration:0.5s;}
.footer__c2_sticky_border{width: 100%;height: 100%;border: 1px solid $white;border-radius: 50%;position: absolute;top: 0;left: 0;}
.footer__c3{display: flex;margin: auto;width: 1920px - $--g * 2 - $--gw * 2;justify-content: space-between;}
.footer__c3 p{color: $white;}
.footer__c3 .p3,.footer__c3 .p1{font-size: 20px;color:$white;opacity: 0.5;margin-bottom: 14px;}
.footer__c3 .p2{font-size: 16px;font-weight: 300;}
.footer__c3 .p3{opacity: 0;pointer-events: none;}
.footer__date{width: $--g;}
