@-webkit-keyframes soundAnimation {
  0% {
    -webkit-transform: scaleY(0.5) translate(0, 25%);
            transform: scaleY(0.5) translate(0, 25%);
  }
  50% {
    -webkit-transform: scaleY(1) translate(0, 0%);
            transform: scaleY(1) translate(0, 0%);
  }
  100% {
    -webkit-transform: scaleY(0.5) translate(0, 25%);
            transform: scaleY(0.5) translate(0, 25%);
  }
}

@keyframes soundAnimation {
  0% {
    -webkit-transform: scaleY(0.5) translate(0, 25%);
            transform: scaleY(0.5) translate(0, 25%);
  }
  50% {
    -webkit-transform: scaleY(1) translate(0, 0%);
            transform: scaleY(1) translate(0, 0%);
  }
  100% {
    -webkit-transform: scaleY(0.5) translate(0, 25%);
            transform: scaleY(0.5) translate(0, 25%);
  }
}

#colorStyle.black .header__logo {
  color: #ffffff;
}

#colorStyle.black .header__logo svg {
  fill: #FFF;
}

#colorStyle.black .header__sound_animation span {
  background-color: #ffffff;
}

#colorStyle.black .header__sound_states {
  color: #ffffff;
}

#colorStyle.white .header__logo {
  color: #000000;
}

#colorStyle.white .header__logo svg {
  fill: #000;
}

#colorStyle.white .header__sound_animation span {
  background-color: #000000;
}

#colorStyle.white .header__sound_states {
  color: #000000;
}

@media all and (max-width: 768px) {
  #colorStyle.mobile-black .header__logo {
    color: #ffffff;
  }
  #colorStyle.mobile-black .header__logo svg {
    fill: #FFF;
  }
  #colorStyle.mobile-black .header__sound_animation span {
    background-color: #ffffff;
  }
  #colorStyle.mobile-black .header__sound_states {
    color: #ffffff;
  }
  #colorStyle.mobile-white .header__logo {
    color: #000000;
  }
  #colorStyle.mobile-white .header__logo svg {
    fill: #000;
  }
  #colorStyle.mobile-white .header__sound_animation span {
    background-color: #000000;
  }
  #colorStyle.mobile-white .header__sound_states {
    color: #000000;
  }
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

#projectHeader {
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.header__col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-size: 20px;
  width: 135px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4px;
}

.header__sound_animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  margin-right: 10px;
}

.header__sound_animation span {
  display: block;
  width: 1px;
  height: 12px;
  margin-right: 2px;
}

.header__sound_states {
  font-size: 14px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__sound.on .header__sound_states.off {
  display: none;
}

.header__sound.on .header__sound_states.on {
  display: block;
}

.header__sound.on .header__sound_animation span {
  -webkit-animation: 0.6s 0s soundAnimation infinite;
          animation: 0.6s 0s soundAnimation infinite;
}

.header__sound.on .header__sound_animation span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.header__sound.on .header__sound_animation span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.header__sound.on .header__sound_animation span:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.header__sound.on .header__sound_animation span:nth-child(4) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s;
}

.header__sound.on .header__sound_animation span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
}

.header__sound.off .header__sound_states.off {
  display: block;
}

.header__sound.off .header__sound_states.on {
  display: none;
}

.header__sound.off .header__sound_animation span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@media all and (max-width: 768px) {
  #header {
    padding: 20px 20px 0;
  }
  #projectHeader {
    padding: 20px 20px 0;
  }
}
/*# sourceMappingURL=header.css.map */