@import url("./font.css");
.over-hidden {
  overflow: hidden;
  position: relative;
}

.s1__body,
.s2_title,
.s2_disc,
.s3_title,
.s5__body_text1,
.s5__body_text2,
.s6__box_logo,
.s6__textBox,
.s6__box_text1,
.s6__box_text2,
.s6__box_imgBox,
.s6__abs,
#sect7 span,
#sect7 img,
.s9_c1_abs p.real,
.s12__col img,
.s13__tit1,
.s13__tit2 {
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
}

.font1 {
  font-family: "Helvetica Neue";
}

@media all and (max-width: 480px) {
  br {
    display: none;
  }
}

* {
  word-break: keep-all;
}

#sect1 {
  width: 100%;
  height: 100vh;
  padding: 150px 80px 90px;
  background-color: #3d5dd1;
  position: relative;
  font-family: "DungGeunMo";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect1 .s1__body_box {
  position: relative;
}

#sect1 .s1__body_box img {
  width: 100%;
  max-width: 1200px;
}

#sect1 .img-fake {
  opacity: 0;
}

#sect1 .img-border, #sect1 .img-non-border {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#sect1 .img-border {
  opacity: 0;
}

#sect1 .img-border.on {
  opacity: 1;
}

#sect1 .s1__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  line-height: 1.2;
}

#sect1 .s1__head_box {
  display: block;
}

#sect1 .s1__head_box:nth-child(1) {
  text-align: left;
}

#sect1 .s1__head_box:nth-child(2) {
  text-align: center;
}

#sect1 .s1__head_box:nth-child(3) {
  text-align: right;
}

#sect1 .s1__head_text1 {
  color: #fff556;
}

#sect1 .s1__head_text2 {
  color: #ffffff;
}

#sect1 .s1__body {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  font-family: "DungGeunMo";
}

#sect1 .s1__body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sect1 .s1__body_box:nth-child(2) {
  margin-top: 60px;
}

#sect1 .s1__body_box_item {
  text-align: center;
}

#sect1 .s1__body_box_item:nth-child(1),
#sect1 .s1__body_box_item:nth-child(3) {
  margin-top: 4px;
}

#sect1 .s1__body_box_item:nth-child(2) {
  margin: 0 40px;
}

#sect1 .s1__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

#sect1 .s1__footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect1 .s1__footer_box:nth-child(1) {
  font-size: 24px;
  font-family: "Helvetica Neue";
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

#sect1 .s1__footer_box:nth-child(3) {
  font-size: 110px;
  line-height: 0.8;
}

#sect1 .s1__footer_box img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#sect1 .s1__body {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

@media all and (max-width: 1300px) {
  #sect1 .s1__head {
    font-size: 32px;
  }
  #sect1 .s1__body {
    font-size: 32px;
  }
  #sect1 .s1__footer_box:nth-child(1) {
    font-size: 20px;
  }
  #sect1 .s1__footer_box:nth-child(3) {
    font-size: 80px;
  }
}

@media all and (max-width: 1024px) {
  #sect1 .s1__head {
    font-size: 24px;
  }
  #sect1 .s1__body {
    font-size: 24px;
  }
  #sect1 .s1__body_box:nth-child(2) {
    margin-top: 40px;
  }
  #sect1 .s1__footer_box:nth-child(1) {
    font-size: 16px;
  }
  #sect1 .s1__footer_box:nth-child(1) {
    font-size: 18px;
  }
  #sect1 .s1__footer_box:nth-child(3) {
    font-size: 48px;
  }
}

@media all and (max-width: 768px) {
  #sect1 {
    padding: 120px 20px 60px;
  }
  #sect1 .s1__head {
    font-size: 16px;
  }
  #sect1 .s1__body {
    font-size: 14px;
  }
  #sect1 .s1__body_box:nth-child(2) {
    margin-top: 20px;
  }
  #sect1 .s1__body_box_item img {
    width: 32px;
  }
  #sect1 .s1__footer_box img {
    width: 40%;
  }
  #sect1 .s1__footer_box:nth-child(1) {
    font-size: 12px;
  }
  #sect1 .s1__body_box_item:nth-child(2) {
    margin: 0 18px;
  }
  #sect1 .s1__footer_box:nth-child(3) {
    font-size: 20px;
  }
}

#sect1.init .s1__body {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect2 {
  width: 100%;
  padding: 200px 0;
  background-color: #ffffff;
}

#sect2 .s2__body {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

#sect2 .s2__body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect2 .s2__body_box:nth-child(1) {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 140px;
  font-family: "DungGeunMo";
  color: #3d5dd1;
  line-height: 0.8;
}

#sect2 .s2__body_box:nth-child(1) p:nth-child(2) {
  position: absolute;
  color: #2f479c;
  top: 0;
  left: 0;
}

#sect2 .s2__body_box:nth-child(1) p:nth-child(3) {
  position: absolute;
  color: #3d5dd1;
  top: 0;
  left: 0;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

#sect2 .s2__body_box:nth-child(1) .s2__body_box_item:nth-child(2) {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 13px;
  margin-left: 110px;
}

#sect2 .s2__body_box:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

#sect2 .s2__body_box:nth-child(2) p {
  margin-left: 140px;
  font-size: 20px;
  font-family: "AppleSD";
  line-height: 1.5;
}

#sect2 .s2_title {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2_disc {
  -webkit-transform: translate(-5%, 0);
          transform: translate(-5%, 0);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect2 .s2_title.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect2 .s2_disc.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

@media all and (max-width: 1024px) {
  #sect2 .s2__body_box:nth-child(1) {
    font-size: 100px;
  }
  #sect2 .s2__body_box:nth-child(1) .s2__body_box_item:nth-child(2) {
    font-size: 12px;
  }
  #sect2 .s2__body_box:nth-child(1) .s2__body_box_item:nth-child(2) {
    margin-left: 80px;
  }
  #sect2 .s2__body_box:nth-child(2) p {
    font-size: 16px;
    margin-left: 40px;
  }
}

@media all and (max-width: 767px) {
  #sect2 {
    padding: 120px 0;
  }
  #sect2 .s2__body {
    padding: 0 20px;
  }
  #sect2 .s2_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sect2 .s2__body_box:nth-child(1) {
    font-size: 80px;
    width: 100%;
  }
  #sect2 .s2__body_box:nth-child(2) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  #sect2 .s2__body_box:nth-child(1) .s2__body_box_item:nth-child(2) {
    font-size: 10px;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: 48px;
  }
  #sect2 .s2__body_box:nth-child(1) .s2__body_box_item:nth-child(2) {
    margin-left: 0px;
  }
  #sect2 .s2__body_box:nth-child(2) p {
    font-size: 14px;
    margin-left: 0;
  }
  #sect2 .s2_disc {
    width: 80%;
  }
  #sect2 .s2_disc br {
    display: none;
  }
}

#sect3 {
  width: 100%;
  padding: 300px 100px 200px;
}

#sect3 .s3__head {
  font-family: "AppleSD";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

#sect3 .s3__head_box {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  word-break: keep-all;
}

#sect3 .s3__head_box img {
  max-width: 1077px;
  width: 100%;
}

#sect3 .s3__head_box b {
  color: white;
  font-weight: 400;
}

#sect3 .s3__head_box:nth-child(2) {
  margin-top: 70px;
}

#sect3 .s3__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Helvetica Neue";
  margin-top: 140px;
  width: 100%;
}

#sect3 .s3__body_box {
  width: calc(100% / 3 - 40px / 3);
  background-color: #ffffff;
  padding: 20px 28px 40px;
  border-radius: 28px;
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  border: 3px solid #3b3b3b;
}

#sect3 .s3__body_box:nth-child(1) {
  background-image: url(/common/image/project/labstartup_s3_card1.png);
}

#sect3 .s3__body_box:nth-child(2) {
  background-image: url(/common/image/project/labstartup_s3_card2.png);
}

#sect3 .s3__body_box:nth-child(2) img {
  -webkit-transform: translate(7%, 0);
          transform: translate(7%, 0);
}

#sect3 .s3__body_box:nth-child(3) {
  background-image: url(/common/image/project/labstartup_s3_card3.png);
}

#sect3 .s3__body_box_col1 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  height: 3px;
  border-radius: 1px;
}

#sect3 .s3__body_box_col1 span {
  display: block;
  background-color: #000000;
  height: 100%;
}

#sect3 .s3__body_box:nth-child(1) .s3__body_box_col1 span {
  width: 25%;
}

#sect3 .s3__body_box:nth-child(2) .s3__body_box_col1 span {
  width: 60%;
}

#sect3 .s3__body_box:nth-child(3) .s3__body_box_col1 span {
  width: 80%;
}

#sect3 .s3__body_box_col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 12px;
}

#sect3 .s3__body_box_col2 p {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
}

#sect3 .s3__body_box_col2 b {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

#sect3 .s3__body_box_col2 .s3__body_box_col_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect3 .s3__body_box_col2 .s3__body_box_col_item:nth-child(2) {
  margin-left: 10px;
}

#sect3 .s3__body_box_col3 {
  margin: 10vw 0 5.6vw;
}

#sect3 .s3__body_box_col3 img {
  display: block;
  margin: auto;
  width: 59%;
}

#sect3 .s3__body_box_col4 {
  padding: 16px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: auto;
  max-width: 424px;
}

#sect3 .s3__box_col_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect3 .s3__box_col_item > div {
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect3 .s3__box_col_item span {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
  display: block;
}

#sect3 .s3__box_col_text {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}

#sect3 .s3_title {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect3 .s3_title.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect3 .s3__body_box {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect3 .s3__body_box.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect3 .s3__body_box.on-view:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#sect3 .s3__body_box.on-view:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sect3 .s3__body_box.on-view:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media all and (max-width: 1300px) {
  #sect3 {
    padding: 300px 40px 200px;
  }
}

@media all and (max-width: 1024px) {
  #sect3 .s3__head {
    font-size: 16px;
  }
  #sect3 .s3__box_col_text {
    font-size: 14px;
  }
  #sect3 .s3__body_box_col2 img {
    max-width: 28px;
  }
  #sect3 .s3__body_box_col2 p {
    font-size: 13px;
  }
  #sect3 .s3__body_box_col4 {
    padding: 10px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  #sect3 .s3__body_box_col4 img {
    max-width: 20px;
  }
  #sect3 .s3__box_col_item > div {
    margin-right: 2px;
  }
  #sect3 .s3__box_col_item span {
    width: 2px;
    height: 2px;
  }
}

@media all and (max-width: 767px) {
  #sect3 {
    padding: 120px 40px 160px;
  }
  #sect3 .s3__head {
    font-size: 14px;
  }
  #sect3 .s3__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
  }
  #sect3 .s3__body_box {
    width: 100%;
  }
  #sect3 .s3__body_box:not(:last-child) {
    margin-bottom: 40px;
  }
  #sect3 .s3__body_box_col3 img {
    max-width: 200px;
  }
}

@media all and (max-width: 480px) {
  #sect3 {
    padding: 120px 20px 160px;
  }
  #sect3 .s3__body_box_col3 img {
    max-width: 120px;
  }
}

#sect4 .s4__head {
  color: #ffffff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

#sect4 .s4__head_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

#sect4 .s4__head_box span {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  display: block;
  border-radius: 4px;
}

#sect4 .s4__head_box:nth-child(1) {
  margin-bottom: 28px;
}

#sect4 .s4__body {
  padding: 0 40px;
  font-family: "AppleSD";
  max-width: 1270px;
  margin: 120px auto 0;
}

#sect4 .s4__body img {
  display: block;
  margin: auto;
  width: 100%;
}

#sect4 .s4__body_box p {
  color: #888888;
  text-align: right;
  margin-top: 28px;
  font-size: 16px;
}

@media all and (max-width: 767px) {
  #sect4 .s4__body_box {
    font-size: 14px;
  }
}

#sect5 {
  margin-top: 280px;
}

#sect5 img {
  width: 100%;
}

#sect5 .s5__body {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

#sect5 .s5__body_box:nth-child(1) {
  width: calc(66.666% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect5 .s5__body_box:nth-child(2) {
  width: calc(33.333% - 10px);
}

#sect5 .s5__body_box:nth-child(2) .s5__body_fig {
  border: 1px solid #333333;
  border-radius: 28px;
}

#sect5 .s5__body_box:nth-child(2) .s5__body_fig img {
  width: 100%;
  display: block;
  margin: auto;
}

#sect5 .s5__body_title {
  margin-top: 50px;
}

#sect5 .s5__body_imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect5 .s5__body_imgBox .s5__body_fig {
  width: calc(50% - 10px);
}

#sect5 .s5__body_text1 {
  font-size: 72px;
  font-family: "DungGeunMo";
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  line-height: 1;
  color: #ffffff;
}

#sect5 .s5__body_text2 {
  font-size: 20px;
  font-family: "AppleSD";
  color: #888888;
  line-height: 1.5;
  margin-top: 36px;
  word-break: keep-all;
}

#sect5 .s5__body_text2 b {
  color: #ffffff;
  font-weight: 400;
}

#sect5 .s5__body_text1 {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect5 .s5__body_text1.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect5 .s5__body_text2 {
  -webkit-transform: translate(5%, 0%);
          transform: translate(5%, 0%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect5 .s5__body_text2.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

@media all and (max-width: 1024px) {
  #sect5 {
    margin-top: 200px;
  }
  #sect5 .s5__body {
    display: block;
  }
  #sect5 .s5__body_box:nth-child(1) {
    width: 100%;
  }
  #sect5 .s5__body_box:nth-child(2) {
    width: 100%;
    margin-top: 40px;
  }
  #sect5 .s5__body_box:nth-child(2) .s5__body_fig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sect5 .s5__body_box:nth-child(2) .s5__body_fig {
    margin: 40px 0px;
    width: 100%;
  }
  #sect5 .s5__body_imgBox {
    margin-top: 80px;
  }
  #sect5 .s5__body_text1 {
    font-size: 60px;
  }
  #sect5 .s5__body_text2 {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  #sect5 {
    margin-top: 160px;
  }
  #sect5 .s5__body {
    padding: 0 40px;
  }
  #sect5 .s5__body_text1 {
    font-size: 48px;
  }
  #sect5 .s5__body_text2 {
    font-size: 14px;
  }
}

@media all and (max-width: 480px) {
  #sect5 {
    margin-top: 120px;
  }
  #sect5 .s5__body {
    padding: 0 20px;
  }
}

#sect6 {
  padding-top: 500px;
  overflow: hidden;
}

@media all and (max-width: 1024px) {
  #sect6 {
    padding-top: 240px;
  }
}

@media all and (max-width: 767px) {
  #sect6 {
    padding-top: 160px;
  }
}

@media all and (max-width: 480px) {
  #sect6 {
    padding-top: 120px;
  }
}

#sect6 .s6__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

#sect6 .s6__container1 .s6__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect6 .s6__container1 .s6__box1 {
  width: 100%;
  position: relative;
}

#sect6 .s6__container1 .s6__box2 {
  width: 40%;
  position: absolute;
  right: 0;
  opacity: 0.6;
}

#sect6 .s6__container1 .s6__box2 img {
  width: 100%;
}

#sect6 .s6__container1 .s6__box_textBox {
  padding: 0 0 0 100px;
}

#sect6 .s6__container1 .s6__box_text1 {
  color: #ffffff;
  font-family: "DungGeunMo";
  font-size: 120px;
  margin-top: 32px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

#sect6 .s6__container1 .s6__box_text2 {
  color: #888888;
  font-family: "AppleSD";
  font-size: 20px;
  margin-top: 48px;
  line-height: 1.5;
}

#sect6 .s6__container1 .s6__box_imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  margin-top: 280px;
  position: relative;
}

#sect6 .s6__container1 .s6__box_imgBox span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #474747;
  top: 50%;
  left: 0;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#sect6 .s6__container1 .s6__box_imgBox.on-view span {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#sect6 .s6__container1 .s6__box_imgBox img {
  display: block;
  width: calc(50% - 16px);
  position: relative;
}

#sect6 .s6__container1 .s6__img1 {
  opacity: 0.3;
}

#sect6 .s6__container1 .s6__abs {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 26.666%;
}

#sect6 .s6__container1 .s6__abs img {
  width: 100%;
}

#sect6 .s6__container1 .s6__box_logo {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container1 .s6__box_logo.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect6 .s6__container1 .s6__box_text1 {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container1 .s6__box_text1.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect6 .s6__container1 .s6__box_text2 {
  -webkit-transform: translate(5%, 0%);
          transform: translate(5%, 0%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container1 .s6__box_text2.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect6 .s6__container1 .s6__box_imgBox {
  -webkit-transform: translate(-16px, 10%);
          transform: translate(-16px, 10%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container1 .s6__box_imgBox.on-view {
  -webkit-transform: translate(-16px, 0%);
          transform: translate(-16px, 0%);
  opacity: 1;
}

#sect6 .s6__container1 .s6__abs {
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container1 .s6__abs.on-view {
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  opacity: 1;
}

@media all and (max-width: 1024px) {
  #sect6 .s6__container1 .s6__box_text1 {
    font-size: 100px;
  }
  #sect6 .s6__container1 .s6__box_text2 {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  #sect6 .s6__container1 .s6__box1 {
    margin-top: 40px;
  }
  #sect6 .s6__container1 .s6__box2 {
    width: 100%;
    padding: 0 20px;
  }
  #sect6 .s6__container1 .s6__box_text1 {
    font-size: 60px;
  }
  #sect6 .s6__container1 .s6__box_text2 {
    font-size: 14px;
  }
  #sect6 .s6__container1 .s6__box_textBox {
    padding: 0 40px;
  }
  #sect6 .s6__container1 .s6__box_imgBox {
    margin-top: 160px;
    width: 100%;
    padding: 0 40px;
  }
  #sect6 .s6__container1 .s6__abs {
    width: 50%;
  }
  #sect6 .s6__container1 .s6__box_imgBox span {
    display: none;
  }
  #sect6 .s6__container1 .s6__box_imgBox {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
  }
  #sect6 .s6__container1 .s6__box_imgBox.on-view {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    opacity: 1;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
}

@media all and (max-width: 480px) {
  #sect6 .s6__container1 .s6__box_imgBox {
    padding: 0 20px;
  }
}

#sect6 .s6__container2 {
  padding-top: calc(17vw + 180px);
}

#sect6 .s6__container2 .s6__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1040px;
  margin: auto;
  padding: 0 40px;
}

#sect6 .s6__container2 .s6__text1 {
  font-family: "DungGeunMo";
  font-size: 52px;
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.2);
}

#sect6 .s6__container2 .s6__text1 {
  color: #ffffff;
  line-height: 1;
}

#sect6 .s6__container2 .s6__text1 b {
  color: #3d5dd1;
}

#sect6 .s6__container2 .s6__text2 {
  color: #888888;
  font-size: 20px;
  line-height: 1.5;
  word-break: keep-all;
}

#sect6 .s6__container2 .s6__imgBox {
  margin-top: 180px;
}

#sect6 .s6__container2 .s6__imgBox_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  padding: 0 40px;
  margin: auto;
}

#sect6 .s6__container2 .s6__imgBox_wrap:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sect6 .s6__container2 .s6__imgBox_wrap:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 80px;
}

#sect6 .s6__container2 .s6__imgBox_wrap:nth-child(1) .s6__imgBox_fig {
  margin-right: 40px;
}

#sect6 .s6__container2 .s6__imgBox_wrap:nth-child(2) .s6__imgBox_fig {
  margin-left: 40px;
}

#sect6 .s6__container2 .s6__imgBox_fig {
  position: relative;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

#sect6 .s6__container2 .s6__imgBox_fig img {
  width: 100%;
}

#sect6 .s6__container2 .s6__imgBox_fig span {
  position: absolute;
  right: 2px;
  bottom: 2px;
  background-color: #67d2a3;
  border-radius: 50%;
  border: 2px solid #82f5c2;
  width: 40px;
  height: 40px;
}

#sect6 .s6__container2 .s6__textBox {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container2 .s6__textBox.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect6 .s6__container2 .s6__imgBox_fig {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#sect6 .s6__container2 .on-view .s6__imgBox_fig:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#sect6 .s6__container2 .s6__imgBox_fig {
  max-width: 204px;
  width: calc(20% - 40px);
}

@media all and (max-width: 1024px) {
  #sect6 .s6__container2 .s6__textBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sect6 .s6__container2 .s6__text1 {
    font-size: 42px;
  }
  #sect6 .s6__container2 .s6__text2 {
    font-size: 16px;
    margin-top: 42px;
  }
  #sect6 .s6__container2 .s6__imgBox_wrap:nth-child(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #sect6 .s6__container2 .s6__imgBox_wrap:nth-child(2) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  #sect6 .s6__container2 .s6__imgBox_wrap:nth-child(1) .s6__imgBox_fig {
    margin-right: 0;
  }
  #sect6 .s6__container2 .s6__imgBox_wrap:nth-child(2) .s6__imgBox_fig {
    margin-left: 0;
  }
  #sect6 .s6__container2 .s6__imgBox_fig span {
    width: 20px;
    height: 20px;
  }
  #sect6 .s6__container2 .s6__imgBox_fig {
    max-width: 204px;
    width: calc(20% - 20px);
  }
}

@media all and (max-width: 767px) {
  #sect6 .s6__container2 {
    padding-top: calc(17vw + 140px);
  }
  #sect6 .s6__container2 .s6__imgBox {
    margin-top: 160px;
  }
  #sect6 .s6__container2 .s6__imgBox_wrap:nth-child(2) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  #sect6 .s6__container2 .s6__imgBox_fig {
    max-width: 204px;
    width: calc(20% - 10px);
  }
  #sect6 .s6__container2 .s6__imgBox_fig span {
    width: 12px;
    height: 12px;
  }
}

@media all and (max-width: 480px) {
  #sect6 .s6__container2 .s6__textBox {
    padding: 0 20px;
  }
  #sect6 .s6__container2 .s6__imgBox {
    margin-top: 120px;
  }
}

#sect7 {
  width: 100%;
  padding-top: 400px;
}

#sect7 .s7__container {
  position: relative;
  overflow: hidden;
}

#sect7 span {
  position: absolute;
  width: 130vw;
  height: 130vw;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%) scale(0);
          transform: translate(-50%, 50%) scale(0);
  background-color: #82f5c2;
  border-radius: 50%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sect7 img {
  display: block;
  width: 100%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect7 .img_fake {
  position: static;
  opacity: 0;
}

#sect7 .img_true {
  position: absolute;
  opacity: 0;
}

#sect7 .on-view span {
  -webkit-transform: translate(-50%, 50%) scale(1);
          transform: translate(-50%, 50%) scale(1);
}

#sect7 .on-view img {
  opacity: 1;
}

@media all and (max-width: 767px) {
  #sect7 {
    padding-top: 160px;
  }
}

@media all and (max-width: 767px) {
  #sect7 {
    padding-top: 120px;
  }
}

#sect8 {
  background-image: url(/common/image/project/labstartup_s8_bg.png);
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

#sect8 .s8__head {
  max-width: 1720px;
  padding: 130px 40px 200px;
  margin: auto;
}

#sect8 .s8__head img {
  width: 100%;
}

#sect8 .s8__head .disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
}

#sect8 .s8__head .title {
  max-width: 1230px;
  margin: auto;
  margin-top: 200px;
}

#sect8 .s8__head .title-text1 {
  font-size: 32px;
  font-weight: 600;
  color: #3d5dd1;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect8 .s8__head .title-img {
  margin-bottom: 70px;
  width: 100%;
}

#sect8 .s8__head .title-text2 {
  font-size: 24px;
  text-align: center;
  color: #888888;
  font-family: "AppleSD";
  line-height: 1.5;
  word-break: keep-all;
}

#sect8 .s8__head .cha-fig {
  max-width: 800px;
  width: 100%;
  margin: 100px auto 0;
}

#sect8 .s8__body {
  font-family: "AppleSD";
  padding: 160px 0 300px;
}

#sect8 .s8__body_box {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect8 .s8__body_box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  padding: 0 80px;
}

#sect8 .s8__body_box_num {
  font-size: 17px;
  color: #3d5dd1;
  margin-right: 40px;
}

#sect8 .s8__body_box_text {
  width: 100%;
}

#sect8 .s8__body_box_text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
}

#sect8 .s8__body_box_text2 {
  color: #888888;
  line-height: 1.5;
  font-size: 20px;
}

#sect8 .s8__body_box_img {
  width: 100%;
  margin: auto;
}

#sect8 .s8__body_box_img img {
  width: 100%;
}

#sect8 .helvetica {
  font-family: "Helvetica Neue";
}

#sect8 .title-text1 {
  width: 70%;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-transition-property: opacity width;
  transition-property: opacity width;
  margin: auto;
  opacity: 0;
}

#sect8 .title-text1.on-view {
  width: 100%;
  opacity: 1;
}

#sect8 .title-img {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect8 .title-img.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#sect8 .title-text2 {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect8 .title-text2.on-view {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

@media all and (max-width: 1300px) {
  #sect8 .s8__head .title-text1 {
    font-size: 24px;
  }
  #sect8 .s8__head .title-text2 {
    font-size: 18px;
  }
}

@media all and (max-width: 1024px) {
  #sect8 .s8__body_box_text2 {
    font-size: 16px;
    min-height: 80px;
  }
}

@media all and (max-width: 767px) {
  #sect8 .s8__body {
    padding: 0 0 120px 0;
  }
  #sect8 .s8__head .title {
    margin-top: 120px;
  }
  #sect8 .s8__body_box_num {
    font-size: 14px;
    margin-bottom: 14px;
  }
  #sect8 .s8__body_box_title {
    display: block;
    margin-bottom: 60px;
  }
  #sect8 .s8__body_box_text1 {
    font-size: 14px;
  }
  #sect8 .s8__head {
    padding: 160px 20px 200px;
  }
  #sect8 .s8__head .disc {
    font-size: 12px;
  }
  #sect8 .s8__head .title-text1 {
    font-size: 18px;
  }
  #sect8 .s8__head .title-text2 {
    font-size: 14px;
  }
  #sect8 .s8__body_box_img {
    padding: 0;
  }
}

@media all and (max-width: 480px) {
  #sect8 .s8__body_box {
    padding: 0 20px;
  }
  #sect8 .s8__body_box {
    padding: 0 20px;
  }
  #sect8 .s8__head {
    padding: 120px 20px;
  }
  #sect8 .s8__head .disc {
    font-size: 10px;
  }
  #sect8 .s8__head .title {
    margin-top: 80px;
  }
  #sect8 .s8__head .title-text1 {
    font-size: 14px;
  }
  #sect8 .s8__body_box_text2 {
    font-size: 14px;
  }
}

#sect9 {
  padding: 200px 0 400px;
  background-color: #ffffff;
  width: 100%;
}

#sect9 .s9_c1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1310px;
  padding: 280px 40px 0;
  margin: auto;
  font-family: "AppleSD";
}

#sect9 .s9_c1_abs {
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 800;
  font-size: 160px;
}

#sect9 .s9_c1_imgBox {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect9 .s9_c1_imgBox img {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

#sect9 .s9_c1_textBox {
  margin-top: 120px;
  max-width: 31%;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

#sect9 .s9_c2 {
  margin-top: 300px;
}

#sect9 .s9__body_box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
  max-width: 1380px;
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
  padding: 0 40px;
}

#sect9 .s9__body_box_num {
  font-size: 17px;
  color: #3d5dd1;
  margin-right: 40px;
}

#sect9 .s9__body_box_text {
  width: 100%;
}

#sect9 .s9__body_box_text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 700;
  font-family: "AppleSD";
}

#sect9 .s9__body_box_text1 b {
  color: #3d5dd1;
  opacity: 0.3;
}

#sect9 .s9__body_box_text2 {
  color: #888888;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: -0.5px;
}

#sect9 .helvetica {
  font-family: "Helvetica Neue";
  color: #3d5dd1;
  font-weight: 500;
}

#sect9 .s9__body_box_img {
  width: 100%;
  max-width: 1680px;
  padding: 0 40px;
  margin: auto;
}

#sect9 .s9__body_box_img img {
  width: 100%;
}

#sect9 .s9_c3 {
  margin-top: 300px;
  padding-bottom: 120px;
  background-image: url(/common/image/project/labstartup_s9_bg.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#sect9 .s9_c3 .s9__body_box_img {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: unset;
}

#sect9 .s9__body_box_img {
  opacity: 0;
  -webkit-transform: translate(0, 5%) scale(0.95);
          transform: translate(0, 5%) scale(0.95);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect9 .s9__body_box_img.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0%) scale(1);
          transform: translate(0, 0%) scale(1);
}

#sect9 .s9_c1_abs p.real {
  -webkit-transform: rotateX(-90deg) translateZ(180px);
          transform: rotateX(-90deg) translateZ(180px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#sect9 .s9_c1_abs.on-view p.real {
  -webkit-transform: rotateX(0deg) translateZ(20px);
          transform: rotateX(0deg) translateZ(20px);
}

#sect9 .s9_c1_textBox {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect9 .s9_c1_textBox.on-view {
  -webkit-transform: translate(0%, 0);
          transform: translate(0%, 0);
  opacity: 1;
}

@media all and (max-width: 1300px) {
  #sect9 .s9_c1_abs {
    font-size: 120px;
  }
}

@media all and (max-width: 1024px) {
  #sect9 .s9_c1_abs {
    font-size: 80px;
  }
  #sect9 .s9__body_box_text2 {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  #sect9 {
    padding: 160px 0;
  }
  #sect9 .s9__body_box_title {
    display: block;
  }
  #sect9 .s9__body_box_num {
    font-size: 14px;
    margin-bottom: 14px;
  }
  #sect9 .s9__body_box_text1 {
    font-size: 14px;
  }
  #sect9 .s9_c1 {
    display: block;
    padding-top: 160px;
  }
  #sect9 .s9_c1_textBox {
    width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
    margin-top: 0;
    font-size: 16px;
  }
  #sect9 .s9_c1_imgBox {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  #sect9 .s9_c1_abs {
    font-size: 60px;
  }
  #sect9 .s9_c2 {
    margin-top: 160px;
  }
  #sect9 .s9_c3 {
    margin-top: 160px;
  }
}

@media all and (max-width: 480px) {
  #sect9 {
    padding: 120px 0;
  }
  #sect9 .s9__body_box_title {
    padding: 0 20px;
  }
  #sect9 .s9__body_box_text2 {
    font-size: 14px;
  }
  #sect9 .s9_c1 {
    padding: 150px 20px 0;
  }
  #sect9 .s9_c1_abs {
    left: 17px;
  }
  #sect9 .s9_c1_textBox {
    font-size: 14px;
  }
  #sect9 .s9_c2 {
    margin-top: 120px;
  }
  #sect9 .s9_c3 {
    margin-top: 120px;
  }
}

#sect10 {
  width: 100%;
  height: 105vh;
  background-image: url(/common/image/project/labstartup_s10_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#sect10 .s10_container {
  position: relative;
  width: 100%;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
  margin: auto;
}

#sect10 .s10_container img {
  position: absolute;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect10 .s10_container .s10_p {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  max-width: 720px;
  font-size: 24px;
  font-family: "AppleSD";
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

#sect10 .s10_container img.s10_img1 {
  top: 57%;
  left: 10%;
  width: 23%;
  max-width: 270px;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

#sect10 .s10_container img.s10_img2 {
  top: 49%;
  left: 31%;
  width: 20%;
  max-width: 196px;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

#sect10 .s10_container img.s10_img3 {
  top: 48%;
  left: 61.5%;
  width: 25%;
  max-width: 229px;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

#sect10 .s10_container img.s10_img4 {
  top: 45%;
  right: 4%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20%;
  max-width: 226px;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

#sect10 .s10_container img.s10_img5 {
  top: 42%;
  left: 39.5%;
  width: 25%;
  max-width: 288px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#sect10 .s10_container img.s10_img6 {
  top: 57%;
  left: 70%;
  width: 25%;
  max-width: 291px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#sect10 .s10_container img.s10_img7 {
  top: 53%;
  left: 5%;
  width: 25%;
  max-width: 251px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#sect10 .s10_container img.s10_img8 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 40px;
  max-width: 973px;
}

#sect10 .s10_container.on-view img {
  margin: 0px;
  opacity: 1;
  -webkit-transition-property: margin opacity;
  transition-property: margin opacity;
}

#sect10 .s10_container.on-view img.s10_img1 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sect10 .s10_container.on-view img.s10_img2 {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#sect10 .s10_container.on-view img.s10_img3 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#sect10 .s10_container.on-view img.s10_img4 {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

#sect10 .s10_container.on-view img.s10_img5 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#sect10 .s10_container.on-view img.s10_img6 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#sect10 .s10_container.on-view img.s10_img7 {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

#sect10 .s10_container.on-view img.s10_img8 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#sect11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect11 img {
  width: 50%;
}

#sect12 {
  width: 100%;
  background-color: #080f27;
}

#sect12 .s12__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 40px 240px;
}

#sect12 .s12__col {
  width: 30.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect12 .s12__col img {
  width: 100%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  border-radius: 28px;
  border: 3px solid #333;
}

#sect12 .s12__col img:not(:last-child) {
  margin-bottom: 80px;
}

#sect12 .s12__col img.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

@media all and (max-width: 1024px) {
  #sect12 .s12__container {
    padding: 120px 40px;
  }
  #sect12 .s12__col img {
    border-radius: 14px;
  }
  #sect12 .s12__col img:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 767px) {
  #sect12 .s12__container {
    padding: 160px 40px;
  }
}

@media all and (max-width: 480px) {
  #sect12 .s12__container {
    padding: 120px 20px;
  }
  #sect12 .s12__col img {
    border-radius: 8px;
  }
  #sect12 .s12__col img:not(:last-child) {
    margin-bottom: 20px;
  }
}

#sect13 {
  background-color: #000000;
  padding: 300px 0;
}

#sect13 .s13__container2 {
  margin-top: 200px;
}

#sect13 .s13__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect13 .s13__img1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 40px;
}

#sect13 .s13__img2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 40px;
}

#sect13 .s13__img img {
  width: 100%;
  display: block;
  max-width: 1634px;
}

#sect13 .s13__tit {
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1290px;
}

#sect13 .s13__tit1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  max-width: 1660px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect13 .s13__tit2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 100px;
}

#sect13 .s13__tit img {
  width: 100%;
  max-width: 1209px;
  display: block;
}

#sect13 .s13__tit2 img {
  width: 84.4%;
  display: block;
  margin: auto;
}

#sect13 .s13__tit1 {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect13 .s13__tit2 {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#sect13 .s13__tit1.on-view {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  opacity: 1;
}

#sect13 .s13__tit2.on-view {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

@media all and (max-width: 767px) {
  #sect13 {
    padding: 160px 0;
  }
  #sect13 .s13__container2 {
    margin-top: 160px;
  }
  #sect13 .s13__tit2 {
    margin-top: 80px;
  }
}

@media all and (max-width: 480px) {
  #sect13 {
    padding: 120px 0;
  }
  #sect13 .s13__container2 {
    margin-top: 120px;
  }
  #sect13 .s13__tit2 {
    margin-top: 60px;
  }
  #sect13 .s13__img1 {
    padding-right: 20px;
  }
  #sect13 .s13__img2 {
    padding-left: 20px;
  }
  #sect13 .s13__tit {
    padding: 0 20px;
  }
  #sect13 .s13__tit2 {
    margin-top: 40px;
  }
}

#sect14 {
  background-color: #3d5dd1;
  color: #ffffff;
  font-family: "DungGeunMo";
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#sect14 .s14__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 40px;
  width: 100%;
}

#sect14 .s14__text1 {
  font-size: 32px;
  letter-spacing: 4px;
}

#sect14 .s14__text2 {
  font-size: 100px;
  margin-top: 20px;
}

#sect14 .s14__img {
  width: 100%;
  margin-top: 40px;
}

#sect14 .s14__img img {
  width: 25%;
  display: block;
  margin: auto;
  min-width: 200px;
}

@media all and (max-width: 1024px) {
  #sect14 .s14__img img {
    width: 50%;
  }
  #sect14 .s14__text1 {
    font-size: 24px;
  }
  #sect14 .s14__text2 {
    font-size: 80px;
  }
}

@media all and (max-width: 767px) {
  #sect14 .s14__text1 {
    font-size: 18px;
  }
  #sect14 .s14__text2 {
    font-size: 60px;
  }
}

@media all and (max-width: 767px) {
  #sect14 .s14__text1 {
    font-size: 16px;
    letter-spacing: 2px;
  }
  #sect14 .s14__text2 {
    font-size: 52px;
  }
}
/*# sourceMappingURL=labstartup.css.map */