$font1 :  Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
$font2 : 'Playfair Display', serif;
$black : #000000;
$white : #ffffff;
$--gw : 40px;//외곽
$--gc : 135px;//컬럼
$--gg : 20px;//갭
$--g : 155px;//컬럼+갭
@mixin absCenter {position: absolute;transform:translate(-50%,-50%);left: 50%;top: 50%;};
@mixin beltContainer {position: relative;overflow-x: hidden;width: 100%;};
@mixin persParent{transform-style: preserve-3d; overflow: hidden;}
// @keyframes rotating{
//     0%{transform: rotate(0deg);}
//     100%{transform: rotate(-360deg);}
// }
body.black{
    #sect1 p{color: $white;}
    .s1__c2_belt svg{fill: $white;}
    .title_text{color: $white;}
}
body.white{
    #sect1 p{color: $black;}
    .s1__c2_belt svg{fill: $black;}
    .title_text{color: $black;}
}
//#region sect1==================================================
.sect1_bg{width: 100%;height: 160vh;position: absolute;background-image: url(/common/image/main_bg.png);background-size: cover;background-repeat: no-repeat;}
#sect1{width: 100%;padding-top: 55vh;padding-bottom: 114px;}
.s1__c1{margin-bottom: 100px;padding:0 $--gw;}
.s1__c1__title, .s1__c1__description{display: inline-block;}
.s1__c1__description span.mini-span{opacity: 0;transform: translate(0,4px);transition-duration: 0.3s;display: inline-block;transition-property:opacity transform;}
.on_view .s1__c1__description span.mini-span{opacity: 1;transform: translate(0,0px);}
@for $i from 1 through 4{
    @for $j from 1 through 10{
        @for $k from 1 through 58{
            .s1__c1__description p.split_text:nth-of-type(#{$i}){
        span.space:nth-of-type(#{$j}){
                    span.mini-span:nth-of-type(#{$k}){
                        transition-delay: #{$i/5 + $j/20 + $k/100 + 0}s;
                    }
                }
            }
        }
    }
}
.s1__c1__title{font-size:clamp(140px, 6.5vw, 160px); font-weight:400; margin-right: clamp(80px, 1vw, 120px);}
.s1__c1__title .font1{font-weight: 500;}
.s1__c1__title .font2{letter-spacing:clamp(-2px, -0.1vw, -10px)}
.s1__c1_p{@include persParent;}
.s1__c1_p span{display: inline-block;transform:rotateX(-90deg) translateZ(120px);opacity: 1;transition-duration: 0.9s;transition-property: transform;}
.on_view .s1__c1_p span{opacity: 1;transform: rotateX(0deg) translateZ(40px);}
.on_view .s1__c1_p span:nth-of-type(1){transition-delay: 0.4s;}
.on_view .s1__c1_p span:nth-of-type(2){transition-delay: 0.5s;}
.on_view .s1__c1_p span:nth-of-type(3){transition-delay: 0.6s;}
.on_view .s1__c1_p span:nth-of-type(4){transition-delay: 0.7s;}

.s1__c1__description .p1 {font-size: 16px;font-weight: 500;margin-bottom: 32px;}
.s1__c1__description .p1 b{font-size: 20px;font-weight: 500;}
.s1__c1__description .p2{font-size: 18px;line-height: 1.4;}

.s1__c2{position: relative;overflow-x: hidden;width: 100%;height: 30px;margin-bottom: 110px; @include beltContainer;}
.s1__c2_wrap{position: absolute;}
.s1__c2_belt svg{width: 26px;height: 26px;display: inline-block;transition-duration: .3s;transition-property:color;}
.s1__c2_belt p, .s1__c2_belt svg, .s1__c2_belt{display: inline-block;}
.s1__c2_belt p{font-size: 16px;margin: 0px 22px;transform: translate(0, -6px);}

.s1__c3{position: relative;overflow: hidden;width: 100%;height: 260px; @include beltContainer;@include persParent;}
.s1__c3.on_view{transform: translate(0,0);}
.s1__c3 .persWrap{transform:rotateX(-90deg) translateZ(300px);transition-duration: 0.9s;}
.s1__c3.on_view .persWrap{opacity: 1;transform: rotateX(0deg) translateZ(80px);transition-duration: 1s;}
.s1__c3_wrap{position: absolute;display: flex;}
.s1__c3_belt{display: inline-block;font-size:clamp(200px, 14.5vw, 260px);line-height: 1;}
.s1__c3_belt p{white-space: nowrap;display: inline-block;}
.s1__c3_belt b{font-family: $font2;font-weight: 400;}
//#endregion sect1===============================================
//#region sect2==================================================
body.black{
    #sect2{color: $white;}
    .title_container svg{fill:$white;}
    .s2__c4{border: 1px solid $white;}
    .s2__c4 p{color: $white;}
    .s2__c4 .arrow{border-top: 1px solid $white;border-right: 1px solid $white;}
    .s2__c4 .arrow span{background-color: $white;}
}
body.white{
    .s2__c3 p{color: $white;}
    // #sect2{color: $black;}
    // .s2__c1 svg{fill:$black;}
    // .s2__c4{border: 1px solid $black;}
    // .s2__c4 p{color: $black;}
    // .s2__c4 .arrow{border-top: 1px solid $black;border-right: 1px solid $black;}
    // .s2__c4 .arrow span{background-color: $black;}
    .s2__c4{pointer-events: none;}
}
#sect2{padding: 0 $--gw 195px;}
.title_container{display: flex;}
.title_container{padding: 40px 0 0 0;}
.title_container .blink{width: 26px;height: 26px;}
.title_container .title_text{font-size: 20px;margin-left: 10px;margin-top: 4px;}

.s2__c2{margin-top: 80px;line-height: 1.3;}
.s2__c2 p{font-size: clamp(60px, 3.15vw, 80px);}
.s2__c2 span.margin{margin-left: 160px;}
.s2__c2 span.split_space{@include persParent;}
.s2__c2 span.split_space span{display: inline-block;transform:rotateX(-90deg) translateZ(80px);transition-duration: 0.6s;}
.s2__c2.on_view span.split_space span{transform:rotateX(0deg) translateZ(20px);}
@for $i from 1 through 4{
        @for $j from 1 through 10{
            .s2__c2.on_view span.split_space:nth-of-type(#{$i}){
                span:nth-of-type(#{$j}){transition-delay: #{$j/20}s;}
            }
        }
}
.s2__c2 br{display: block;}
@media all and (max-width:1580px){
    .s2__c2 br{display: none;}
}
.s2__c3{margin-top: 60px;}
.s2__c3 p{font-size: 20px;line-height: 1.6;transform: translate(0,30%);opacity: 0;transition-duration: 0.6s;}
.s2__c3.on_view p{transform: translate(0,0);opacity: 1;}
.s2__c4{position: absolute;bottom: 0;right: $--gw + $--g;border: 1px solid $black;}
//#endregion sect1===============================================
//#region sect3==================================================
#sect3{width: 100%;height: 1000vh;top: 0;padding-top: 200px;margin-top: 100px;margin-bottom: 300px;}
.s3__sticky{position: sticky;top: 0;width: 100%;height: 100vh;}
.s3__c1{position: absolute;width: 100%;height: 100%;transition-duration: 0.6s;opacity: 0;}
.s3__c1_fig{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.s3__c1_fig[data-number="1"] img:nth-of-type(1){opacity: 1;}
.s3__c1_fig[data-number="2"] img:nth-of-type(2){opacity: 1;}
.s3__c1_fig[data-number="3"] img:nth-of-type(3){opacity: 1;}
.s3__c1_fig img{width: 100%;position: absolute;overflow: hidden;transition-duration: 0.3s;opacity: 0;}
.s3c1_img{transition-property: opacity transform;transition-duration: 0.6s;}
.s3__c1_fig1{width: 486px;height: 322px;}
.s3__c1_fig2{width: 470px;height: 670px;}
.s3__c1_fig3{width: 470px;height: 323px;}
.s3__c2_fig{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;}
.s3__c2 p{text-align: center;}
.s3__c2_p1{font-size: 134px;margin-bottom: 24px;line-height: 1.15; @include persParent;}
.s3__c2_fig .s3__c2_p1 span{display: inline-block;transform:rotateX(-90deg) translateZ(120px);opacity: 1;transition-duration: 0.3s;}
.s3__c2_fig.on_view .s3__c2_p1 span{opacity: 1;transform: rotateX(0deg) translateZ(120px);transition-duration: 0.9s;}
.s3__c2_fig.on_view .s3__c2_p1 span:nth-of-type(1){transition-delay: 0.3s;}
.s3__c2_fig.on_view .s3__c2_p1 span:nth-of-type(2){transition-delay: 0.4s;}
.s3__c2_fig.on_view .s3__c2_p1 span:nth-of-type(3){transition-delay: 0.5s;}
.s3__c2_fig.on_view .s3__c2_p1 span:nth-of-type(4){transition-delay: 0.6s;}
.s3__c2_fig .s3__c2_p2{font-size: 16px;line-height: 2;}
.s3__c2_fig .s3__c2_p2 span.space{margin-right: 4px;}
.s3__c2_fig .s3__c2_p2 span.mini-span{display: inline-block;}
.s3__c2_fig .s3__c2_p2 span.mini-span{opacity: 0;transform: translate(0%,50%);transition-duration: 0.5s;}
.s3__c2_fig.on_view .s3__c2_p2 span.mini-span{opacity: 1;transform: translate(0%,0%);}
@for $i from 1 through 2{
    @for $j from 1 through 7{
        @for $k from 1 through 10{
        .s3__c2_fig.on_view .s3__c2_p2 span.split_text:nth-of-type(#{$i}){
        span.space:nth-of-type(#{$j}){
                    span.mini-span:nth-of-type(#{$k}){
                        transition-delay: #{$i/5 + $j/20 + $k/100 + 0.8}s;
                    }
                }
            }
        }
    }
}

.s3__c2_p3{font-size: 12px;position: absolute;bottom: 24px;left: 50%;transform: translate(-50%,0);}
//#endregion sect3===============================================
//#region sect4==================================================
$s4c2listW : $--g * 4 + $--gc;
#sect4{width: 100%;padding: 120px 0 0 $--gw;}
.s4__c1{padding-top: 120px;}
.s4__c2{width:100%;height: 1000vh;position: relative;}
.s4__c2_list{width: ($s4c2listW * 8 + $--gg * 8);display: flex;flex-wrap: nowrap;align-items: flex-start;justify-content: flex-start;transition-duration: 0.3s;position: absolute;}
.s4__c2_sticky{position: sticky;top: 0px;height: 100vh;}

.s4__c2_listitem{width: $s4c2listW;flex-shrink: 0;margin-right: $--gg;}
.s4__c2_listitem a{display: block;}
.s4__c2_p1{font-size: 14px;color: rgba(255,255,255,1);text-align: right;}
.s4__c2_imgBox{width: 100%;height: $s4c2listW * 0.7;max-height:800px;margin-top: 8px;border-radius: 18px;overflow: hidden;}
.s4__c2_imgBox img{width: 200%;}
.s4__c2_p2{font-size: 18px;color: rgba(255,255,255,1);margin-top: 24px;}
.s4__c2_p3{font-size: 16px;color: rgba(255,255,255,0.3);margin-top: 13px;}
//#endregion sect4===============================================
//#region sect5==================================================
body.white{
    #sect5 p{color: $black;}
    .s5__c1_list .arrow span:nth-of-type(1){background-color: $black;}
    .s5__c1_list .arrow span:nth-of-type(2){border-top: 1px solid $black;border-right: 1px solid $black;}
    .s5__c1 .border{background-color: $black;}
}
body.black{
    #sect5 p{color: $white;}
    .s5__c1_list .arrow span:nth-of-type(1){background-color: $white;}
    .s5__c1_list .arrow span:nth-of-type(2){border-top: 1px solid $white;border-right: 1px solid $white;}
    .s5__c1 .border{background-color: $white;}
}
#sect5{width: 100%;padding-top: 260px;}
.s5__c1{padding: 0 $--gw;}
.s5__c1 .border{opacity:0.3;width: 100%;height: 1px;display: block};
.s5__c1_list{padding: 0 ($--gw + $--gc + $--gg); }
.s5__c1_listWrap{width: $--g * 6 - $--gg;display: flex;margin: auto;position: relative;}
.s5__c1_list a{display: block;width: 100%;padding: 47px;}
.s5__c1_list .text{display: flex;}
.s5__c1_list .text .p1{font-size: 72px;}
.s5__c1_list .text .p1 b{font-family: $font2;font-weight: 400;font-style: italic;}
.s5__c1_list .text .p2{font-size: 20px;opacity: 0.6;font-weight: 100;transform: translate(0,20px);margin-left: 16px;}
.s5__c1_list a .arrows{opacity:0;position: absolute;top: 50%;right: 0;transform: translate(calc(-50% - 20px),calc(-50% + 20px));transition-duration: 0.3s;}
.s5__c1_list a .arrow{position: absolute;height: 100%;width: 30px;height: 30px;transition-timing-function: ease;}
.s5__c1_list a .arrow.before{transform:translate(0px,-50%);opacity: 0;transition-duration: 0s;}
.s5__c1_list a .arrow.after{opacity: 0;transform: translate(150%,-200%);transition-duration: 0.3s;}
.s5__c1_list a.hover .arrows{opacity: 1;transform: translate(-50%,-50%);}
.s5__c1_list a.hover .arrow.before{opacity: 1;transform: translate(0%,-50%);transition-duration: 0.3s;}
.s5__c1_list a.hover .arrow.after{opacity: 1;transform: translate(0px,-50%);transition-duration: 0s;}
.s5__c1_list a .arrow span{display: block;position: absolute;}

.s5__c1_list .arrow span:nth-of-type(1){width: 42.42px;height: 1px;background-color: $white;transform:translate(-50%,-50%) rotate(-45deg);position: absolute;top: 50%;left: 50%;}
.s5__c1_list .arrow span:nth-of-type(2){width: 24px;height: 24px;border-top: 1px solid $white;border-right: 1px solid $white;position: absolute;top: 0;right: 0;}
//#endregion sect5===============================================
//#region sect6==================================================
body.white{
    #sect6 p{color: $black;}
    #sect6 span{color: $black;}
}
body.black{
    #sect6 p{color: $white;}
    #sect6 span{color: $white;}
}
#sect6{padding-top: 280px;padding-bottom:420px;}
.s6__c1{font-size: clamp(20px, 6vw, 140px);}
.s6__c1_col{display: flex;justify-content: center;margin-bottom: 24px;transition-duration: 0.3s;}
.s6__c1_col span{white-space: nowrap;line-height: 1;}
.s6__c1_col span b{font-family: $font2;font-weight: 400;}
.s6__c1_padding{width: 0;overflow: hidden;border-radius: 18px;transition-duration: 0.3s;}
.s6__c1_imgBox{border-radius: 18px;height: 100%;background-color: #fff;background-repeat: no-repeat;background-size: cover;}
.s6__c1_col:nth-of-type(1) .s6__c1_imgBox{width: clamp(20px, 6.5vw, 120px);background-image: url(/common/image/s6c1img1.png);}
.s6__c1_col:nth-of-type(2) .s6__c1_imgBox{width: clamp(40px, 11.4vw, 320px);background-image: url(/common/image/s6c1img2.png);}
.s6__c1_col:nth-of-type(3) .s6__c1_imgBox{width: clamp(25px, 8.3vw, 160px);background-image: url(/common/image/s6c1img3.png);}

.s6__c2{position: absolute;transform: translate(-50%,0);left: 50%;bottom: 260px;}
//#endregion sect6===============================================
//#region sect7==================================================
body.black{
    .s7__c2_belt p{color: $white;}
    .s7__c2_belt svg{fill: $white;}
}
body.white{
    .s7__c2_belt p{color: $black;}
    .s7__c2_belt svg{fill: $black;}
}
#sect7{width: 100%;}
.s7__c1{width:100%;height: 100vh;background-color: #333;}
.s7__c1 p{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 80px;color: $white;}

.s7__c2{position: relative;overflow-x: hidden;width: 100%;height: 30px;margin-bottom: 130px; @include beltContainer;margin-top: 20px;}
.s7__c2_wrap{position: absolute;}
.s7__c2_belt svg{width: 26px;height: 26px;display: inline-block;transition-duration: .3s;transition-property:color;}
.s7__c2_belt p, .s7__c2_belt svg, .s7__c2_belt{display: inline-block;}
.s7__c2_belt p{font-size: 16px;margin: 0px 22px;transform: translate(0, -6px);}

//#endregion sect7===============================================