@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./font.css");
.keyColor1 {
  color: #8f6e52;
}

.keyColor2 {
  color: #b4733c;
}

.keyColor3 {
  color: #896546;
}

.white {
  color: #ffffff;
}

.gray1 {
  color: #727272;
}

.gray2 {
  color: rgba(255, 255, 255, 0.7);
}

.gray3 {
  color: rgba(0, 0, 0, 0.7);
}

.bold {
  font-weight: bold;
}

.box1 {
  margin: auto;
  width: 100%;
  max-width: 1228px;
}

.box2 {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.font1 {
  font-family: "Helvetica Neue";
}

.font2 {
  font-family: "Nanum Myeongjo";
}

.font3 {
  font-family: "AppleSD";
}

.font4 {
  font-family: "Times New Roman", Times, serif;
}

.font5 {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.text-size1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
}

.text-size2 {
  font-size: 60px;
  font-weight: 600;
}

.text-size3 {
  font-size: 24px;
  line-height: 1.5;
}

.text-size4 {
  font-size: 22px;
  line-height: 1.5;
}

.over-hidden {
  overflow: hidden;
  position: relative;
}

@media all and (max-width: 1300px) {
  .text-size1 {
    font-size: 80px;
  }
  .text-size2 {
    font-size: 52px;
  }
}

@media all and (max-width: 1024px) {
  .text-size1 {
    font-size: 60px;
  }
  .text-size2 {
    font-size: 48px;
  }
  .text-size3 {
    font-size: 22px;
  }
}

@media all and (max-width: 767px) {
  .text-size1 {
    font-size: 48px;
  }
  .text-size2 {
    font-size: 40px;
  }
  .text-size3 {
    font-size: 18px;
  }
  .text-size4 {
    font-size: 16px;
  }
}

@media all and (max-width: 480px) {
  .text-size1 {
    font-size: 40px;
    word-break: keep-all;
  }
  .text-size2 {
    font-size: 24px;
    word-break: keep-all;
  }
  .text-size3 {
    font-size: 16px;
    word-break: keep-all;
  }
  .text-size4 {
    font-size: 14px;
  }
}

#sect1 {
  width: 100%;
  height: 100vh;
  background-image: url(/common/image/project/mi_s1_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  color: #ffffff;
}

#sect1 .s1__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#sect1 .s1__body .over-hidden p {
  line-height: 0.8;
  display: block;
}

#sect1 .s1__body .over-hidden .real {
  -webkit-transform: rotateX(-90deg) translateZ(120px) translate(-50%, 0);
          transform: rotateX(-90deg) translateZ(120px) translate(-50%, 0);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
}

#sect1 .s1__text1 {
  font-size: 180px;
  font-weight: 600;
}

#sect1 .s1__text2 {
  margin-top: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#sect1 .s1__body .real {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#sect1 .s1__footer {
  position: absolute;
  left: 50;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  width: 100%;
}

#sect1 .s1__footer_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect1 .s1__footer_box1 p {
  padding: 6px 14px;
  border-radius: 18px;
}

#sect1 .s1__footer_box1 p.button {
  background-color: #000000;
}

#sect1 .s1__footer_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect1 .s1__footer_box2 {
  font-size: 120px;
  line-height: 0.8;
}

#sect1.init .s1__text2 {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

#sect1.init .over-hidden .real {
  -webkit-transform: rotateX(0deg) translateZ(20px) translate(-50%, 0);
          transform: rotateX(0deg) translateZ(20px) translate(-50%, 0);
}

@media all and (max-width: 1024px) {
  #sect1 {
    background-attachment: scroll;
  }
  #sect1 .s1__text1 {
    font-size: 120px;
  }
  #sect1 .s1__footer_box2 {
    font-size: 80px;
  }
}

@media all and (max-width: 767px) {
  #sect1 .s1__text1 {
    font-size: 80px;
  }
  #sect1 .s1__footer_box2 {
    font-size: 40px;
  }
  #sect1 .s1__footer_box1 p {
    padding: 4px 10px;
    border-radius: 14px;
  }
}

@media all and (max-width: 480px) {
  #sect1 .s1__text1 {
    font-size: 60px;
  }
  #sect1 .s1__footer {
    padding: 0 20px;
  }
  #sect1 .s1__footer_box2 {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #sect1 .s1__footer_box1 p.button {
    width: 66px;
  }
  #sect1 .s1__footer_box_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sect1 .s1__footer_box_wrap .s1__footer_text:nth-child(2) {
    padding: 0 2px;
    margin-top: 4px;
  }
}

#sect2 {
  padding: 200px 40px 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  position: relative;
}

#sect2 .s2__bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#sect2 .s2__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1536px;
  margin: auto;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect2 .s2__row1.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect2 .s2__row1_box:nth-child(1) {
  margin-right: 134px;
}

#sect2 .s2__row1_box_text1 {
  line-height: 1;
}

#sect2 .s2__row1_box_text2 {
  margin-top: 60px;
}

#sect2 .s2__row1_box_text1_mob {
  display: none;
}

@media all and (max-width: 1300px) {
  #sect2 .s2__row1 {
    display: block;
  }
  #sect2 .s2__row1_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #sect2 .s2__row1_box:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  #sect2 .s2__row1_box_text1 {
    line-height: 1.5;
    width: 20%;
  }
  #sect2 .s2__row1_box {
    display: block;
  }
  #sect2 .s2__row1_box_text1 {
    width: 100%;
  }
  #sect2 .s2__row1_box_text2 {
    margin-top: 20px;
  }
  #sect2 .s2__row1_box_pc {
    display: none;
  }
  #sect2 .s2__row1_box_text1_mob {
    display: block;
    margin-top: 20px;
  }
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row1_box_text1 {
    width: 100%;
  }
  #sect2 .s2__row1_box_text2 {
    margin-top: 20px;
  }
}

#sect2 .s2__row2 {
  margin: auto;
  text-align: center;
}

#sect2 .s2__row2 p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect2 .s2__row2 p.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect2 .s2__row3 {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #8f6e52;
  border-radius: 360px;
  max-width: 10px;
  opacity: 0;
  -webkit-transition-property: max-width opacity;
  transition-property: max-width opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#sect2 .s2__row3.on-view {
  max-width: 1400px;
  opacity: 1;
}

#sect2 .s2__row3_fig {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

#sect2 .on-view .s2__row3_fig {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#sect2 .on-view .s2__row3_fig:nth-child(1) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#sect2 .on-view .s2__row3_fig:nth-child(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

#sect2 .on-view .s2__row3_fig:nth-child(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

#sect2 .on-view .s2__row3_fig:nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#sect2 .s2__row3_fig1,
#sect2 .s2__row3_fig2 {
  height: 25vw;
  max-height: 430px;
  max-width: 430px;
  width: 25vw;
  border: 2px solid #8f6e52;
  border-radius: 50%;
}

#sect2 .s2__row3_fig2 {
  background-color: #8f6e52;
}

#sect2 .s2__row3_fig1:nth-child(2) {
  margin-left: -60px;
}

#sect2 .s2__row3_fig p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#sect2 .s2__row3_fig3 span {
  display: block;
}

#sect2 .s2__row3_fig3 span:nth-child(1) {
  width: 167px;
  height: 2px;
  background-color: #8f6e52;
}

#sect2 .s2__row3_fig3 span:nth-child(2) {
  width: 24px;
  height: 24px;
  position: absolute;
  border-top: 3px solid #8f6e52;
  border-right: 3px solid #8f6e52;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 4px;
}

@media all and (max-width: 1300px) {
  #sect2 .s2__row3 {
    font-size: 22px;
  }
}

@media all and (max-width: 1024px) {
  #sect2 .s2__row3_fig1:nth-child(2) {
    margin-left: -40px;
  }
  #sect2 .s2__row3_fig3 span:nth-child(1) {
    width: 120px;
  }
  #sect2 .s2__row3 {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row3 {
    display: block;
  }
  #sect2 .s2__row3_fig {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  #sect2 .s2__row3_fig2 p {
    line-height: 2;
  }
  #sect2 .s2__row3_fig1,
  #sect2 .s2__row3_fig2 {
    width: 40vw;
    height: 40vw;
  }
  #sect2 .s2__row3_fig3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sect2 .s2__row3_fig3 span:nth-child(1) {
    width: 2px;
    height: 100px;
    margin: auto;
  }
  #sect2 .s2__row3_fig3 span:nth-child(2) {
    right: unset;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0) rotate(135deg);
            transform: translate(-50%, 0) rotate(135deg);
  }
  #sect2 .s2__row3_fig1:nth-child(2) {
    margin-left: 0px;
  }
}

@media all and (max-width: 480px) {
  #sect2 .s2__row3_fig1, #sect2 .s2__row3_fig2 {
    width: 60vw;
    height: 60vw;
  }
}

#sect2 .s2__row4 {
  text-align: center;
}

#sect2 .s2__row4_text1,
#sect2 .s2__row4_text2 {
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
}

#sect2 .s2__row4_text1.on-view,
#sect2 .s2__row4_text2.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

#sect2 .s2__row4_box {
  width: 100%;
  max-width: 1579px;
  margin: auto;
  position: relative;
}

#sect2 .s2__row4_box_img_fake {
  opacity: 0;
}

#sect2 .s2__row4_box_img {
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

#sect2 .s2__row4_box_textBox1 {
  width: 100%;
  max-width: 956px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#sect2 .s2__row4_box_textBox1 > div {
  width: 50%;
}

#sect2 .s2__row4_box_textBox_text1 {
  font-size: 32px;
  font-weight: 600;
}

#sect2 .s2__row4_box_textBox_text2 {
  font-size: 20px;
  margin-top: 20px;
}

#sect2 .s2__row4_box_textBox2 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
}

#sect2 .s2__row4_box_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 360px;
  height: 360px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#sect2 .s2__row4_box_circle span {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-color: #8f6e52;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
}

#sect2 .s2__row4_box_circle.on-view span {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#sect2 .s2__row4_box_circle p {
  position: relative;
}

#sect2 .s2__row4_tower {
  width: 100%;
  max-width: 800px;
  margin: -30% auto 0;
  position: relative;
}

#sect2 .s2__row_tower_text {
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

#sect2 .s2__row4_tower_textBox {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect2 .s2__row4_tower_textBox.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect2 .s2__title {
  font-size: 48px;
  font-weight: bold;
  color: #727272;
  margin-top: 260px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect2 .s2__title.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect2 .s2__title p {
  word-break: keep-all;
}

#sect2 .s2__title b {
  color: #8f6e52;
}

#sect2 .s2__row {
  margin-top: 300px;
}

#sect2 .s2__row_semi {
  margin-top: 200px;
}

#sect2 .s2__exp {
  margin-top: 52px;
}

@media all and (max-width: 1300px) {
  #sect2 .s2__row4_box_textBox2 {
    top: 10%;
  }
  #sect2 .s2__row4_box_circle {
    width: 240px;
    height: 240px;
  }
  #sect2 .s2__row4_box_textBox_text1 {
    font-size: 24px;
  }
  #sect2 .s2__row4_box_textBox_text2 {
    font-size: 16px;
  }
  #sect2 .s2__title {
    font-size: 36px;
  }
  #sect2 .s2__exp {
    margin-top: 48px;
  }
}

@media all and (max-width: 767px) {
  #sect2 .s2__row_tower_text {
    font-size: 18px;
  }
  #sect2 .s2__row4_box_textBox2 {
    top: 0%;
  }
  #sect2 .s2__title {
    font-size: 22px;
  }
  #sect2 .s2__row4_box_circle {
    width: 220px;
    height: 220px;
  }
  #sect2 .s2__row4_box_textBox_text1 {
    font-size: 20px;
  }
  #sect2 .s2__row4_box_textBox_text2 {
    font-size: 14px;
  }
  #sect2 .s2__exp {
    margin-top: 36px;
  }
}

@media all and (max-width: 480px) {
  #sect2 {
    padding: 100px 20px 140px;
  }
  #sect2 .s2__row_tower_text {
    font-size: 16px;
  }
  #sect2 .s2__title {
    font-size: 18px;
  }
  #sect2 .s2__exp {
    margin-top: 26px;
  }
}

#sect3 {
  background-color: #ffffff;
}

#sect3 .s3__row1 {
  text-align: center;
  padding: 300px 40px 0;
}

#sect3 .s3__row1_text2 {
  margin-top: 160px;
}

#sect3 .s3__row1_text3 {
  margin: 60px 0;
}

#sect3 .s3__row2 {
  width: 100%;
  margin-top: 260px;
}

#sect3 .s3__row3 {
  width: 100%;
  padding: 300px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect3 .s3__row3_wrapper {
  width: 100%;
  max-width: 1614px;
  padding-left: 40px;
}

#sect3 .s3__row3_text2 {
  margin-top: 70px;
}

#sect3 .s3__row3_text3 {
  margin-top: 60px;
}

#sect3 .s3__row3_box span {
  font-size: 72px;
  display: inline-block;
  border-radius: 80px;
  line-height: 0.8;
  font-weight: 100;
  letter-spacing: -3px;
  margin-top: 40px;
  padding: 40px;
}

#sect3 .s3__row3_span1 {
  color: #acabab;
}

#sect3 .s3__row3_span2 {
  background-color: #b4733c;
  color: #ffffff;
}

#sect3 .s3__row3_box .no-padding {
  padding-right: 0;
}

#sect3 .s3__row1 p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect3 .s3__row1 p.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect3 .s3__row3_box p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect3 .s3__row3_box p.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect3 .s3__row3_box span {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect3 .s3__row3_box span.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect3 .s3__row3_box span:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#sect3 .s3__row3_box span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sect3 .s3__row3_box span:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#sect3 .s3__row3_box span:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media all and (max-width: 1300px) {
  #sect3 .s3__row3_box span {
    font-size: 60px;
    padding: 42px;
    margin-top: 32px;
  }
}

@media all and (max-width: 1024px) {
  #sect3 .s3__row3_box span {
    font-size: 40px;
    padding: 24px;
    margin-top: 20px;
  }
}

@media all and (max-width: 767px) {
  #sect3 .s3__row3_box {
    margin-top: 20px;
  }
  #sect3 .s3__row3_box span {
    font-size: 30px;
    padding: 16px;
    margin-top: 16px;
  }
}

@media all and (max-width: 480px) {
  #sect3 .s3__row3_wrapper {
    padding: 0 20px;
  }
  #sect3 .s3__row1 {
    padding: 150px 20px 0;
  }
  #sect3 .s3__row3_box {
    margin-top: 16px;
  }
  #sect3 .s3__row3_box span {
    font-size: 20px;
    padding: 12px;
    margin-top: 12px;
  }
}

#sect4 .s4__row1 {
  width: 100%;
  max-width: 1308px;
  margin: auto;
  padding: 300px 40px;
}

#sect4 .s4__row1_text2 {
  margin: 60px 0;
}

#sect4 .s4__row1 p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect4 .s4__row1 p.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media all and (max-width: 480px) {
  #sect4 .s4__row1 {
    padding: 150px 20px;
  }
}

#sect5 {
  background-color: #fff;
  padding: 100px 0;
}

#sect5 .s5__row1 {
  padding: 0 40px;
  margin-bottom: 100px;
}

#sect5 .s5__row1_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect5 .s5__row1_box:nth-child(1) img {
  width: calc(50% - 2px);
  margin-bottom: 20px;
}

#sect5 .s5__row2 {
  margin-bottom: 100px;
}

#sect5 .s5__row3 {
  padding: 0 40px;
}

@media all and (max-width: 480px) {
  #sect5 .s5__row1 {
    padding: 0 20px;
    margin-bottom: 50px;
  }
  #sect5 .s5__row2 {
    margin-bottom: 50px;
  }
  #sect5 .s5__row3 {
    padding: 0 20px;
  }
}

#sect6 .s6__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
  padding: 330px 40px;
  background-color: #000000;
}

#sect6 .s6__row2 {
  background-color: #ffffff;
  padding: 260px 40px;
}

#sect6 .s6__row2_wrapper {
  max-width: 1228px;
  width: 100%;
  margin: auto;
}

#sect6 .s6__row2_text1 {
  font-size: 30px;
  margin-bottom: 40px;
}

#sect6 .s6__row2_wrapper {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect6 .s6__row2_wrapper.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect6 .s6__row1_text p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
}

#sect6 .s6__row1_text p.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media all and (max-width: 480px) {
  #sect6 .s6__row1 {
    padding: 160px 20px;
  }
  #sect6 .s6__row2 {
    padding: 140px 20px;
  }
}

#sect7 {
  background-color: #ffffff;
}

#sect7 .s7__row2 {
  max-width: 1756px;
  margin: auto;
  padding: 0 40px;
  margin-bottom: 300px;
}

#sect7 .s7__row2_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect7 .s7__row2_box img {
  width: 50%;
}

#sect7 .s7__row2_text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 50px 0;
}

#sect7 .s7__row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sect7 .s7__row3 img:nth-child(2) {
  margin: 12px 0;
}

@media all and (max-width: 480px) {
  #sect7 .s7__row2 {
    padding: 0 20px;
    margin-bottom: 150px;
  }
  #sect7 .s7__row3 img:nth-child(2) {
    margin: 8px 0;
  }
}

#sect8 {
  background-image: url(/common/image/project/mi_s8_bg.png);
  background-size: cover;
  background-position: center top;
  padding: 300px 40px 460px;
}

#sect8 .s8__row1 {
  max-width: 1228px;
  color: #ffffff;
}

#sect8 .s8__row1_text2 {
  margin-top: 60px;
}

#sect8 .s8__row2 {
  max-width: 960px;
  margin: auto;
}

#sect8 .s8__row2 img {
  width: 50%;
  max-width: 450px;
}

#sect8 .s8__row2_imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect8 .s8__row2_imgBox1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sect8 .s8__row2_imgBox2 {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 200px;
}

#sect8 .s8__row2_imgBox3 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: -30%;
}

#sect8 .s8__row2_imgBox {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

#sect8 .s8__row2_imgBox.on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect8 .s8__row1 .real {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: rotateX(-90deg) translateZ(180px) translateY(0px);
          transform: rotateX(-90deg) translateZ(180px) translateY(0px);
}

#sect8 .s8__row1.on-view .real {
  -webkit-transform: rotateX(0deg) translateZ(40px) translateY(-8px);
          transform: rotateX(0deg) translateZ(40px) translateY(-8px);
}

@media all and (max-width: 480px) {
  #sect8 {
    padding: 150px 20px 220px;
  }
  #sect8 .s8__row2_imgBox1 {
    margin-top: 60px;
  }
  #sect8 .s8__row2_imgBox2 {
    margin-top: 60px;
  }
}

#sect9 {
  background-image: url(/common/image/project/mi_s9_bg.png);
  background-size: cover;
  background-position: center top;
  padding-top: 300px;
}

#sect9 .s9__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 0 40px;
}

#sect9 .s9__row1 {
  width: 100%;
  max-width: 1574px;
}

#sect9 .s9__row1_text2 {
  font-size: 40px;
  margin-top: 240px;
}

#sect9 .s9__row1_text3 {
  margin-top: 24px;
}

#sect9 .s9__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1574px;
  position: relative;
}

#sect9 .s9__row2_imgBox {
  display: none;
}

#sect9 .s9__row2_imgBox_pc {
  overflow: hidden;
}

#sect9 .s9__wrapper2 {
  position: relative;
  margin-top: 160px;
}

#sect9 .s9__wrapper2 span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #727272;
  top: 50%;
  left: 0;
}

#sect9 .s9__row3 {
  padding: 0 40px;
  max-width: 1040px;
  width: 100%;
  margin: auto;
  text-align: right;
  margin-top: 330px;
}

#sect9 .s9__row3_text1 {
  font-size: 40px;
  margin-bottom: 24px;
}

#sect9 .s9__row4 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#sect9 .s9__row1 p:not(.real) {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect9 .s9__row1 p:not(.real).on-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect9 .real {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: rotateX(-90deg) translateZ(120px);
          transform: rotateX(-90deg) translateZ(120px);
}

#sect9 .on-view .real {
  -webkit-transform: rotateX(0deg) translateZ(20px);
          transform: rotateX(0deg) translateZ(20px);
}

#sect9 .s9__row3 p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect9 .s9__row3.on-view p {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect9 .s9__row2_imgBox_pc img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

#sect9 .s9__row2_imgBox_pc.on-view img {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sect9 .s9__row4 img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  opacity: 0;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
}

#sect9 .s9__row4.on-view img {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media all and (max-width: 767px) {
  #sect9 .s9__row1_text2 {
    margin-top: 120px;
    font-size: 30px;
  }
  #sect9 .s9__row3_text1 {
    font-size: 30px;
  }
}

@media all and (max-width: 480px) {
  #sect9 {
    padding-top: 150px;
  }
  #sect9 .s9__row3 {
    padding: 0 20px;
    margin-top: 160px;
  }
  #sect9 .s9__row1_text2 {
    margin-top: 120px;
    font-size: 26px;
  }
  #sect9 .s9__row3_text1 {
    font-size: 26px;
  }
  #sect9 .s9__wrapper {
    padding: 0 0 0 20px;
  }
  #sect9 .s9__wrapper2 {
    margin-top: 80px;
  }
}

#sect10 {
  background-color: #ffffff;
  padding: 560px 0 400px;
}

#sect10 .s10__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1308px;
  padding: 0 40px;
  margin: auto;
}

#sect10 .s10__box_text1 {
  font-size: 40px;
}

#sect10 .s10__box_text2 {
  margin-top: 24px;
  font-weight: 300;
}

#sect10 .s10__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1024px) {
  #sect10 .s10__wrapper {
    display: block;
  }
  #sect10 .s10__wrapper > div {
    width: 70%;
    margin: auto;
  }
  #sect10 .s10__box_text {
    text-align: center;
    margin-top: 24px;
  }
}

@media all and (max-width: 480px) {
  #sect10 {
    padding: 280px 0 200px;
  }
  #sect10 .s10__wrapper > div {
    width: 90%;
    margin: auto;
  }
  #sect10 .s10__wrapper {
    padding: 0 20px;
  }
}

#sect11 {
  position: relative;
}

#sect11 .s11__bg {
  position: relative;
}

#sect11 .s11__bg_on {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#sect11 .s11__bg.on-view .s11__bg_on {
  opacity: 1;
}

#sect11 .s11__footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 0 40px;
}

#sect11 .s11__footer img {
  max-width: 256px;
}

#sect11 .s11__footer p {
  font-size: 14px;
  opacity: 0.64;
  margin-top: 40px;
}

@media all and (max-width: 1024px) {
  #sect11 .s11__footer {
    bottom: 40px;
  }
  #sect11 .s11__footer img {
    max-width: 128px;
  }
  #sect11 .s11__footer p {
    margin-top: 30px;
  }
}

@media all and (max-width: 480px) {
  #sect11 .s11__footer {
    padding: 0 20px;
    bottom: 30px;
  }
  #sect11 .s11__footer img {
    max-width: 64px;
  }
  #sect11 .s11__footer p {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=mireuksaji.css.map */