#colorStyle.black .nav_bg {
  background-color: #ffffff;
}

#colorStyle.black .nav_btn::before {
  background-color: #ffffff;
}

#colorStyle.black .nav_btn::after {
  background-color: #000000;
}

#colorStyle.black .nav_container .nav_btn {
  color: #000000;
}

#colorStyle.black .nav_container .nav_btn_text {
  color: #000000;
}

#colorStyle.black .nav_container .nav_ul li a {
  color: #ffffff;
}

#colorStyle.black .nav_container .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.black .nav_container .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.black .show.nav_container .nav_btn {
  color: #ffffff;
}

#colorStyle.black .show.nav_container .nav_btn_text {
  color: #ffffff;
}

#colorStyle.black .show.nav_container .nav_ul li a {
  color: #000000;
}

#colorStyle.black .show.nav_container .nav_ul li a:before {
  background: #000000;
}

#colorStyle.black .show.nav_container .nav_ul li span {
  background-color: #000000;
}

#colorStyle.black .nav_container_mobile .nav_btn {
  color: #000000;
}

#colorStyle.black .nav_container_mobile .nav_btn_text {
  color: #000000;
}

#colorStyle.black .nav_container_mobile .nav_ul li a {
  color: #ffffff;
}

#colorStyle.black .nav_container_mobile .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.black .nav_container_mobile .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.black .show.nav_container_mobile .nav_btn {
  color: #ffffff;
}

#colorStyle.black .show.nav_container_mobile .nav_btn_text {
  color: #ffffff;
}

#colorStyle.black .show.nav_container_mobile .nav_ul li a {
  color: #000000;
}

#colorStyle.black .show.nav_container_mobile .nav_ul li a:before {
  background: #000000;
}

#colorStyle.black .show.nav_container_mobile .nav_ul li span {
  background-color: #000000;
}

#colorStyle.white .nav_bg {
  background-color: #000000;
}

#colorStyle.white .nav_btn::before {
  background-color: #000000;
}

#colorStyle.white .nav_btn::after {
  background-color: #ffffff;
}

#colorStyle.white .nav_container .nav_btn {
  color: #ffffff;
}

#colorStyle.white .nav_container .nav_btn_text {
  color: #ffffff;
}

#colorStyle.white .nav_container .nav_ul li a {
  color: #000000;
}

#colorStyle.white .nav_container .nav_ul li a:before {
  background: #000000;
}

#colorStyle.white .nav_container .nav_ul li span {
  background-color: #000000;
}

#colorStyle.white .show.nav_container .nav_btn {
  color: #000000;
}

#colorStyle.white .show.nav_container .nav_btn_text {
  color: #000000;
}

#colorStyle.white .show.nav_container .nav_ul li a {
  color: #ffffff;
}

#colorStyle.white .show.nav_container .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.white .show.nav_container .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.white .nav_container_mobile .nav_btn {
  color: #ffffff;
}

#colorStyle.white .nav_container_mobile .nav_btn_text {
  color: #ffffff;
}

#colorStyle.white .nav_container_mobile .nav_ul li a {
  color: #000000;
}

#colorStyle.white .nav_container_mobile .nav_ul li a:before {
  background: #000000;
}

#colorStyle.white .nav_container_mobile .nav_ul li span {
  background-color: #000000;
}

#colorStyle.white .show.nav_container_mobile .nav_btn {
  color: #000000;
}

#colorStyle.white .show.nav_container_mobile .nav_btn_text {
  color: #000000;
}

#colorStyle.white .show.nav_container_mobile .nav_ul li a {
  color: #ffffff;
}

#colorStyle.white .show.nav_container_mobile .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.white .show.nav_container_mobile .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.mobile-black .nav_bg {
  background-color: #ffffff;
}

#colorStyle.mobile-black .nav_btn::before {
  background-color: #ffffff;
}

#colorStyle.mobile-black .nav_btn::after {
  background-color: #000000;
}

#colorStyle.mobile-black .nav_container .nav_btn {
  color: #000000;
}

#colorStyle.mobile-black .nav_container .nav_btn_text {
  color: #000000;
}

#colorStyle.mobile-black .nav_container .nav_ul li a {
  color: #ffffff;
}

#colorStyle.mobile-black .nav_container .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.mobile-black .nav_container .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container .nav_btn {
  color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container .nav_btn_text {
  color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container .nav_ul li a {
  color: #000000;
}

#colorStyle.mobile-black .show.nav_container .nav_ul li a:before {
  background: #000000;
}

#colorStyle.mobile-black .show.nav_container .nav_ul li span {
  background-color: #000000;
}

#colorStyle.mobile-black .nav_container_mobile .nav_btn {
  color: #000000;
}

#colorStyle.mobile-black .nav_container_mobile .nav_btn_text {
  color: #000000;
}

#colorStyle.mobile-black .nav_container_mobile .nav_ul li a {
  color: #ffffff;
}

#colorStyle.mobile-black .nav_container_mobile .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.mobile-black .nav_container_mobile .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container_mobile .nav_btn {
  color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container_mobile .nav_btn_text {
  color: #ffffff;
}

#colorStyle.mobile-black .show.nav_container_mobile .nav_ul li a {
  color: #000000;
}

#colorStyle.mobile-black .show.nav_container_mobile .nav_ul li a:before {
  background: #000000;
}

#colorStyle.mobile-black .show.nav_container_mobile .nav_ul li span {
  background-color: #000000;
}

#colorStyle.mobile-white .nav_bg {
  background-color: #000000;
}

#colorStyle.mobile-white .nav_btn::before {
  background-color: #000000;
}

#colorStyle.mobile-white .nav_btn::after {
  background-color: #ffffff;
}

#colorStyle.mobile-white .nav_container .nav_btn {
  color: #ffffff;
}

#colorStyle.mobile-white .nav_container .nav_btn_text {
  color: #ffffff;
}

#colorStyle.mobile-white .nav_container .nav_ul li a {
  color: #000000;
}

#colorStyle.mobile-white .nav_container .nav_ul li a:before {
  background: #000000;
}

#colorStyle.mobile-white .nav_container .nav_ul li span {
  background-color: #000000;
}

#colorStyle.mobile-white .show.nav_container .nav_btn {
  color: #000000;
}

#colorStyle.mobile-white .show.nav_container .nav_btn_text {
  color: #000000;
}

#colorStyle.mobile-white .show.nav_container .nav_ul li a {
  color: #ffffff;
}

#colorStyle.mobile-white .show.nav_container .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.mobile-white .show.nav_container .nav_ul li span {
  background-color: #ffffff;
}

#colorStyle.mobile-white .nav_container_mobile .nav_btn {
  color: #ffffff;
}

#colorStyle.mobile-white .nav_container_mobile .nav_btn_text {
  color: #ffffff;
}

#colorStyle.mobile-white .nav_container_mobile .nav_ul li a {
  color: #000000;
}

#colorStyle.mobile-white .nav_container_mobile .nav_ul li a:before {
  background: #000000;
}

#colorStyle.mobile-white .nav_container_mobile .nav_ul li span {
  background-color: #000000;
}

#colorStyle.mobile-white .show.nav_container_mobile .nav_btn {
  color: #000000;
}

#colorStyle.mobile-white .show.nav_container_mobile .nav_btn_text {
  color: #000000;
}

#colorStyle.mobile-white .show.nav_container_mobile .nav_ul li a {
  color: #ffffff;
}

#colorStyle.mobile-white .show.nav_container_mobile .nav_ul li a:before {
  background: #ffffff;
}

#colorStyle.mobile-white .show.nav_container_mobile .nav_ul li span {
  background-color: #ffffff;
}

#nav .nav_container, #nav .nav_container_mobile, #nav .nav_head, #nav .nav_body, #nav.show .nav_ul li a {
  -webkit-transition: 0.6s 0s;
  transition: 0.6s 0s;
  -webkit-transition: 0.6s 0;
  -moz-transition: 0.6s 0;
  -o-transition: 0.6s 0;
  -ms-transition: 0.6s 0;
}

.nav_btn::after, .nav_btn::before, .nav_ul li span, #nav .nav_bg, #nav .nav_ul li a {
  -webkit-transition: 0.3s 0s;
  transition: 0.3s 0s;
  -webkit-transition: 0.3s 0;
  -moz-transition: 0.3s 0;
  -o-transition: 0.3s 0;
  -ms-transition: 0.3s 0;
}

.nav_ul li span {
  -webkit-transition-timing-function: cubic-bezier(0, 0.76, 0.08, 0.98);
          transition-timing-function: cubic-bezier(0, 0.76, 0.08, 0.98);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform opacity color;
  transition: -webkit-transform opacity color;
  transition: transform opacity color;
  transition: transform opacity color, -webkit-transform opacity color;
}

#nav *:not(.nav_ul li span) {
  -webkit-transition: -webkit-transform opacity color;
  transition: -webkit-transform opacity color;
  transition: transform opacity color;
  transition: transform opacity color, -webkit-transform opacity color;
}

#nav {
  position: fixed;
  top: 0;
  right: 20px;
  width: 175px;
  height: 206px;
  z-index: 9999 !important;
}

#nav .nav_container {
  -webkit-transform: translate(0, -63px);
          transform: translate(0, -63px);
  display: block;
}

#nav .nav_container_mobile {
  display: none;
}

#nav .nav_head {
  opacity: 0;
  cursor: default;
}

#nav .nav_body {
  pointer-events: unset;
}

#nav .nav_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  height: calc(100% - 5px);
  top: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#nav .nav_ul li a {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  font-weight: 300;
}

#nav .nav_container.on {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container.on .nav_head {
  opacity: 1;
  cursor: pointer;
}

#nav .nav_container.on .nav_body {
  pointer-events: none;
}

#nav .nav_container.on .nav_body {
  pointer-events: none;
}

#nav .nav_container.on .nav_ul li a {
  -webkit-transform: translate(0, 101%);
          transform: translate(0, 101%);
}

#nav
#nav .nav_container .nav_bg {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#nav .nav_container.show .nav_btn::before {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

#nav .nav_container.show .nav_btn::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container.show .nav_bg {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#nav .nav_container.show .nav_body {
  pointer-events: unset;
}

#nav .nav_container.show .nav_ul li a {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container.show .nav_ul li:nth-child(1) a {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#nav .nav_container.show .nav_ul li:nth-child(2) a {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#nav .nav_container.show .nav_ul li:nth-child(3) a {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#nav .nav_container.show .nav_ul li:nth-child(4) a {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#nav .nav_container_mobile.on {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container_mobile.on .nav_head {
  opacity: 1;
  cursor: pointer;
}

#nav .nav_container_mobile.on .nav_body {
  pointer-events: none;
}

#nav .nav_container_mobile.on .nav_body {
  pointer-events: none;
}

#nav .nav_container_mobile.on .nav_ul li a {
  -webkit-transform: translate(0, 101%);
          transform: translate(0, 101%);
}

#nav
#nav .nav_container_mobile .nav_bg {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#nav .nav_container_mobile.show .nav_btn::before {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

#nav .nav_container_mobile.show .nav_btn::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container_mobile.show .nav_bg {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#nav .nav_container_mobile.show .nav_body {
  pointer-events: unset;
}

#nav .nav_container_mobile.show .nav_ul li a {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_container_mobile.show .nav_ul li:nth-child(1) a {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#nav .nav_container_mobile.show .nav_ul li:nth-child(2) a {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#nav .nav_container_mobile.show .nav_ul li:nth-child(3) a {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#nav .nav_container_mobile.show .nav_ul li:nth-child(4) a {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#nav .nav_container, .nav_container_mobile {
  width: 100%;
  height: 100%;
}

#nav .nav_head {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0 0px;
  cursor: pointer;
}

#nav .nav_btn {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px;
  overflow: hidden;
}

#nav .nav_btn_text {
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
}

#nav .nav_btn::after, .nav_btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
}

#nav .nav_btn::before {
  background-color: #ffffff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#nav .nav_btn::after {
  background-color: #000000;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

#nav .nav_body {
  /*display: flex;justify-content: center;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 24px;
}

#nav .nav_ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

#nav .nav_ul li {
  position: relative;
  overflow: hidden;
}

#nav .nav_ul li a {
  position: relative;
  padding: 6px 0;
  display: inline-block;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

#nav .nav_ul li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav .nav_ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav .nav_ul li span {
  width: 100%;
  height: 1px;
  background-color: #000000;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  display: none;
}

#nav .nav_ul li.mouseenter span {
  -webkit-transform: translate(0%, 0) scaleX(1);
          transform: translate(0%, 0) scaleX(1);
}

#nav .nav_ul li.mouseleave span {
  -webkit-transform: translate(50%, 0) scaleX(0);
          transform: translate(50%, 0) scaleX(0);
}

@media all and (max-width: 768px) {
  #nav {
    top: 5px;
    right: 5px;
    width: 160px;
    height: 190px;
  }
  #nav .nav_container {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  #nav .nav_container.on {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  #nav .nav_head {
    opacity: 1;
    padding: 20px 0 0;
  }
  #nav .nav_bg {
    top: 0px;
    height: 100%;
    border-radius: 14.5px;
  }
  #nav .nav_btn {
    padding: 4px 12px;
  }
  #nav .nav_body {
    opacity: 0;
  }
  #nav .nav_ul {
    padding: 30px 0;
  }
  #nav .nav_ul li a {
    font-size: 15px;
    padding: 5px 0;
  }
  #nav .nav_container.show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #nav .nav_container.show .nav_body {
    opacity: 1;
  }
}
/*# sourceMappingURL=nav.css.map */