@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./nav.css");
@import url("./header.css");
@import url("./line.css");
@import url("./circle.css");
@import url("./footer.css");
@import url("./cursor.css");
@import url("./read_more.css");
@import url("./font.css");
body {
  overflow: hidden;
}

.menu {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.title-menu {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.menu--wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
          transform: translate(-50%, -50%) rotate(20deg);
}

.menu--item {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 30vw;
  padding-right: 3vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu--item:nth-child(1) .img--box {
  background-image: url(/common/image/slide_summer.png);
}

.menu--item:nth-child(2) .img--box {
  background-image: url(/common/image/slide_dubai.png);
}

.menu--item:nth-child(3) .img--box {
  background-image: url(/common/image/slide_freestyle.png);
}

.menu--item:nth-child(4) .img--box {
  background-image: url(/common/image/project_imsil.png);
}

.menu--item:nth-child(5) .img--box {
  background-image: url(/common/image/slide_labstartup.png);
}

.menu--item:nth-child(6) .img--box {
  background-image: url(/common/image/slide_yakwang.png);
}

.menu--item:nth-child(7) .img--box {
  background-image: url(/common/image/slide_freestyle.png);
}

.menu--item:nth-child(8) .img--box {
  background-image: url(/common/image/slide_samsung.png);
}

.menu--item:nth-child(9) .img--box {
  background-image: url(/common/image/slide_dku.png);
}

.menu--item:nth-child(10) .img--box {
  background-image: url(/common/image/project_zpmireuk.png);
}

@media (max-width: 767px) {
  .menu--item {
    width: 80vw;
  }
}

.menu--item.is-hover {
  z-index: 2;
}

.menu--item:nth-child(odd) {
  margin-top: 3vw;
}

.img--box {
  height: 100%;
  width: 150%;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.item--num {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 8px;
  overflow: hidden;
}

.item--num .p-fake {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.item--num .p-real {
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32.8vw;
}

.item--img {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #000;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
}

.item--year {
  color: white;
  font-size: 14px;
  margin-left: 8px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  position: relative;
  overflow: hidden;
}

.item--year .p-fake {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.item--year .p-real {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.item--tit {
  color: white;
  font-size: 24px;
  font-size: 5vw;
  pointer-events: none;
  text-align: center;
  font-weight: 500;
}

.item--tit {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-20deg) translateY(-50%);
          transform: translateX(-50%) rotate(-20deg) translateY(-50%);
  width: 200%;
  overflow: hidden;
  line-height: 1;
}

.item--tit .tit-lv1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.item--tit .tit-lv2-real {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.item--tit .tit-lv2-clone {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.item--class {
  color: white;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 1vw;
  overflow: hidden;
}

.item--class .p-fake {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.item--class .p-real {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.menu--item.is-hover .item--year .p-real {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu--item.is-hover .item--class .p-real {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu--item.is-hover .item--num .p-real {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu--item.is-hover .item--img {
  -webkit-filter: grayscale(20%) opacity(0.4);
          filter: grayscale(20%) opacity(0.4);
}

.menu--item.is-hover .item--tit .tit-lv2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(1) .tit-lv2-real {
  -webkit-transition-delay: 0.01111s;
          transition-delay: 0.01111s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(2) .tit-lv2-real {
  -webkit-transition-delay: 0.02222s;
          transition-delay: 0.02222s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(3) .tit-lv2-real {
  -webkit-transition-delay: 0.03333s;
          transition-delay: 0.03333s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(4) .tit-lv2-real {
  -webkit-transition-delay: 0.04444s;
          transition-delay: 0.04444s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(5) .tit-lv2-real {
  -webkit-transition-delay: 0.05556s;
          transition-delay: 0.05556s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(6) .tit-lv2-real {
  -webkit-transition-delay: 0.06667s;
          transition-delay: 0.06667s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(7) .tit-lv2-real {
  -webkit-transition-delay: 0.07778s;
          transition-delay: 0.07778s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(8) .tit-lv2-real {
  -webkit-transition-delay: 0.08889s;
          transition-delay: 0.08889s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(9) .tit-lv2-real {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(10) .tit-lv2-real {
  -webkit-transition-delay: 0.11111s;
          transition-delay: 0.11111s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(11) .tit-lv2-real {
  -webkit-transition-delay: 0.12222s;
          transition-delay: 0.12222s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(12) .tit-lv2-real {
  -webkit-transition-delay: 0.13333s;
          transition-delay: 0.13333s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(13) .tit-lv2-real {
  -webkit-transition-delay: 0.14444s;
          transition-delay: 0.14444s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(14) .tit-lv2-real {
  -webkit-transition-delay: 0.15556s;
          transition-delay: 0.15556s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(15) .tit-lv2-real {
  -webkit-transition-delay: 0.16667s;
          transition-delay: 0.16667s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(16) .tit-lv2-real {
  -webkit-transition-delay: 0.17778s;
          transition-delay: 0.17778s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(17) .tit-lv2-real {
  -webkit-transition-delay: 0.18889s;
          transition-delay: 0.18889s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(18) .tit-lv2-real {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(19) .tit-lv2-real {
  -webkit-transition-delay: 0.21111s;
          transition-delay: 0.21111s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(20) .tit-lv2-real {
  -webkit-transition-delay: 0.22222s;
          transition-delay: 0.22222s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(21) .tit-lv2-real {
  -webkit-transition-delay: 0.23333s;
          transition-delay: 0.23333s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(22) .tit-lv2-real {
  -webkit-transition-delay: 0.24444s;
          transition-delay: 0.24444s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(23) .tit-lv2-real {
  -webkit-transition-delay: 0.25556s;
          transition-delay: 0.25556s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(24) .tit-lv2-real {
  -webkit-transition-delay: 0.26667s;
          transition-delay: 0.26667s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(25) .tit-lv2-real {
  -webkit-transition-delay: 0.27778s;
          transition-delay: 0.27778s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(26) .tit-lv2-real {
  -webkit-transition-delay: 0.28889s;
          transition-delay: 0.28889s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(27) .tit-lv2-real {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(28) .tit-lv2-real {
  -webkit-transition-delay: 0.31111s;
          transition-delay: 0.31111s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(29) .tit-lv2-real {
  -webkit-transition-delay: 0.32222s;
          transition-delay: 0.32222s;
}

.menu--item.is-hover .item--tit .tit-lv1:nth-child(30) .tit-lv2-real {
  -webkit-transition-delay: 0.33333s;
          transition-delay: 0.33333s;
}

@media (max-width: 767px) {
  .menu--wrapper {
    -webkit-transform: translate(-50, -50%) rotate(20deg);
            transform: translate(-50, -50%) rotate(20deg);
  }
  .menu--item {
    width: 68.5vw;
    height: 100vw;
    padding-right: 5.3vw;
  }
  .item--num {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .item--content {
    height: 80%;
  }
  .item--img {
    border-radius: 10px;
  }
  .item--year {
    font-size: 12px;
    margin-left: 12px;
  }
  .item--tit {
    font-size: 16px;
    margin-top: 16px;
  }
  .item--class {
    font-size: 14px;
    margin-top: 10px;
  }
}

.menu--pagination {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.menu--pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu--pagination-list {
  width: 12px;
  height: 22px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 6px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.menu--pagination-list:nth-child(odd) {
  margin-top: 12px;
}

.menu--pagination-list:last-child {
  margin-right: 0;
}

.menu--pagination-list-box {
  width: 400%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .menu--pagination {
    left: 20px;
    bottom: 20px;
  }
  .menu--pagination-list-box {
    width: 200%;
  }
}
/*# sourceMappingURL=project.css.map */