@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./nav.css");
@import url("./header.css");
@import url("./line.css");
@import url("./circle.css");
@import url("./footer.css");
@import url("./cursor.css");
@import url("./read_more.css");
@import url("./font.css");
@mixin absCenter {position: absolute;transform:translate(-50%,-50%);left: 50%;top: 50%;}
@mixin persParent{transform-style: preserve-3d; overflow: hidden;}

$font1 :  Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
$font2 : 'Playfair Display', serif;
$font3 : -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
$gray : rgba(255,255,255,0.5);
body{overflow: hidden;}
.menu {overflow: hidden;cursor: grab;width: 100%;position: relative;z-index: 1;height: 100vh;}
.menu.is-dragging {cursor: grabbing;}
.menu--wrapper{display: flex;position: absolute;z-index: 1;height: 100%;top: 0;left: 0;width: 100%;transform: rotate(20deg);}
.menu--item{position: absolute;z-index: 1;top: 0;left: 0;width: 30vw;height: 100%;overflow: hidden;padding-right:80px;
    .img--box{height: 100%;width:120%;background-size: cover;background-repeat:repeat-y;background-position:center center;transform: translateX(0);}
    &:nth-child(1)  .img--box{background-image: url(/common/image/project_bespoke.png);}
    &:nth-child(2)  .img--box{background-image: url(/common/image/project_dubai.png);}
    &:nth-child(3)  .img--box{background-image: url(/common/image/project_freestyle.png);}
    &:nth-child(4)  .img--box{background-image: url(/common/image/project_imsil.png);}
    &:nth-child(5)  .img--box{background-image: url(/common/image/project_labstart.png);}
    &:nth-child(6)  .img--box{background-image: url(/common/image/project_yakwang.png);}
    &:nth-child(7)  .img--box{background-image: url(/common/image/project_zepeto.png);}
    &:nth-child(8)  .img--box{background-image: url(/common/image/project_zpmireuk.png);}
    &:nth-child(9)  .img--box{background-image: url(/common/image/project_zpsamsung.png);}
    &:nth-child(10) .img--box{background-image: url(/common/image/project_zpmireuk.png);}
    @media (max-width: 767px){width: 40vw;height: 40vw;}
}
.item{
    &--num{color: white;font-size: 24px;}
    &--content{display: flex;height: 32.8vw;}
    &--img{width:100%;position: relative;overflow: hidden;background-size: contain;background-repeat: no-repeat;}
    &--year{writing-mode: tb-rl;color: $gray;font-size: 24px;}
    &--tit{font-size: 32px;color: white;}
    &--class{color: $gray;}
}