@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./font.css");
@import url("./nav.css");
@import url("./header.css");
@import url("./line.css");
@import url("./circle.css");
@import url("./footer.css");
@import url("./cursor.css");
@import url("./read_more.css");
@import url("./belt.css");
@mixin absCenter {position: absolute;transform:translate(-50%,-50%);left: 50%;top: 50%;}
@mixin persParent{transform-style: preserve-3d; overflow: hidden;}
@mixin beltContainer {position: relative;overflow-x: hidden;width: 100%;};
//$font1 :  Arial, Helvetica, sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Lucida Grande";
$font1 :  'Helvetica Neue';
$font2 : 'Playfair Display', serif;
$font3 : 'AppleSD';

$black : #000000;
$white : #ffffff;
*{padding: 0;margin: 0;box-sizing: border-box;}
body{font-size: 14px;font-family: $font1;background-color: #333;transition-duration: 0.6s;overflow-x: hidden;width: 100%;}
#colorStyle{transition-duration: 0.6s;transition-property: background-color;}
#colorStyle.black{
    .belt_small_belt svg{fill: $white;}
    .belt_small_belt p{color: white;}
}
#colorStyle.white{
    .belt_small_belt svg{fill: $black;}
    .belt_small_belt p{color: black;}
}
#colorStyle.mobile-black{
    .belt_small_belt svg{fill: $white;}
    .belt_small_belt p{color: white;}
}
#colorStyle.mobile-white{
    .belt_small_belt svg{fill: $black;}
    .belt_small_belt p{color: black;}
}
#colorStyle.black{background-color: $black;}
#colorStyle.white{background-color: $white;}
#colorStyle.mobile-black{background-color: $black;}
#colorStyle.mobile-white{background-color: $white;}
body.hidden{height: 100%;min-height: 100%;overflow: hidden !important; touch-action: none;}
a,a:visited,a:link,a:hover{color: $black;text-decoration: none;}
li{list-style: none;}
#nav, #downCircle, #header{z-index: 99;}
#downCircle{display: none;}
.hidden{position: absolute;opacity: 0;cursor: default;pointer-events: unset;top: 0;left: 0;}
.none{display: none !important;}
.relative{position: relative;}
.font1{font-family: $font1;}
.font2{font-family: $font2;}
.trans0{transition-duration: 0s !important;}
.opac0{opacity: 0 !important;}
.opac1{opacity: 1 !important;}
.on_mobile{display: none !important;}
.on_win{display: block !important;}
.text2{font-family: $font2;}
.italic{font-style: italic;}
@media all and(max-width:768px){
    .on_win{display: none !important;}
    .on_mobile{display: block !important; }
    #soundPlayBtn{display: none}
}

.perspective-text-parent{@include persParent;display: inline-block;}
.perspective-text-child{transition-property: transform;display: inline-block;}
@for $h from 1 through 10{
    @for $i from 1 through 20{
        .perspective-text-parent:nth-child(#{$h}){
            .on-view .perspective-text-child:nth-child(#{$i}){
                transition-delay: #{$h/10 + $i/30}s !important;
            }
        }
    }
}
.open-text-child{overflow-y: hidden;display: block;}
.open-text-child span{display: inline-block;transition-duration: 0.4s;transform: translate(0,100%);transition-delay: 0s;opacity: 0;}
.on-view .open-text-child span{transform: translate(0,0px);transition-delay: 1s;opacity: 1;}
@for $i from 1 through 7{
    .on-view .open-text-child:nth-of-type(#{$i}){
    @for $k from 1 through 60{
            span:nth-of-type(#{$k}){
                transition-delay: #{$i*0.1 + $k*0.02 - 0.1}s;
            }
        }
    }
}
@for $i from 1 through 7{
    .on-view .split_space2.open-text-child:nth-of-type(#{$i}){
    @for $k from 1 through 60{
            span:nth-of-type(#{$k}){
                transition-delay: #{$i*0.1 + $k*0.05 - 0.1}s;
            }
        }
    }
}
.open-text-child.on-view span{transform: translate(0,0px);transition-delay: 1s;}
@for $i from 1 through 3{
    .on-view.open-text-child:nth-of-type(#{$i}){
    @for $k from 1 through 60{
            span:nth-of-type(#{$k}){
                transition-delay: #{$i*0.1 + $k*0.01}s;
            }
        }
    }
}
// .s1__c3.slot-container{transform:rotateX(90deg) rotateY(0deg)}
// .s1__c3.slot-container.on-view{transform: rotateX(0deg) rotateY(0deg);}
// .s1__c3 .slot-content:not(.fake){transform: rotateX(0deg) translateZ(200px);}
.fake{opacity: 0;transform: unset;position: unset !important;}
#colorStyle.black{
    .title_container svg{fill:$white;}
}
#colorStyle.white{
    .title_container svg{fill:$black;}
}
#colorStyle.mobile-black{
    .title_container svg{fill:$white;}
}
#colorStyle.mobile-white{
    .title_container svg{fill:$black;}
}
.title_container{display: flex;}
.title_container{padding: 40px 0 0 0;}
.title_container .blink{width: 26px;height: 26px;}
.title_container .title_text{font-size: 18px;margin-left: 10px;margin-top: 2px;font-weight: 300;}
.title_container{margin-left: 40px;}


@media all and(max-width:768px){
    .title_container{padding: 16px 0 0 0;}
    .title_container .title_text{font-size: 14px;}
    .title_container .blink{width: 17px;height: 17px;transform: translate(0,3px);}
}

.belt_small{position: relative;overflow-x: hidden;height: 30px;margin-bottom: 80px; @include beltContainer;}
.belt_small_wrap{position: absolute;display: -webkit-box;}
.belt_small_belt{transform: translate(50%,0);}
.belt_small_belt svg{width: 26px;height: 26px;transition-duration: .3s;transition-property:color;}
.belt_small_belt p, .belt_small_belt svg{display: inline-block;}
.belt_small_belt p{font-size: 16px;margin: 0px 22px;transform: translate(0, -6px);}
@media all and(max-width:768px){
    .belt_small{margin-bottom: 50px;}
    .belt_small p{font-weight: 300;font-size: 14px;margin: 0 10px;}
    .belt_small svg{width: 16px;transform: translate(0,3px);}
}