@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./nav.css");
@import url("./header.css");
@import url("./line.css");
@import url("./circle.css");
@import url("./footer.css");
@import url("./cursor.css");
@import url("./read_more.css");
.services_on_pc {
  opacity: 1;
}

.services_on_mobile {
  opacity: 0;
}

@media all and (max-width: 768px) {
  .services_on_pc {
    opacity: 0;
  }
  .services_on_mobile {
    opacity: 1;
  }
}

#colorStyle #sect1, #colorStyle #sect2, #colorStyle #sect3, #colorStyle #sect4, #colorStyle #sect5 {
  width: calc(100% - 80px);
  margin: auto;
}

@media all and (max-width: 768px) {
  #colorStyle #sect1, #colorStyle #sect2, #colorStyle #sect3, #colorStyle #sect4, #colorStyle #sect5 {
    width: calc(100% - 40px);
    margin: auto;
  }
}

#colorStyle #sect1 {
  padding-top: 345px;
}

#colorStyle #sect1 .s1__head {
  width: 91.5%;
  margin-left: 8.5%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#colorStyle #sect1 .s1__head span:not(.s1__span_img) {
  font-size: 6vw;
  line-height: 1;
  display: inline-block;
  font-weight: 500;
}

#colorStyle #sect1 .s1__head span {
  -webkit-transform: rotateX(-46deg) translateZ(20px) scaleY(0);
          transform: rotateX(-46deg) translateZ(20px) scaleY(0);
  opacity: 0;
  -webkit-transition: -webkit-transform opacity;
  transition: -webkit-transform opacity;
  transition: transform opacity;
  transition: transform opacity, -webkit-transform opacity;
}

#colorStyle #sect1 .s1__head.on-view span {
  -webkit-transform: rotateX(0deg) translateZ(120px) scaleY(1);
          transform: rotateX(0deg) translateZ(120px) scaleY(1);
  opacity: 1;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(1) {
  -webkit-transition-delay: 0.03333s !important;
          transition-delay: 0.03333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(2) {
  -webkit-transition-delay: 0.06667s !important;
          transition-delay: 0.06667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(3) {
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(4) {
  -webkit-transition-delay: 0.13333s !important;
          transition-delay: 0.13333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(5) {
  -webkit-transition-delay: 0.16667s !important;
          transition-delay: 0.16667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(6) {
  -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(7) {
  -webkit-transition-delay: 0.23333s !important;
          transition-delay: 0.23333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(8) {
  -webkit-transition-delay: 0.26667s !important;
          transition-delay: 0.26667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(9) {
  -webkit-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(10) {
  -webkit-transition-delay: 0.33333s !important;
          transition-delay: 0.33333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(11) {
  -webkit-transition-delay: 0.36667s !important;
          transition-delay: 0.36667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(12) {
  -webkit-transition-delay: 0.4s !important;
          transition-delay: 0.4s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(13) {
  -webkit-transition-delay: 0.43333s !important;
          transition-delay: 0.43333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(14) {
  -webkit-transition-delay: 0.46667s !important;
          transition-delay: 0.46667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(15) {
  -webkit-transition-delay: 0.5s !important;
          transition-delay: 0.5s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(16) {
  -webkit-transition-delay: 0.53333s !important;
          transition-delay: 0.53333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(17) {
  -webkit-transition-delay: 0.56667s !important;
          transition-delay: 0.56667s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(18) {
  -webkit-transition-delay: 0.6s !important;
          transition-delay: 0.6s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(19) {
  -webkit-transition-delay: 0.63333s !important;
          transition-delay: 0.63333s !important;
}

#colorStyle #sect1 .s1__head.on-view span:nth-child(20) {
  -webkit-transition-delay: 0.66667s !important;
          transition-delay: 0.66667s !important;
}

#colorStyle #sect1 .s1__head span.margin {
  margin-right: 120px;
  display: inline-block;
  height: 10%;
}

#colorStyle #sect1 .s1__span_img {
  height: 6.5vw;
  width: 15vw;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  display: inline-block;
  background-image: url(/common/image/services_s1head.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#colorStyle #sect1 .s1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 130px;
}

#colorStyle #sect1 .s1__body_img {
  width: 29.3%;
  margin-right: 9.5%;
}

#colorStyle #sect1 .s1__body_img img {
  width: 100%;
}

#colorStyle #sect1 .s1__body_text {
  font-size: 22px;
  font-family: "AppleSD";
  font-weight: 300;
  line-height: 1.5;
}

#colorStyle #sect1 .on_pc {
  display: block;
}

@media all and (max-width: 1300px) {
  #colorStyle #sect1 .s1__head span:not(.s1__span_img) {
    font-size: 4vw;
    line-height: 1.15;
  }
  #colorStyle #sect1 .s1__span_img {
    width: 100px;
    height: 40px;
  }
}

@media all and (max-width: 768px) {
  #colorStyle #sect1 {
    padding-top: 170px;
    padding-bottom: 60px;
  }
  #colorStyle #sect1 .s1__head {
    margin-left: 0;
  }
  #colorStyle #sect1 .s1__head span:not(.s1__span_img) {
    font-size: 32px;
  }
  #colorStyle #sect1 .s1__head.on-view .s1__span_img {
    -webkit-transform: rotateX(0deg) translateZ(120px) scaleY(1) translateY(4px);
            transform: rotateX(0deg) translateZ(120px) scaleY(1) translateY(4px);
  }
  #colorStyle #sect1 .s1__body {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #colorStyle #sect1 .s1__body_img {
    width: 100%;
    margin-top: 56px;
  }
  #colorStyle #sect1 .s1__body_text {
    font-size: 16px;
  }
  #colorStyle #sect1 .on_pc {
    display: none !important;
  }
}

#colorStyle #sect2 {
  padding: 140px 0 280px;
}

#colorStyle #sect2 .s2__bg {
  width: 100%;
  margin: auto;
}

#colorStyle #sect2 .s2__bg img {
  width: 100%;
}

#colorStyle #sect2 .s2__title {
  padding-top: 0px;
  position: absolute;
  top: 0%;
  left: 0;
  color: #000000;
  text-align: center;
  width: 100%;
  line-height: 1;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  font-weight: 500;
}

#colorStyle #sect2 .s2__title1 {
  font-size: 240px;
  padding-top: 0px;
  opacity: 1;
}

#colorStyle #sect2 .s2__title2 {
  font-size: 120px;
  padding-top: 0px;
  opacity: 0;
}

#colorStyle #sect2 .s2__title3 {
  font-size: 60px;
  padding-top: 0px;
  opacity: 0;
}

#colorStyle #sect2 .fixed {
  position: fixed;
}

#colorStyle #sect2 .end {
  top: unset;
  bottom: 0;
}

@media all and (max-width: 1350px) {
  #colorStyle #sect2 .s2__title {
    padding-top: 70px;
  }
  #colorStyle #sect2 .s2__title1 {
    opacity: 0;
  }
  #colorStyle #sect2 .s2__title2 {
    opacity: 1;
  }
  #colorStyle #sect2 .s2__title3 {
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  #colorStyle #sect2 {
    padding: 70px 0 100px;
  }
  #colorStyle #sect2 .s2__title {
    padding-top: 40px;
    font-size: 60px;
  }
  #colorStyle #sect2 .s2__title1 {
    opacity: 0;
  }
  #colorStyle #sect2 .s2__title2 {
    opacity: 0;
  }
  #colorStyle #sect2 .s2__title3 {
    opacity: 1;
  }
}

#colorStyle #sect3 {
  padding-top: 160px;
}

#colorStyle #sect3 .line {
  padding: 0;
}

#colorStyle #sect3 .s3__head {
  text-align: center;
  font-size: 60px;
}

#colorStyle #sect3 .s3__body {
  padding: 0 8.035%;
}

#colorStyle #sect3 .s3__fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 72px 0 144px;
}

#colorStyle #sect3 .s3__tit, #colorStyle #sect3 .s3__exp {
  font-size: 40px;
  font-weight: 500;
}

#colorStyle #sect3 .s3__tit, #colorStyle #sect3 .s3__cto {
  width: calc(49.35%);
}

#colorStyle #sect3 .s3__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 2.2;
  margin-top: 40px;
  font-weight: 300;
}

#colorStyle #sect3 .s3__sub .col {
  width: 38.5%;
}

@media all and (max-width: 768px) {
  #colorStyle #sect3 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  #colorStyle #sect3 .s3__fig {
    display: block;
    padding: 16px 0 100px;
  }
  #colorStyle #sect3 .s3__fig:last-child {
    padding-bottom: 0px;
  }
  #colorStyle #sect3 .s3__tit, #colorStyle #sect3 .s3__exp {
    font-size: 20px;
    line-height: 1.33;
  }
  #colorStyle #sect3 .s3__exp {
    margin-top: 70px;
  }
  #colorStyle #sect3 .s3__tit, #colorStyle #sect3 .s3__cto {
    width: 100%;
  }
  #colorStyle #sect3 .s3__sub {
    display: block;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 16px;
  }
  #colorStyle #sect3 .s3__sub .col {
    width: 100%;
  }
}

#colorStyle #sect4 {
  width: 100%;
  height: 13.4vw;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 240px;
}

#colorStyle #sect4 .s4__belt {
  width: 100%;
  height: 100%;
}

#colorStyle #sect4 .s4__belt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#colorStyle #sect4 .s4__belt_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12vw;
  line-height: 1;
  font-weight: 500;
}

#colorStyle #sect4 .ico_blink {
  width: 9.8vw;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  margin: 0 2.5vw;
}

#colorStyle #sect4 .text2 {
  -webkit-transform: translate(0, -1vw);
          transform: translate(0, -1vw);
}

@media all and (max-width: 768px) {
  #colorStyle #sect4 {
    height: 34vw;
    margin-bottom: 100px;
    margin-top: 0px;
  }
  #colorStyle #sect4 .s4__belt_item {
    font-size: 33vw;
  }
  #colorStyle #sect4 .ico_blink {
    width: 28vw;
    -webkit-transform: translate(0, 4.5vw);
            transform: translate(0, 4.5vw);
  }
  #colorStyle #sect4 .text2 {
    -webkit-transform: translate(0, -2vw);
            transform: translate(0, -2vw);
  }
}

#colorStyle #sect5 {
  padding: 0 155px 270px;
}

#colorStyle #sect5 .line {
  top: 0;
  padding: 0;
}

#colorStyle #sect5 .ico_blink {
  width: 24px;
  margin-right: 12px;
}

#colorStyle #sect5 .s5__fig {
  padding: 36px 0 200px;
  position: relative;
}

#colorStyle #sect5 .s5__fig:last-child {
  padding: 36px 0 0;
}

#colorStyle #sect5 .s5__fig_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
}

#colorStyle #sect5 .s5__fig_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}

#colorStyle #sect5 .s5__fig_tit {
  font-size: 40px;
  font-weight: 500;
}

#colorStyle #sect5 .s5__fig_cto {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

#colorStyle #sect5 .s5__fig_tit, #colorStyle #sect5 .s5__fig_cto {
  width: calc(49.35%);
}

@media all and (max-width: 768px) {
  #colorStyle #sect5 {
    padding: 0 0 94px;
  }
  #colorStyle #sect5 .ico_blink {
    width: 17px;
    margin-right: 10px;
  }
  #colorStyle #sect5 .s5__fig {
    padding: 20px 0 94px;
  }
  #colorStyle #sect5 .s5__fig_head {
    font-size: 14px;
  }
  #colorStyle #sect5 .s5__fig_body {
    display: block;
    margin-top: 54px;
  }
  #colorStyle #sect5 .s5__fig_tit, #colorStyle #sect5 .s5__fig_cto {
    width: 100%;
  }
  #colorStyle #sect5 .s5__fig_tit {
    font-size: 20px;
  }
  #colorStyle #sect5 .s5__fig_cto {
    font-size: 16px;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=services.css.map */