* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.over-hidden {
  position: relative;
  overflow: hidden;
}

.over-hidden .real {
  position: absolute;
  top: 0;
  left: 0;
}

.font1 {
  font-family: "Helvetica Neue" !important;
}

.font2 {
  font-family: "Nanum Myeongjo" !important;
}

.font3 {
  font-family: "AppleSD" !important;
}

.font4 {
  font-family: "Times New Roman", Times, serif !important;
}

.tit {
  font-size: 78px;
  font-family: "Times New Roman", Times, serif;
}

.disc {
  line-height: 1.5;
  font-family: "AppleSD";
}

img {
  width: 100%;
}

body {
  background-color: #f6f6f6;
}

#sect1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/common/image/project/sm_s1_bg.png);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  background-attachment: fixed;
}

#sect1 .s1__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  font-family: "Nanum Myeongjo";
}

#sect1 .s1__container p {
  margin-top: 60px;
}

#sect1 .s1__footer {
  font-size: 16px;
  font-family: "AppleSD";
  position: absolute;
  left: 50%;
  bottom: 120px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#sect2 {
  padding: 120px 40px 300px;
  position: relative;
  background-image: url(/common/image/project/sm_s2_bg.png);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  background-attachment: fixed;
}

#sect2 .s2__head, #sect2 .s2__body {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

#sect2 .s2__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding-bottom: 40px;
  border-bottom: 1px solid #333333;
}

#sect2 .s2__body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 160px;
}

#sect2 .s2__body_box:nth-child(1) {
  padding-left: 120px;
}

#sect2 .s2__body_box:nth-child(2) {
  font-size: 64px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
  color: #cccccc;
  letter-spacing: -4px;
}

#sect2 .s2__body_box:nth-child(3) {
  font-size: 14px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 80px;
  line-height: 1.5;
}

#sect2 .s2__body_box:nth-child(2) p, #sect2 .s2__body_box:nth-child(3) p {
  width: 50%;
}

#sect2 .s2__abs {
  position: absolute;
  bottom: 0;
  left: 400px;
  -webkit-transform: translate(0, 45%);
          transform: translate(0, 45%);
}

#sect2 .s2__abs img {
  -webkit-filter: drop-shadow(45px 45px 25px rgba(0, 0, 0, 0.2));
}

#sect3 {
  background: #f6f6f6;
  background-image: url(/common/image/project/sm_s3_bg.png);
  padding: 280px 40px 400px;
  background-position: center center;
}

#sect3 .s3__container {
  text-align: center;
  font-family: "AppleSD";
  width: 100%;
  margin: auto;
}

#sect3 .s3__box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#sect3 .s3__box:nth-child(2) p {
  font-size: 24px;
  font-weight: 500;
  color: #b8995f;
}

#sect3 .s3__box:nth-child(2) p:nth-child(2) {
  position: relative;
  width: 15px;
  margin: 0 20px;
}

#sect3 .s3__box:nth-child(2) p:nth-child(2) span {
  width: 100%;
  height: 1px;
  background-color: #b8995f;
  display: block;
  position: absolute;
}

#sect3 .s3__box:nth-child(2) p:nth-child(2) span:nth-child(1) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sect3 .s3__box:nth-child(2) p:nth-child(2) span:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

#sect3 .s3__box:nth-child(3) p {
  color: #888888;
  margin-top: 40px;
}

#sect4 {
  padding: 540px 0 560px;
  position: relative;
  background-color: #f6f6f6;
  background-image: url(/common/image/project/sm_s4_bg.png);
  background-size: cover;
  background-position: center center;
}

#sect4 .s4__abs {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

#sect4 .s4__container {
  max-width: 1700px;
  width: 100%;
  margin: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#sect4 .s4__container img {
  -webkit-filter: drop-shadow(60px 60px 25px rgba(0, 0, 0, 0.1));
}

#sect4 .s4__container .stc {
  max-width: 1200px;
}

#sect4 .s4__container .abs {
  position: absolute;
  max-width: 300px;
  right: 0;
  top: 180px;
}

#sect5 {
  width: 100%;
}

#sect6 {
  color: #ffffff;
  padding: 300px 0 0;
  position: relative;
}

#sect6 .s6__container {
  position: relative;
  padding: 0 40px;
}

#sect6 .s6__head {
  text-align: center;
}

#sect6 .s6__head p:nth-child(2) {
  margin-top: 60px;
  line-height: 1.5;
}

#sect6 .s6__body1 {
  max-width: 1170px;
  width: 100%;
  margin: 140px auto 260px;
}

#sect6 .s6__body1_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sect6 .s6__body1_box:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sect6 .s6__body1_box:nth-child(1) .s6__body1_box_circle {
  background-color: #fff;
}

#sect6 .s6__body1_box:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect6 .s6__body1_box:nth-child(2) .s6__body1_box_circle:nth-child(1) {
  background-image: url(/common/image/project/sm_s6_circle1.png);
}

#sect6 .s6__body1_box:nth-child(2) .s6__body1_box_circle:nth-child(2) {
  background-color: #b8995f;
}

#sect6 .s6__body1_box:nth-child(2) .s6__body1_box_circle:nth-child(3) {
  background-image: url(/common/image/project/sm_s6_circle3.png);
}

#sect6 .s6__body1_box:nth-child(2) .s6__body1_box_circle:nth-child(4) {
  background-image: url(/common/image/project/sm_s6_circle4.png);
}

#sect6 .s6__body1_box_circle {
  width: 233px;
  height: 233px;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

#sect6 .s6__body1_box_circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

#sect6 .s6__body1_box_circle p.black {
  color: black;
}

#sect6 .s6__body_grid {
  max-width: 1400px;
  margin: 230px auto 0;
  width: 100%;
}

#sect6 .s6__body_grid_title1 {
  margin-bottom: 50px;
}

#sect6 .s6__body_grid:nth-of-type(3) .s6__body_grid_title {
  text-align: right;
  padding-right: 200px;
}

#sect6 .s6__body_grid:nth-of-type(4) .s6__body_grid_title p {
  text-align: left;
}

#sect6 .s6__body_grid_title p:nth-child(1) {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
}

#sect6 .s6__body_grid_title p:nth-child(2) {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  color: #888888;
}

#sect6 .s6__body_grid_box {
  position: relative;
  max-width: 930px;
  margin: auto;
}

#sect6 .arrow_fig {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#sect6 .arrow_fig:nth-of-type(1) {
  max-width: 31%;
  top: 30%;
  left: 18.5%;
}

#sect6 .arrow_fig:nth-of-type(2) {
  max-width: 62.5%;
  top: 70%;
  left: 18.5%;
}

#sect6 .arrow_img {
  position: relative;
  height: 20px;
}

#sect6 .arrow_img img {
  width: unset;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#sect6 .arrow_img span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ffffff;
  top: 50%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

#sect6 .arrow_text {
  margin-top: 8px;
}

#sect6 .arrow_text p {
  text-align: center;
  color: #888888;
}

#sect6 .s6__body_grid_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect6 .s6__body_grid_box2 img {
  width: 45%;
}

#sect6 .s6__body_grid_box2 img:nth-child(2) {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

#sect6 .s6__footer {
  color: #252525;
  font-size: 260px;
  text-align: right;
  margin-top: 300px;
}

#sect7 {
  background-color: #ffffff;
  padding: 300px 40px;
}

#sect7 .s7__head {
  text-align: center;
  width: 100%;
}

#sect7 .s7__head .disc {
  margin-top: 60px;
}

#sect7 .s7__body {
  margin: 160px auto 0;
  max-width: 640px;
}

#sect7 .s7__body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sect7 .s7__body_box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sect7 .big {
  font-size: 234px;
  line-height: 0.7;
}

#sect7 .disc {
  color: #999999;
  letter-spacing: 1px;
}

#sect7 .disc b {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0px;
}

#sect7 .s7__body_box2 {
  text-align: center;
  margin-top: 120px;
}

#sect7 .s7_text1 {
  font-size: 156px;
  height: 160px;
  line-height: 1;
  font-weight: 500;
}

#sect7 .s7_text2 {
  margin-top: 30px;
  font-size: 18px;
}

#sect7 .s7_text3 {
  margin-top: 20px;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2px;
  line-height: 1.66;
}
/*# sourceMappingURL=summer.css.map */